@charset "UTF-8";

@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro-Bold.eot');
	src: local('DINPro Bold'), local('DINPro-Bold'),
		url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Bold.woff') format('woff'),
		url('../fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro-Medium.eot');
	src: local('DINPro Bold'), local('DINPro-Medium'),
		url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Medium.woff') format('woff'),
		url('../fonts/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro.eot');
	src: local('DINPro'), local('DINPro'),
		url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro.woff') format('woff'),
		url('../fonts/DINPro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
:after,
:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'DINPro', sans-serif;
	font-size: 1vw;
	/* line-height: 100%; */
	background: #EBEAE9;
	overflow-x: hidden;
}

a.ui-link {
	text-decoration: none;
	color: #000000;
	}

body {
	display: flex;
	/* justify-content: center; */
	overflow: hidden;
}

.content-container {
	/* width: 100%; */
	overflow: hidden;
	width: 94.27rem;
}

.content-container.tablet-expand {
	display: none;
}

div.clinics-page {
	padding-top: 0;
	padding-right: 2.08rem;
	display: flex;
	background: #EBEAE9;
	/* width: 100%; */
	/* max-width: 1920px; */
}

@media(max-width:1023px) {
	div.clinics-content {
		padding: 0;
		padding-top: 0.52rem;
	}
}

nav {
	width: 5.73rem;
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav .expanded-menu {
	display: none;
	padding: 0px 1.77rem;

}

nav .expanded-menu .title-container {
	display: flex;
	justify-content: space-between;
}

nav .expanded-menu .title {
	font-weight: 400;
	font-size: 1.51rem;
	line-height: 100%;
}

nav .expanded-menu .search-container {
	margin-top: 2.5rem;
	position: relative;
}

nav .expanded-menu .search-container form {
	display: flex;
	justify-content: space-between;
	align-items: center
}

nav .expanded-menu .search-container input {
	border: none;
	width: 22.43rem;
	height: 3.65rem;
	background: #EBEAE9;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 100%;
	color: #9D9D9C;
	border-bottom: 2px solid #000000;
}

nav #nav-search .search-icon,
nav .expanded-menu .search-container .search-icon {
	width: 1.93rem;
	height: 1.93rem;
	border: none;
	appearance: none;
	background-color: #EBEAE9;
	background-image: url("../img/search_icon_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav .expanded-menu .search-container .search-icon {
	width: 1.93rem;
	height: 1.93rem;
	border: none;
	appearance: none;
	background-image: url("../img/search_icon_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

nav.expand #nav-search .search-icon {
	display: none;
}

nav .expanded-menu .search-container input:focus {
	outline: none;
}

nav .expanded-menu .close-menu {
	width: 1.93rem;
	height: 1.93rem;
	background-image: url("../img/closed_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav .expanded-menu .menu-list {
	margin-top: 3.33rem;
	font-weight: 500;
	font-size: 1.67rem;
	line-height: 100%;
	text-transform: uppercase;
}

nav .expanded-menu .menu-list ul {
	list-style: none;
}

nav .expanded-menu .menu-list ul li {
	margin-bottom: 2.6rem;
	cursor: pointer;
}

nav .expanded-menu .menu-list ul li:last-child {
	margin-bottom: 13.96rem;
}

nav.expand .expanded-menu {
	display: block;
}

nav.expand {
	width: 25.47rem;
}

@media(max-width:1023px) {
	nav {
		display: none;
	}
}

nav .nav-burger-icon {
	width: 2.29rem;
	height: 1.35rem;
	background-image: url("../img/burger_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 4.43rem;
	cursor: pointer;
}

nav.expand .nav-burger-icon {
	display: none;
}

nav .nav-text-container {
	height: 41.86rem;
	display: flex;
	align-items: center;
	text-align: center;
}

nav.expand .nav-text-container {
	display: none;
}

nav .nav-text-container .text {
	transform: rotate(-90deg);
	width: 41.86rem;
	font-weight: 700;
	font-size: 1.67rem;
	line-height: 100%;
}

nav .nav-user-icon {
	width: 2.19rem;
	height: 2.19rem;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCA0NSA0MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjIuNDQ2NCIgY3k9IjExLjQyNTkiIHI9IjEwLjQyNTkiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNNDMuMjk4NCA0MS4yMTQyQzQzLjI5ODQgMzYuMDc5IDQxLjEwMTUgMzEuMTU0MSAzNy4xOTExIDI3LjUyMjlDMzMuMjgwNiAyMy44OTE4IDI3Ljk3NjggMjEuODUxOCAyMi40NDY2IDIxLjg1MThDMTYuOTE2MyAyMS44NTE4IDExLjYxMjYgMjMuODkxOCA3LjcwMjA5IDI3LjUyMjlDMy43OTE2MSAzMS4xNTQxIDEuNTk0NzMgMzYuMDc5IDEuNTk0NzMgNDEuMjE0MiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav.expand .nav-user-icon {
	align-self: flex-end;
	margin-right: 1.77rem;
}

nav.tablet-nav-menu {
	display: none;
	padding: 9px 32px;
}

@media(max-width:639px) {
	nav.tablet-nav-menu {
		padding: 14px 22px;
	}
}

nav.tablet-nav-menu .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media(max-width:1023px) {
	nav.tablet-nav-menu.tablet-expand {
		display: block;
		width: 100%;
		border: none;
	}
}

nav.tablet-nav-menu .search-container {
	margin-top: 88px;
	position: relative;
	margin-bottom: 150px;
}

nav.tablet-nav-menu .search-container form {
	display: flex;
	justify-content: space-between;
	align-items: center
}

@media(max-width:639px) {
	nav.tablet-nav-menu .search-container {
		margin-top: 42px;
		margin-bottom: 88px;
	}
}

nav.tablet-nav-menu .search-container input {
	border: none;
	width: 100%;
	height: 70px;
	background: #EBEAE9;
	font-size: 18px;
	line-height: 100%;
	color: #9D9D9C;
	border-bottom: 1px solid #000000;
}

@media(max-width:639px) {
	nav.tablet-nav-menu .search-container input {
		font-size: 14px;
		line-height: 100%;
	}
}

nav.tablet-nav-menu .search-container .search-icon {
	width: 29px;
	height: 29px;
	border: none;
	appearance: none;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuMjEyOSIgY3k9IjExLjIxMjkiIHI9IjEwLjcxMjkiIHN0cm9rZT0iYmxhY2siLz4KPGxpbmUgeDE9IjI3Ljc1NjQiIHkxPSIyNi43MzgzIiB4Mj0iMTkuODM4MiIgeTI9IjE4LjgyMDEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

@media(max-width:639px) {
	nav.tablet-nav-menu .search-container .search-icon {
		width: 22px;
		height: 22px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2Ljc1MTYgOC42MjU4MUMxNi43NTE2IDEzLjExMzYgMTMuMTEzNiAxNi43NTE2IDguNjI1ODEgMTYuNzUxNkM0LjEzODA1IDE2Ljc1MTYgMC41IDEzLjExMzYgMC41IDguNjI1ODFDMC41IDQuMTM4MDUgNC4xMzgwNSAwLjUgOC42MjU4MSAwLjVDMTMuMTEzNiAwLjUgMTYuNzUxNiA0LjEzODA1IDE2Ljc1MTYgOC42MjU4MVoiIHN0cm9rZT0iYmxhY2siLz4KPGxpbmUgeDE9IjIxLjE4OTIiIHkxPSIyMC41NjkzIiB4Mj0iMTUuMjYxIiB5Mj0iMTQuNjQxMiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
	}
}

nav.tablet-nav-menu .search-container:active {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuMjEyOSIgY3k9IjExLjIxMjkiIHI9IjEwLjcxMjkiIGZpbGw9ImJsYWNrIiBzdHJva2U9ImJsYWNrIi8+CjxsaW5lIHgxPSIyNy43NTY0IiB5MT0iMjYuNzM4MyIgeDI9IjE5LjgzODIiIHkyPSIxOC44MjAxIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=");
}

nav.tablet-nav-menu .search-container input:focus {
	outline: none;
}

nav.tablet-nav-menu .close-menu {
	width: 29px;
	height: 29px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMjkiIHZpZXdCb3g9IjAgMCAzMCAyOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI4LjY0MDkgMjcuNjQwNkwxLjQ1MzE2IDAuOTA2MDgyIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+CjxwYXRoIGQ9Ik0xLjkwNjI3IDI3LjY0MDZMMjguNjQwOCAwLjkwNjA4MiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

@media(max-width:639px) {
	nav.tablet-nav-menu .close-menu {
		width: 22px;
		height: 22px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIyLjI2MSAyMi4yNjEzTDEuMzQ4NTYgMS42OTczNSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8cGF0aCBkPSJNMS42OTcxIDIyLjI2MDdMMjIuMjYxIDEuNjk2ODIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==");
	}
}

nav.tablet-nav-menu .title {
	font-size: 24.6154px;
	line-height: 100%;
	text-transform: uppercase;
	color: #3B3B3A;
	font-weight: 700;
}

@media(max-width:540px) {
	nav.tablet-nav-menu .title {
		font-size: 20px;
		line-height: 100%;
	}
}

@media(max-width:460px) {
	nav.tablet-nav-menu .title {
		font-size: 16px;
		line-height: 100%;
	}
}

@media(max-width:639px) {
	nav.tablet-nav-menu .title {
		font-size: 14px;
		line-height: 100%;
	}
}

nav.tablet-nav-menu img.logo {
	width: 144x;
	height: 43px;
}

@media(max-width:710px) {
	nav.tablet-nav-menu img.logo {
		display: none;
	}
}

nav.tablet-nav-menu .menu-list {
	font-weight: 500;
	font-size: 24px;
	line-height: 100%;
	line-height: 110%;
	text-transform: uppercase;
}

@media(max-width:639px) {
	nav.tablet-nav-menu .menu-list {
		font-size: 16px;
		line-height: 100%;
	}
}

nav.tablet-nav-menu .menu-list ul {
	list-style: none;
}

nav.tablet-nav-menu .menu-list ul li {
	margin-bottom: 50px;
	cursor: pointer;
}

nav.tablet-nav-menu .menu-list ul li:last-child {
	margin-bottom: 42px;
}

nav.tablet-nav-menu .nav-user-icon {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzNCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGVsbGlwc2UgY3g9IjE2Ljk2MTgiIGN5PSI5LjAxOTA5IiByeD0iOC4wMTkwOSIgcnk9IjguMDE5MDkiIHN0cm9rZT0iYmxhY2siLz4KPHBhdGggZD0iTTMzIDMxLjkzMTdDMzMgMjcuOTgxOSAzMS4zMTAzIDI0LjE5MzkgMjguMzAyNSAyMS40MDFDMjUuMjk0OCAxOC42MDgxIDIxLjIxNTQgMTcuMDM5MSAxNi45NjE4IDE3LjAzOTFDMTIuNzA4MiAxNy4wMzkxIDguNjI4ODYgMTguNjA4MSA1LjYyMTEyIDIxLjQwMUMyLjYxMzM4IDI0LjE5MzkgMC45MjM2NDYgMjcuOTgxOSAwLjkyMzY0NSAzMS45MzE3IiBzdHJva2U9ImJsYWNrIi8+Cjwvc3ZnPgo=");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	margin-left: auto;
}

@media(max-width:639px) {
	nav.tablet-nav-menu .nav-user-icon {
		width: 25px;
		height: 25px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNyAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTMuNjYzMiIgY3k9IjcuMjcxODkiIHI9IjYuMTY4MzgiIHN0cm9rZT0iYmxhY2siLz4KPHBhdGggZD0iTTI2IDI0Ljg5NkMyNiAyMS44NTc4IDI0LjcwMDIgMTguOTQ0IDIyLjM4NjYgMTYuNzk1N0MyMC4wNzMgMTQuNjQ3NCAxNi45MzUxIDEzLjQ0MDQgMTMuNjYzMiAxMy40NDA0QzEwLjM5MTMgMTMuNDQwNCA3LjI1MzQyIDE0LjY0NzMgNC45Mzk4MyAxNi43OTU3QzIuNjI2MjQgMTguOTQ0IDEuMzI2NDggMjEuODU3OCAxLjMyNjQ4IDI0Ljg5NiIgc3Ryb2tlPSJibGFjayIvPgo8L3N2Zz4K");
	}
}

header {
	display: flex;
	align-items: center;
	/* height: 67px; */
	border-bottom: 2px solid black;
	padding-bottom: 0.52rem;
}

@media(max-width:1023px) {
	header {
		/* height: 60px; */
		border-bottom: none;
		padding-bottom: 0px;
	}
}

@media(max-width:1023px) {
	header .header-burger-icon {
		width: 4.3rem;
		height: 3.2rem;
		background-image: url("../img/burger_tablet.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-left: 4.3rem;
		cursor: pointer;
	}
}

@media(max-width:1023px) {
	header .header-search-icon {
		width: 3.78rem;
		height: 3.78rem;
		background-image: url("../img/search_icon_tablet.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-left: 3.78rem;
		cursor: pointer;
	}
}

@media(max-width:639px) {
	header .header-burger-icon {
		background-image: url("../img/burger_tablet.svg");
		width: 6.93rem;
		height: 4.53rem;
		margin-left: 5.87rem;
	}
}

@media(max-width:639px) {
	header .header-search-icon {
		background-image: url("../img/search_icon_tablet.svg");
		width: 5.87rem;
		height: 5.87rem;
		margin-left: 5.87rem;
	}
}

header .logo {
	width: 9.74rem;
	margin-left: 2.34rem;
	margin-right: 1.82rem;
}

@media(max-width:1023px) {
	header .logo {
		width: 18.75rem;
		margin-left: auto;
	}
}

@media(max-width:639px) {
	header .logo {
		width: 23.47rem;
	}
}

header .webinar-breadcrumbs {
	margin-left: 2.08rem;
}

@media(max-width:1023px) {
	header .webinar-breadcrumbs {
		display: none;
	}
}

header div.breadcrumbs {
	display: flex;
}

header div.breadcrumbs a {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 1.042rem;
	line-height: 100%;
	color: #525251;
	text-transform: uppercase;
}

header div.breadcrumbs a::before {
	content: "";
	width: 0.47rem;
	height: 0.83rem;
	margin: 0px 0.63rem;
	background-image: url("../img/breadcrumbs_arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}

main .video-container {
	border-bottom: 2px solid black;
	padding-left: 44px;
	padding-right: 115px;
}

@media(max-width:1400px) {
	main .video-container {
		padding-left: 33px;
		padding-right: 87px;
	}
}

@media(max-width:1200px) {
	main .video-container {
		padding-left: 22px;
		padding-right: 60px;
	}
}

@media(max-width:960px) {
	main .video-container {
		padding-left: 11px;
		padding-right: 30px;
	}
}

@media(max-width:1023px) {
	main .video-container {
		border-bottom: none;
		padding-right: 0px;
		padding-left: 0px;
	}
}

main .video-container video {
	width: 100%;
	min-width: 639px;
}

@media(max-width:1023px) {
	main .video-container video {
		width: 100%;
	}
}

main .webinars-tab-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 133px;
	border-bottom: 2px solid black;
	padding-left: 45px;
	padding-right: 90px;
	display: none;
}

@media(max-width:1023px) {
	main .webinars-tab-bar {
		padding-left: 23px;
		padding-right: 23px;
	}
}

@media(max-width:639px) {
	main .webinars-tab-bar {
		padding-left: 10px;
		padding-right: 10px;
	}
}

main .webinars-tab-bar .tablet,
main .webinars-tab-bar .mobile {
	display: none;
}

@media(max-width:1023px) {
	main .webinars-tab-bar .desktop {
		display: none;
	}

	main .webinars-tab-bar .tablet {
		display: flex;
	}
}

@media(max-width:639px) {
	main .webinars-tab-bar .tablet {
		display: none;
	}

	main .webinars-tab-bar .mobile {
		display: flex;
	}
}

main .webinars-tab-bar .webinars-tab-bar-likes {
	display: flex;
}

main .webinars-tab-bar .webinars-tab-bar-controls {
	display: flex;
}

main .webinars-tab-bar .ui-like-container.like,
main .webinars-tab-bar .ui-share-container,
main .webinars-tab-bar .ui-save-container {
	margin-right: 4px;
}

main .webinars-empty-row {
	height: 124px;
	border-bottom: 2px solid black;
}

@media(max-width:1023px) {
	main .webinars-empty-row {
		display: none;
	}
}

@media(max-width:639px) {
	main .webinars-empty-row {
		display: none;
	}
}

main .webinars-tags {
	display: flex;
	align-items: center;
	padding: 4.64em 1.29em;
	border-bottom: 2px solid black;
}

main .webinars-tags .title {
	margin-right: 11.32em;
	font-weight: 700;
	font-size: 2.43rem;
	line-height: 100%;
	
}

@media(max-width:1023px) {
	main .webinars-tags .title {
		font-size: 4.69em;
		line-height: 100%;
		margin-right: 11.32em;
	}
}

@media(max-width:639px) {
	main .webinars-tags .title {
		font-size: 5.87em;
		line-height: 100%;
	}
}

main .webinars-tags .tags-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: -30px;
}

main .webinars-tags .tags-container a {
	margin-right: 25px;
	margin-top: 30px;
	text-decoration-line: underline;
	color: #000000;
}

@media(max-width:1023px) {
	main .webinars-tags .tags-container a {
		font-size: 10px;
		line-height: 100%;
		/* line-height: 13px; */
	}
}


main .webinars-recomendations {
	border-bottom: 2px solid black;
	margin-top: 11.72rem;
}

main .webinars-recomendations .title {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid black;
	height: 135px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 45px;
	line-height: 100%;
}

@media(max-width:1023px) {
	main .webinars-recomendations .title {
		font-size: 36px;
		line-height: 100%;
	}
}

@media(max-width:639px) {
	main .webinars-recomendations .title {
		font-size: 28px;
		line-height: 100%;
	}
}

main .webinars-recomendations .recomendations-container {
	display: flex;
	padding: 40px 0px 68px 16px;
	max-width: 1766px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

main .webinars-recomendations .recomendations-card {
	min-width: 411px;
	margin-right: 133px;
	height: 100%;
	filter: grayscale(100%);
	transition: all 0.5s ease;
	cursor: pointer;
}

main .webinars-recomendations .recomendations-card a {
	min-width: 411px;
	margin-right: 133px;
	height: 100%;
	color: #000000;
}

@media(max-width:1023px) {
	main .webinars-recomendations .recomendations-card {
		min-width: 233px;
		margin-right: 24px;
	}
}

@media(max-width:639px) {
	main .webinars-recomendations .recomendations-card {
		margin-right: 14px;
	}
}

main .webinars-recomendations .recomendations-card .сard-image {
	width: 100%;
	object-fit: cover;
	height: 100%;
	min-height: 411px;
	max-width: 411px;

}

main .webinars-recomendations .recomendations-card:hover {
	filter: grayscale(0%);
}

@media(max-width:1023px) {
	main .webinars-recomendations .recomendations-card .сard-image {
		min-height: 233px;
	}
}

main .webinars-recomendations .recomendations-card .card-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	/* line-height: 26px; */
	text-transform: uppercase;
	border-bottom: 2px solid #000000;
	margin-bottom: 29px;
}

@media(max-width:1023px) {
	main .webinars-recomendations .recomendations-card .card-title {
		font-size: 20px;
		line-height: 100%;
		/* line-height: 26px; */
		margin-bottom: 14px;
	}
}

@media(max-width:639px) {
	main .webinars-recomendations .recomendations-card .card-title {
		font-size: 14px;
		line-height: 100%;
		/* line-height: 18px; */
		margin-bottom: 8px;
	}
}

main .webinars-recomendations .recomendations-card .card-header {
	font-weight: 700;
	font-size: 32px;
	line-height: 100%;
	margin-bottom: 24px;
	margin-top: 24px;
}

@media(max-width:1023px) {
	main .webinars-recomendations .recomendations-card .card-header {
		font-size: 24px;
		line-height: 100%;
	}
}

@media(max-width:639px) {
	main .webinars-recomendations .recomendations-card .card-header {
		font-size: 18px;
		line-height: 100%;
	}
}

main .webinars-recomendations .recomendations-card .card-text {
	font-weight: 400;
	font-size: 24px;
	line-height: 100%;
	line-height: 31px;
	overflow: hidden;
	overflow-wrap: break-word;
}

@media(max-width:639px) {
	main .webinars-recomendations .recomendations-card .card-text {
		font-size: 14px;
		line-height: 100%;
		/* line-height: 18px; */
	}
}

main .webinars-recomendations .recomendations-card .card-authors {
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	margin-top: 24px;
}

@media(max-width:1023px) {
	main .webinars-recomendations .recomendations-card .card-authors {
		font-size: 14px;
		line-height: 100%;
	}
}

@media(max-width:639px) {
	main .webinars-recomendations .recomendations-card .card-authors {
		font-size: 12px;
		line-height: 100%;
	}
}


main .webinars-recomendations .buttons-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 74px;
}

main .webinars-recomendations .buttons-container .next,
main .webinars-recomendations .buttons-container .prev {
	display: flex;
	font-weight: 500;
	font-size: 26px;
	line-height: 100%;
	text-transform: uppercase;
	border: none;
	padding: 0;
	background: inherit;
	cursor: pointer;
}

main .webinars-recomendations .buttons-container .next {
	margin-right: 80px;
}

main .webinars-recomendations .buttons-container .prev {
	margin-left: 40px;
}

@media(max-width:1023px) {
	main .webinars-recomendations .buttons-container .next {
		margin-right: 40px;
	}
}

@media(max-width:639px) {
	main .webinars-recomendations .buttons-container .next {
		margin-right: 40px;
		font-size: 20px;
		line-height: 100%;
	}

	main .webinars-recomendations .buttons-container .prev {
		font-size: 20px;
		line-height: 100%;
	}
}

main .recomendations {
	border-bottom: 2px solid black;
	margin-top: 11.72rem;
	border-top: 2px solid black;
}

@media(max-width:1023px) {
	main .recomendations {
		margin-left:4.43rem;
		margin-right:4.43rem;
	}
}


main .recomendations .title {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid black;
	height: 136px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.34rem;
	line-height: 100%;
}

@media(max-width:1023px) {
	main .recomendations .title {
		font-size: 4.69rem;
		height: 17.71rem;
		justify-content: flex-start;
		
	}
}

@media(max-width:639px) {
	main .recomendations .title {
		font-size: 7.47rem;
		align-items: flex-end;
		padding-bottom: 6.4rem;
		height: 30.9rem;
	}
}

main .recomendations .recomendations-container {
	/* display: flex; */
	padding: 40px 0px 68px 16px;
	/* max-width: 91.98rem; */
	/* overflow-x: hidden;
	scroll-behavior: smooth; */
}

@media(max-width:1023px) {
	main .recomendations .recomendations-container {
		padding: 40px 0px 68px 0px;
	}
}

main .recomendations .recomendations-card {
	width: 21.41rem;
	margin-right: 6.93rem;
	height: 100%;
	filter: grayscale(100%);
	transition: all 0.5s ease;
	cursor: pointer;
}

main .recomendations .recomendations-card a {
	min-width: 411px;
	margin-right: 133px;
	height: 100%;
	color: #000000;
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card {
		min-width: 411px;
		margin-right: 24px;
	}
}

@media(max-width:360px) {
	main .recomendations .recomendations-card {
		min-width: 233px;
		margin-right: 24px;
	}
}

@media(max-width:639px) {
	main .recomendations .recomendations-card {
		margin-right: 14px;
	}
}

main .recomendations .recomendations-card .сard-image {
	width: 100%;
	object-fit: cover;
	height: 100%;
	min-height: 21.41rem;
}

main .recomendations .recomendations-card:hover {
	filter: grayscale(0%);
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card .сard-image {
		min-height: 411px;
	}
}

@media(max-width:360px) {
	main .recomendations .recomendations-card .сard-image {
		min-height: 233px;
	}
}

main .recomendations .recomendations-card .card-title {
	font-weight: 500;
	font-size: 1.04rem;
	line-height: 100%;
	text-transform: uppercase;
	border-bottom: 2px solid #000000;
	margin-bottom: 1.51rem;
	padding-bottom: 0.83rem;
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card .card-title {
		font-size: 20px;
		line-height: 100%;
		margin-bottom: 14px;
	}
}

@media(max-width:639px) {
	main .recomendations .recomendations-card .card-title {
		font-size: 14px;
		line-height: 100%;
		margin-bottom: 8px;
	}
}

main .recomendations .recomendations-card .card-header {
	font-weight: 700;
	font-size: 1.67rem;
	line-height: 100%;
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card .card-header {
		font-size: 24px;
		line-height: 100%;
		margin-bottom: 1.25rem;
	margin-top: 3.125rem;
	}
}

@media(max-width:639px) {
	main .recomendations .recomendations-card .card-header {
		font-size: 18px;
		line-height: 100%;
		margin-bottom: 6.4rem;
	margin-top: 6.4rem;
	}
}

main .recomendations .recomendations-card .card-text {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.61rem;
	overflow: hidden;
	overflow-wrap: break-word;
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card .card-text {
		font-size: 3.13rem;
		line-height: 3.65rem;
	}
}

@media(max-width:639px) {
	main .recomendations .recomendations-card .card-text {
		font-size: 3.73rem;
		line-height: 4.27rem;
	}
}

main .recomendations .recomendations-card .card-authors {
	font-weight: 500;
	font-size: 1.04rem;
	line-height: 100%;
	margin-top: 1.25rem;
	text-transform: uppercase;
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card .card-authors {
		font-size: 2.21rem;
		line-height: 100%;
	}
}

@media(max-width:639px) {
	main .recomendations .recomendations-card .card-authors {
		font-size: 3.2rem;
		line-height: 100%;
	}
}

main .recomendations .slick-track {
	display: flex;
}

main .recomendations .slick-prev {
	background-color: #EBEAE9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;
	left: 2.08rem;
	top: calc(100% + 0.635rem);
	background-image: url(../img/prev.svg);
    width: 7.81rem;
    height: 2rem;
}

main .recomendations .slick-prev::before {
	content: none;
}

main .recomendations .slick-next {
	background-color: #EBEAE9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;
	right: 5.4rem;
	top: calc(100% + 0.635rem);
	background-image: url(../img/next.svg);
	width: 8.3rem;
    height: 2rem;
}

main .recomendations .slick-next::before {
	content: none;
}

main .recomendations .slick-prev, main .recomendations .slick-next {
	border-radius: 0;
}

@media(max-width:1023px) {
	main .recomendations .slick-next {
		width: 15.93rem;
		height: 3.35rem;
	}

	main .recomendations .slick-prev {
		width: 14.81rem;
    	height: 3.35rem;
	}
}

@media(max-width:639px) {
	main .recomendations .slick-next {
		width: 18.93rem;
		height: 4.35rem;
	}

	main .recomendations .slick-prev {
		width: 18.93rem;
		height: 4.35rem;
	}
}


main .recomendations .buttons-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 74px;
}

main .recomendations .buttons-container .next,
main .recomendations .buttons-container .prev {
	display: none;
	background-color: #EBEAE9;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	cursor: pointer;
}

main .recomendations .buttons-container .prev {
	background-image: url("../img/prev.svg");
	width: 7.81rem;
	height: 1.35rem;
	margin-left: 2.08rem;
}

main .recomendations .buttons-container .next {
	background-image: url("../img/next.svg");
	width: 9.93rem;
	height: 1.35rem;
	margin-right: 4.17rem;
}

@media(max-width:1023px) {
	main .recomendations .buttons-container .next {
		width: 15.93rem;
		height: 3.35rem;
	}

	main .recomendations .buttons-container .prev {
		width: 14.81rem;
    	height: 3.35rem;
	}
}

@media(max-width:639px) {
	main .recomendations .buttons-container .next {
		width: 18.93rem;
		height: 4.35rem;
	}

	main .recomendations .buttons-container .prev {
		width: 18.93rem;
		height: 4.35rem;
	}
}

footer {
	padding: 2.6rem 2.29rem;
}

@media(max-width:1023px) {
	footer {
		padding: 4.65rem 4.43rem 3.65rem 4.43rem;
	}
}

@media(max-width:639px) {
	footer {
		padding: 4.53rem 5.87rem;
	}
}

div.footer-container .first-container,
div.footer-container .second-container {
	display: flex;
	align-items: center;
}

@media(max-width:1023px) {
	div.footer-container .first-container {
		margin-bottom: 7.16rem;
	}
}

div.footer-container .desktop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

div.footer-container .tablet {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

div.footer-container .mobile {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

div.footer-container .tablet .first-container,
div.footer-container .mobile .first-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.footer-container .tablet .second-container,
div.footer-container .mobile .second-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

@media(max-width:1023px) {
	div.footer-container .tablet .second-container a,
	div.footer-container .tablet .second-container p {
		margin-bottom: 1.82rem;
	}
}

@media(max-width:639px) {
	div.footer-container .mobile .second-container {
		margin-top: 2.67rem;
		text-align: center;
	}

	div.footer-container .mobile .second-container a,
	div.footer-container .mobile .second-container p {
		margin-bottom: 2.67rem;
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
	}
}

div.footer-container .mobile .second-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

div.footer-container .tablet .second-container .site-links,
div.footer-container .tablet .second-container .site-links a,
div.footer-container .mobile .second-container .site-links,
div.footer-container .mobile .second-container .site-links a {
	display: block;
}

footer div.footer-container .up-button {
	background-image: url("../img/up-button.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 1.2rem;
	width: 5.52rem;
	border: none;
	cursor: pointer;
}

@media(max-width:1023px) {
	footer div.footer-container .up-button {
		background-image: url("../img/up-button.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 11.72rem;
		height: 2.35rem;
	}
}

@media(max-width:639px) {
	footer div.footer-container .up-button {
		background-image: url("../img/up-button.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 18.93rem;
		height: 5.07rem;
	}
}

div.footer-container .site-links {
	display: flex;
	align-items: center;
	margin-left: 10.26rem;
}

@media(max-width:1023px) {
	div.footer-container .site-links {
		margin-left: 0;
	}
}

div.footer-container .site-links a,
div.footer-container .site-links p {
	font-weight: 400;
	font-size: 0.94rem;
	line-height: 100%;
	color: #525251;
}

@media(max-width:1023px) {

	div.footer-container .site-links a,
	div.footer-container .site-links p {
		font-weight: 400;
		font-size: 1.82rem;
		line-height: 100%;
		color: #525251;
	}
}

@media(max-width:639px) {

	div.footer-container .site-links a,
	div.footer-container .site-links p {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
		color: #525251;
	}
}

div.footer-container .site-links a {
	text-decoration-line: underline;
	text-underline-offset: 0.16rem;
}

div.footer-container .site-links .separator {
	color: #525251;
	margin-left: 0.26rem;
	margin-right: 0.26rem;
}

div.footer-container .site-description {
	font-weight: 400;
	font-size: 0.94rem;
	line-height: 100%;
}

@media(max-width:1023px) {
	div.footer-container .site-description {
		font-weight: 400;
		font-size: 1.82rem;
		line-height: 100%;
		color: #525251;
		text-align: end;
	}
}

@media(max-width:639px) {
	div.footer-container .site-description {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
		margin-top: 8rem;
	}
}

@media(max-width:639px) {
	div.footer-container .mobile .second-container {
		font-size: 1.82rem;
		line-height: 100%;
	}

	div.footer-container .site-description {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
		text-align: center;
	}
}

div.footer-container img.logo {
	width: 6.56rem;
	height: 1.93rem;
	margin-left: 1.41rem;
}

@media(max-width:1023px) {
	div.footer-container img.logo {
		width: 18.62rem;
		height: 5.47rem;
		margin-left: 0;
	}
}

@media(max-width:639px) {
	div.footer-container img.logo {
		width: 23.47rem;
		height: 6.96rem;
	}
}

@media(max-width:1023px) {
	footer .footer-container .tablet {
		display: flex;
	}
}

footer .footer-container .tablet,
footer .footer-container .mobile {
	display: none;
}

@media(max-width:1023px) {
	footer .footer-container .desktop {
		display: none;
	}

	footer .footer-container .tablet {
		display: flex;
	}
}

@media(max-width:639px) {
	footer .footer-container .tablet {
		display: none;
	}

	footer .footer-container .mobile {
		display: flex;
	}
}

.video-container .webinar {
	background-image: url("../img/webinar.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 692px;
	width: 1385px;

}

.video-container .webinar:hover {
	background-image: url("../img/webinar2.png");
}

.video-container .webinar:active {
	background-image: url("../img/webinar3.png");
}

.video-stub {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 44px 0px;
	display: none;
}

@media(max-width:620px) {
	.video-stub {
		flex-direction: column;
	}
}

.video-stub .separator {
	border-left: 2px solid #000;
	height: 692px;
	margin: 0px 15px;
}

@media(max-width:1528px) {
	.video-stub .separator {
		display: none;
	}
}

.video-stub .speakers {
	display: flex;
	margin-right: 50px;
}

.video-stub img.speaker {
	display: block;
	filter: grayscale(100%);
	transition: all 0.5s ease;
	width: 50%;
}

@media(max-width:1023px) {
	.video-stub img.speaker {
		width: 46%;

	}
}

@media(max-width:620px) {
	.video-stub img.speaker {
		width: 50%;
	}
}

.video-stub img.speaker:hover {
	filter: none;
}

.webinar.tablet,
.webinar.mobile {
	display: none;
}

@media(max-width:1023px) {
	.webinar.desktop {
		display: none;
	}

	.webinar.tablet {
		display: block;
	}
}

@media(max-width:620px) {
	.webinar.tablet {
		margin-top: 20px;
	}

	.webinar.tablet {
		display: block;
	}
}

.video-stub .planned-dayweek {
	font-weight: 700;
	font-size: 42px;
	line-height: 99%;
}

.video-stub .tablet .planned-dayweek {
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
}

.video-stub .planned-dayweek span {
	font-weight: 400;
	font-size: 26px;
	width: 102px;
	height: 36px;
	border: 2px solid #525251;
	padding: 5px 10px;
	margin-left: 10px;
	color: #525251
}

.video-stub .tablet span.soon {
	font-weight: 500;
	font-size: 18px;
	line-height: 99%;
	width: 57px;
	height: 18px;
	border: 2px solid #525251;
	padding: 5px 10px;
	color: #525251
}

.video-stub .planned-date {
	display: flex;
	font-weight: 400;
	font-size: 83px;
	line-height: 99%;
	margin-top: 10px;
}

.video-stub .tablet .planned-date {
	display: flex;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	margin-top: 10px;
}

.video-stub .planned-time {
	font-weight: 700;
	font-size: 40px;
	line-height: 99%;
	margin-top: 56px;
	margin-bottom: 35px;
}

.video-stub .tablet .planned-time {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	margin-top: 14px;
	margin-bottom: 14px;
}

.video-stub .tablet .date-container {
	display: flex;
	align-items: end;
}

.video-stub .tablet .date-container .date-separator {
	border-left: 2px solid #000;
	margin: 0px 14px;
	height: 60px;
}

.video-stub .planned-date span {
	font-weight: 400;
	font-size: 25px;
	line-height: 99%;
}

.video-stub .tablet .planned-date span {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

.video-stub .title {
	font-weight: 400;
	font-size: 40px;
	line-height: 99%;
	margin-bottom: 73px;
}

.video-stub .tablet .title {
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	margin-top: 44px;
	margin-bottom: 24px;
}

.video-stub p.speakers-fio {
	margin-bottom: 24px;
}

.video-stub .tablet p.speakers-fio {
	margin-bottom: 4px;
	font-size: 18px;
}

.video-stub .ui-button-container {
	margin-top: 66px;
}

.video-stub .tablet .ui-button-container {
	margin-top: 40px;
	font-size: 18px !important;
}

.video-stub .tablet .ui-button-container a {
	height: 80px;
	font-size: 18px;
}




/* clinics-content */
.clinics-top-wrap{display: flex;flex-direction: column;} 
.clinics-h1-title{font-weight: 700;font-size: 4.792rem;line-height: 5.990rem;letter-spacing: -0.01em;text-transform: uppercase;color: #000;margin: 6.771rem 0 0 1.771rem;width: 100%;} 
.clinics-h1-title span{position: relative;z-index: 1;}
.clinics-h1-title span:before{content:"";position: absolute;width: calc(100% - 1.667vw);height: 0.729vw;left: 0.260vw;bottom: 0.938vw;background-color: #D155BD;z-index: -1;}
.clinics-main-photo{padding-left: 47.3%;margin-top: 1.563rem;} 
.clinics-h2-bordered{font-weight: 700;font-size: 2.396rem;line-height: 3.073rem;letter-spacing: -0.01em;text-transform: uppercase;color: #953385;border-bottom: 2px solid #000;padding-left: 1.250rem;padding-bottom: 0.521rem;margin-bottom: 6.146rem;margin-top: 6.146rem;} 
.clinics-row{display: flex;align-items: center;padding: 0 4.323rem 0 1.302rem;margin-bottom: 3.333rem;} 
.clinics-row-title{font-weight: 700;font-size: 1.667rem;line-height: 2.135rem;letter-spacing: -0.01em;text-transform: uppercase;color: #000000;width: 49%;} 
.clinics-row-desc{font-size: 1.667rem;line-height: 2.135rem;letter-spacing: -0.01em;color: #000000;width: 52%;} 
.clinics-numered-list{display: flex;justify-content: flex-end;margin-top: 6.250rem;margin-right: 0;margin-bottom: 6.198rem;} 
.clinics-numered-list-item{border-left: solid 2px #000;min-height: 33.594rem;display: flex;flex-direction: column;padding-left: 0.677rem;padding-top: 1.250rem;width: 24.792rem;align-items: flex-start;} 
.clinics-numered-list-item:last-child{width: 19.740rem;} 
.clinics-numered-list-item-num{font-weight: 700;font-size: 8.958rem;line-height: 1;letter-spacing: -0.01em;color: #953385;margin-bottom: 0.313rem;} 
.clinics-numered-list-item-desc{font-weight: 500;font-size: 1.042rem;line-height: 1.354rem;display: flex;align-items: center;letter-spacing: -0.01em;text-transform: uppercase;color: #000;margin-left: 0.677rem;} 
.clinics-numered-list-item-title{font-weight: 700;font-size: 1.667rem;line-height: 2.135rem;display: flex;align-items: flex-end;letter-spacing: -0.01em;text-transform: uppercase;color: #000;flex: 1 1 auto;height: 100%;flex-direction: column;justify-content: flex-end;max-width: 80%;} 
.clinics-ul{list-style: none;} 
.clinics-ul li:last-child{margin-bottom: 0} 
.clinics-li{position: relative;margin-bottom: 1.146rem;} 
.clinics-li:before{content:"";position: absolute;width: 5.260rem;height: 2px;background-color: #953385;left: -6.563rem;top: 0.99rem;} 
.clinics-h3-title{font-weight: 700;font-size: 1.667rem;line-height: 2.135rem;letter-spacing: -0.01em;text-transform: uppercase;color: #000;margin-top: 6.146rem;margin-left: 1.250rem;} 
.clinics-img-content{width: 100%;padding-left: 47.3%;margin-top: 2.813rem;margin-bottom: 6.042rem;} 
.clinics-text-in-bordered-box{border-top: 2px solid #000;border-bottom: 2px solid #000;font-weight: 700;font-size: 2.396rem;line-height: 2.073rem;display: flex;align-items: center;letter-spacing: -0.01em;text-transform: uppercase;color: #000;margin: 6.354rem 0;padding: 2.323rem 1.31rem;} 
.clinics-text-in-bordered-box .border-right{border-right: solid 0.365vw currentColor;padding-right: 0.729vw;margin-right: 1.213vw;}
.clinics-text-purple{font-weight: 700;font-size: 1.667rem;line-height: 2.135rem;letter-spacing: -0.01em;text-transform: uppercase;color: #953385;} 
.clinics-simple-text{font-weight: 400;font-size: 1.354rem;line-height: 1.719rem;display: flex;align-items: flex-end;letter-spacing: -0.01em;color: #000;text-transform: none;} 
.clinics-pantocalcin-diagram{margin-left: 14.271rem;margin-top: 2.344rem;} 
.clinics-pantocalcin-diagram-desc-wrap{margin: -22.24rem 0 6.875rem 44.271rem;} 
.clinics-pantocalcin-diagram img{width: 73%;}
.clinics-pantocalcin-diagram-desc-wrap h3{margin-left: 0;margin-bottom: 3.333rem;} 
.clinics-pantocalcin-diagram-desc-wrap p{font-size: 1.63rem;margin-bottom: 2.344rem;max-width: 89%;} 
.clinics-pantocalcin-diagram-fullsize{margin-top: 3.438rem;padding: 0 1.302rem;} 
.clinics-pantocalcin-diagram-fullsize img{width: 100%}
.color-purple{color: #953385;}
.tablet{display: none}


@media (max-width:1023px) {
	.tab{display: block} 
	.clinics-row{flex-direction: column;} 
	.clinics-page .content-container{width: 100rem;padding-top: 1.042rem;} 
	.clinics-top-wrap{display: flex;flex-direction: column-reverse;width: calc(100% + 4.28rem);} 
	.clinics-top-wrap .logo{width: 18.750rem;margin: 9.505rem 0 4.818rem 4.297rem;} 
	.clinics-h1-title{margin: 0 0 0 3.385rem;font-size: 8.333rem;line-height: 98%;letter-spacing: -0.01em;} 
	.clinics-main-photo{margin-top: 1.302rem;padding-left: 0;} 
	.clinics-h1-title span:before{width: calc(100% - 2.995rem);height: 1.693rem;left: 0.651rem;bottom: 1.693rem;} 
	.clinics-h2-bordered{font-size: 4.688rem;line-height: 5.990rem;padding-left: 0;padding-bottom: 4.688rem;margin-bottom: 7.552rem;margin-top: 9.766rem;border-top: solid 2px #000;padding-top: 4.948rem;margin-left: 4.297rem;margin-right: 4.297rem;padding-bottom: ;} 
	.clinics-row{padding: 0 4.427rem 0 4.427rem;margin-bottom: 7.552rem;flex-direction: column;} 
	.clinics-row-title{font-size: 3.125rem;line-height: 5.339rem;width: 100%;margin-bottom: 4.557rem;} 
	.clinics-row-desc{font-size: 3.125rem;line-height: 4.036rem;width: 100%;} 
	.clinics-numered-list{margin-top: 0;margin-bottom: 2.734rem;flex-wrap: wrap;width: calc();} 
	.clinics-numered-list.tab-3-col .clinics-numered-list-item{width: 31.771rem;padding-top: 0;min-height: 49.219rem;padding-left: 0.911rem;} 
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-title{font-size: 2.344rem;line-height: 3.125rem;margin-left: 1.042rem;} 
	.clinics-numered-list.tab-3-col .clinics-simple-text{font-size: 2.083rem;line-height: 1.3;margin-bottom: 1.823rem;} 
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-num{line-height: 7.161rem;font-size: 11.198rem;margin-bottom: 5.208rem;margin-left: 0.781rem;} 
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-desc{margin-left: 1.563rem;} 
	.clinics-numered-list-item{min-height: 37.109rem;padding-left: 1.693rem;padding-top: 1.693rem;width: 47.786rem;margin-bottom: 5.078rem;align-items: flex-start;} 
	.clinics-numered-list-item:last-child{width: 47.786rem;} 
	.clinics-numered-list-item-num{font-size: 11.068rem;line-height: 10.938rem;margin-left: 0.000rem;letter-spacing: normal;margin-bottom: 5.339rem;} 
	.clinics-numered-list-item-desc{font-size: 2.083rem;line-height: 3.385rem;margin-left: 0.781rem;letter-spacing: normal;} 
	.clinics-numered-list-item-title{font-size: 3.125rem;line-height: 4.036rem;text-align: left;} 
	.clinics-li{margin-bottom: 2.865rem;} 
	.clinics-li:before{width: 13.151rem;left: -14.453rem;top: 1.693rem;} 
	.clinics-h3-title{font-size: 4.688rem;line-height: 5.339rem;margin-top: 15.365rem;margin-left: 4.427rem;border-top: solid 0.260rem #000;border-bottom: solid 0.260rem #000;padding: 5.078rem 0;margin-right: 4.297rem;} 
	.clinics-img-content{padding-left: 0;margin-top: 0;margin-bottom: 3.776rem;} 
	.clinics-text-in-bordered-box{font-weight: 700;font-size: 3.125rem;line-height: 1.2;margin: 7.552rem 4.297rem 4.167rem 4.297rem;padding: 4.818rem 3.776rem 4.557rem 0.000rem;} 
	.clinics-text-purple{font-size: 3.125rem;line-height: 4.297rem;} 
	.clinics-simple-text{font-size: 3.385rem;line-height: 4.297rem;} 
	.clinics-pantocalcin-diagram{margin-left: 0;margin-top: 5.859rem;} 
	.clinics-pantocalcin-diagram img{width: 100%;} 
	.clinics-pantocalcin-diagram-desc-wrap{margin: 0 4.427rem;} 
	.clinics-pantocalcin-diagram-desc-wrap h3{margin-left: 0;margin-bottom: 8.333rem;} 
	.clinics-pantocalcin-diagram-desc-wrap p{font-size: 2.9rem;margin-bottom: 5.859rem;} 
	.clinics-pantocalcin-diagram-fullsize{margin-top: 8.594rem;padding: 0 3.255rem;} 
	.clinics-text-in-bordered-box .border-right {border-right: solid 2px currentColor; padding-right: 1.953rem; margin-right: 2.344rem;font-size: 4.688rem;line-height: 1.8;} 
	.clinics-ul{margin-left: 51%;} 
	.clinics-ul.simple-style{margin-left:0} 
	.clinics-ul.left-style{margin-leftma;margin-left: 14.453rem;} 
	.clinics-li.simple-style:before{content:initial} 
	.desktop{display: none} 
	.tablet{display: block} 
}



@media (max-width:639px) {
	.clinics-page .content-container{width: 100rem;padding-top: 2.133rem;}
	.clinics-top-wrap{display: flex;flex-direction: column-reverse;width: calc(100% + 4.28rem);}
	.clinics-top-wrap .logo{width: 23.467rem;margin: 6.4rem 0 6.4rem 5.867rem;}
	.clinics-h1-title{margin: 0 0 0 4.8rem;font-size: 9.067rem;line-height: 130%;}
	.clinics-main-photo{margin-top: 2.667rem;padding-left: 0;}
	.clinics-h1-title span:before{width: calc(100% - 6.133rem);height: 1.333rem;left: 1.333rem;bottom: 1.867rem;}
	.clinics-h2-bordered{font-size: 5.867rem;line-height: 7.2rem;margin-bottom: 11.2rem;margin-top: 10.667rem;border-top: solid 1px #000;margin-left: 4.533rem;margin-right: 7.733rem;border-bottom: solid 1px #000;padding-left: 0;padding-bottom: 7.2rem;padding-top: 6.133rem;}
	.clinics-row{padding: 0 9.067rem 0 4.800rem;margin-bottom: 12rem;flex-direction: column;}
	.clinics-row-title{font-size: 4.267rem;line-height: 10.933rem;width: 100%;margin-bottom: 3.467rem;}
	.clinics-row-desc{font-size: 4.267rem;line-height: 5.600rem;width: 100%;}
	.clinics-numered-list{margin-bottom: 5.600rem;}
	.clinics-numered-list.tab-3-col .clinics-numered-list-item{min-height: 62.933rem;padding-left: 1.867rem;padding-top: 1.600rem;width: 47.2rem;margin-bottom: 12rem;align-items: flex-start;}
	.clinics-numered-list.tab-3-col .clinics-numered-list-item:last-child{width: calc(100% - 5.333rem);}
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-num{font-size: 11.733rem;line-height: 12.267rem;letter-spacing: normal;margin-bottom: 2.667rem;margin-left: 0rem;}
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-desc{font-size: 4.267rem;line-height: 6.933rem;margin-left: 0;letter-spacing: normal;}
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-title{font-size: 3.200rem;line-height: 4rem;text-align: left;}
	.clinics-numered-list-item{min-height: 45.867rem;padding-left: 1.867rem;padding-top: 1.600rem;width: 47.2rem;margin-bottom: 12rem;align-items: flex-start;}
	.clinics-numered-list-item:last-child{width: 47.200rem;}
	.clinics-numered-list-item-num{font-size: 11.733rem;line-height: 12.267rem;letter-spacing: normal;margin-bottom: 2.667rem;margin-left: 0rem;}
	.clinics-numered-list-item-desc{font-size: 4.267rem;line-height: 6.933rem;margin-left: 0rem;letter-spacing: normal;}
	.clinics-numered-list-item-title{font-size: 4.267rem;line-height: 5.333rem;text-align: left;}
	.clinics-li{margin-bottom: 4.267rem;}
	.clinics-li:before{width: 13.600rem;left: -17.600rem;top: 2.4rem;}
	.clinics-h3-title{font-size: 5.867rem;line-height: 7.733rem;margin-top: 17rem;margin-left: 4.800rem;border-top: solid 1px #000;border-bottom: solid 1px #000;padding: 5.867rem 0;margin-right: 4.8rem;}
	.clinics-img-content{padding-left: 0;margin-top: 0;margin-bottom: 7.733rem;}
	.clinics-text-in-bordered-box{font-weight: 700;font-size: 4.267rem;line-height: 1.3;margin: 12rem 4.8rem 8.533rem 4.8rem;padding: 6.667rem 7.733rem 6.667rem 0;display: flex;flex-direction: column;align-items: flex-start;border-top: 1px solid #000;border-bottom: 0.267rem solid #000;}
	.clinics-text-purple{font-size: 4.267rem;line-height: 5.6rem;}
	.clinics-simple-text{font-size: 6.933rem;line-height: 8.8rem;}
	.clinics-pantocalcin-diagram{margin-left: 0;margin-top: 12rem;}
	.clinics-pantocalcin-diagram img{width: 100%;}
	.clinics-pantocalcin-diagram-desc-wrap{margin: 0 4.8rem;}
	.clinics-pantocalcin-diagram-desc-wrap h3{margin-left: 0;margin-bottom: 17.067rem;}
	.clinics-pantocalcin-diagram-desc-wrap p{font-size: 3.733rem;margin-bottom: 12rem;}
	.clinics-pantocalcin-diagram-fullsize{margin-top: 17.600rem;padding: 0 6.667rem;}
	.clinics-text-in-bordered-box .border-right {border-bottom: solid 0.533rem currentColor; padding-right: 0; margin-right: 0;font-size: 5.867rem;line-height: 1.3;border-right: none;margin-bottom: 9.333rem;}
	.clinics-ul{margin-left: 36%;}
	.clinics-ul.left-style{margin-leftma;margin-left: 29.600rem;}
}


/* Slider */


.slider-wrapper{border-bottom: solid 2px #000}
.slider-main{width: 100%}
.slider-main-item img{width: 100%}

.slider-numbers{font-weight: 400;text-align: center;letter-spacing: -0.01em;color: #000000;font-size: 2.396rem;line-height: 2.969rem;margin-top: 3.125rem;} 
.slider-wrapper{padding-top: 3.125rem;padding-left: 2.135rem;padding-bottom: 7.969rem;padding: 3.125rem 2.135rem 1.869rem 2.135rem;} 
.slick-next{top: calc(100% + 4.635rem);width: 2.083rem;height: 2.083rem;} 
.slick-prev{left: 1px;z-index: 1;top: calc(100% + 4.635rem);width: 2.083rem;height: 2.083rem;}
.slick-next{right: 3.906rem;} 
[dir='rtl'] .slick-prev{right: -1.302rem;} 
[dir='rtl'] .slick-next{left: -1.302rem;} 
.slick-dots{bottom: -3.750rem;} 
.slick-dotted.slick-slider{margin-bottom: 11.771rem;} 
.slick-dots li button:before{ width: 1.042rem; height: 1.042rem;}


.slick-slider{position: relative;display: block;box-sizing: border-box;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;	user-select: none;-webkit-touch-callout: none;-khtml-user-select: none;-ms-touch-action: pan-y;touch-action: pan-y;-webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;  padding: 0;}
.slick-list:focus{outline: none;}
.slick-list.dragging{cursor: pointer;cursor: hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);	-o-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}
.slick-track{position: relative;top: 0;left: 0;display: block;margin-left: auto;margin-right: auto;}
.slick-track:before,
.slick-track:after{display: table;content: '';}
.slick-track:after{clear: both;}
.slick-loading .slick-track{visibility: hidden;}
.slick-slide{display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide{float: right;}
.slick-slide img{display: block;}
.slick-slide.slick-loading img{display: none;}
.slick-slide.dragging img{pointer-events: none;}
.slick-initialized .slick-slide{display: block;}
.slick-loading .slick-slide{visibility: hidden;}
.slick-vertical .slick-slide{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}

/* Arrows */
.slick-prev,
.slick-next{font-size: 0;line-height: 0;position: absolute;display: block;padding: 0;-webkit-transform: translate(0, -50%);	-ms-transform: translate(0, -50%);transform: translate(0, -50%);cursor: pointer;color: transparent;border: none;outline: none;background: var(--blue);	border-radius: 50%;display: flex;justify-content: center;align-items: center;}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus{outline: none;}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{opacity: 1;}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{opacity: .25;}

.slick-prev:before,
.slick-next:before{font-family: 'slick';opacity: .75;color: white;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;	width: 42px;height: 43px;display: block;content: '';	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='35' height='45' viewBox='0 0 35 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M34.2 2.3v40.4c0 1.2-1.5 2-2.5 1.2L.7 23.7a1.4 1.4 0 0 1 0-2.4L31.7 1c1-.7 2.5 0 2.5 1.2Z' fill='%23000'/%3E%3C/svg%3E");background-repeat: no-repeat;}

.slick-arrow{content: '';background-color: transparent;}
.slick-prev:before{content: '';}
.slick-next:before{transform: rotate(180deg);}
[dir='rtl'] .slick-prev:before{content: '→';}
[dir='rtl'] .slick-prev{left: auto;}
[dir='rtl'] .slick-next{right: auto;}
[dir='rtl'] .slick-next:before{content: '←';}


/* Dots */
.slick-dots{position: absolute;display: block;width: 100%;padding: 0;margin: 0;list-style: none;text-align: center;}

.slick-dots li:before{content:none}
.slick-dots li{position: relative;display: inline-block;width: 20px;height: 20px;margin: 0 5px;padding: 0;cursor: pointer;}
.slick-dots li button{font-size: 0;line-height: 0;display: block;width: 6px;height: 6px;padding: 5px;cursor: pointer;	color: transparent;border: 0;outline: none;background: var(--blue);border-radius: 50%;transition: .3s;}
.slick-dots li.slick-active button{border: solid 1px var(--blue);background-color: transparent;width: 12px;height: 12px;}
.slick-dots li button:hover,
.slick-dots li button:focus{    outline: none;}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before{    opacity: 1;}
.slick-dots li button:before{position: absolute; top: 0;left: 0; content: '';    text-align: center;    opacity: .25;    color: black;    -webkit-font-smoothing: antialiased;    -moz-osx-font-smoothing: grayscale;}
.slick-dots li.slick-active button:before{opacity: .75; color: black;}



@media (max-width:1023px){
  .slider-wrapper{padding-top: 7.813rem;padding-left: 5.339rem;padding-bottom: 19.922rem;padding: 2.995rem 0 19.922rem 2.734rem;} 
	.slider-numbers{font-size: 2.396rem;line-height: 2.969rem; margin-top: 4.125rem;} 
	.slick-next{top: calc(100% + 5.729rem);width: 3.385rem;height: 6.120rem;} 
	.slick-prev{left: 0.130rem;z-index: 1;top: calc(100% + 5.729rem);width: 3.255rem;height: 2.995rem;} 
	.slick-next{right: 0;}
}



@media (max-width:639px){
	.slider-main{border-bottom:none;padding-bottom: 2.4rem;}
	.slider-wrapper{padding: 7.733rem 0 1.867rem 4.3rem;border-bottom: none;}
	.slider-numbers{ margin-top: 0px;border-top: solid 1px #000;border-bottom: solid 1px #000;padding: 2.133rem 0;margin-left: -4.3rem;margin-right: -4.3rem;} 
	.slick-next{top: calc(100% + 4.329rem);} 
	.slick-prev{top: calc(100% + 3.729rem);} 
}