@charset "UTF-8";

@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro-Bold.eot');
	src: local('DINPro Bold'), local('DINPro-Bold'),
		url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Bold.woff') format('woff'),
		url('../fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro-Medium.eot');
	src: local('DINPro Bold'), local('DINPro-Medium'),
		url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Medium.woff') format('woff'),
		url('../fonts/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro.eot');
	src: local('DINPro'), local('DINPro'),
		url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro.woff') format('woff'),
		url('../fonts/DINPro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
:after,
:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'DINPro', sans-serif;
	font-size: 1vw;
	/* line-height: 100%; */
	/* background: #EBEAE9; */
	overflow-x: hidden;
}

a.ui-link {
	text-decoration: none;
	color: #000000;
	}

body {
	display: flex;
	/* justify-content: center; */
	overflow: hidden;
}

.content-container {
	/* width: 100%; */
	overflow: hidden;
	width: 94.27rem;
}

@media(max-width:768px) {
	.content-container {
		width: 100rem;
	}
}

.content-container.tablet-expand {
	display: none;
}

.main-page {
	display: flex;
	background: #EBEAE9;
	/* width: 100%; */
	/* max-width: 1920px; */
}

@media(max-width:768px) {
	div.webinars-content {
		padding: 0;
		padding-top: 0.52rem;
	}
}

nav {
	margin-top: 3.54rem;
	width: 5.73rem;
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav .expanded-menu {
	display: none;
	padding: 0px 1.77rem;

}

nav .expanded-menu .title-container {
	display: flex;
	justify-content: space-between;
}

nav .expanded-menu .title {
	font-weight: 400;
	font-size: 1.51rem;
	line-height: 100%;
}

nav .expanded-menu .search-container {
	margin-top: 2.5rem;
	position: relative;
}

nav .expanded-menu .search-container form {
	display: flex;
	justify-content: space-between;
	align-items: center
}

nav .expanded-menu .search-container input {
	border: none;
	width: 22.43rem;
	height: 3.65rem;
	background: #EBEAE9;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 100%;
	color: #9D9D9C;
	border-bottom: 2px solid #000000;
}

nav #nav-search .search-icon,
nav .expanded-menu .search-container .search-icon {
	width: 1.93rem;
	height: 1.93rem;
	border: none;
	appearance: none;
	background-image: url("../img/search_icon_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav .expanded-menu .search-container .search-icon {
	width: 1.93rem;
	height: 1.93rem;
	border: none;
	appearance: none;
	background-image: url("../img/search_icon_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

nav.expand #nav-search .search-icon {
	display: none;
}

nav .expanded-menu .search-container input:focus {
	outline: none;
}

nav .expanded-menu .close-menu {
	width: 1.93rem;
	height: 1.93rem;
	background-image: url("../img/closed_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav .expanded-menu .menu-list {
	margin-top: 3.33rem;
	font-weight: 500;
	font-size: 1.67rem;
	line-height: 100%;
	text-transform: uppercase;
}

nav .expanded-menu .menu-list ul {
	list-style: none;
}

nav .expanded-menu .menu-list ul li {
	margin-bottom: 2.6rem;
	cursor: pointer;
}

nav .expanded-menu .menu-list ul li:last-child {
	margin-bottom: 13.96rem;
}

nav.expand .expanded-menu {
	display: block;
}

nav.expand {
	width: 25.47rem;
}

@media(max-width:768px) {
	nav {
		display: none;
	}
}

nav .nav-burger-icon {
	width: 2.29rem;
	height: 1.35rem;
	background-image: url("../img/burger_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 4.43rem;
	cursor: pointer;
}

nav.expand .nav-burger-icon {
	display: none;
}

nav .nav-text-container {
	height: 41.86rem;
	display: flex;
	align-items: center;
	text-align: center;
}

nav.expand .nav-text-container {
	display: none;
}

nav .nav-text-container .text {
	transform: rotate(-90deg);
	width: 41.86rem;
	font-weight: 700;
	font-size: 1.67rem;
	line-height: 100%;
}

nav .nav-user-icon {
	width: 2.19rem;
	height: 2.19rem;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCA0NSA0MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjIuNDQ2NCIgY3k9IjExLjQyNTkiIHI9IjEwLjQyNTkiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNNDMuMjk4NCA0MS4yMTQyQzQzLjI5ODQgMzYuMDc5IDQxLjEwMTUgMzEuMTU0MSAzNy4xOTExIDI3LjUyMjlDMzMuMjgwNiAyMy44OTE4IDI3Ljk3NjggMjEuODUxOCAyMi40NDY2IDIxLjg1MThDMTYuOTE2MyAyMS44NTE4IDExLjYxMjYgMjMuODkxOCA3LjcwMjA5IDI3LjUyMjlDMy43OTE2MSAzMS4xNTQxIDEuNTk0NzMgMzYuMDc5IDEuNTk0NzMgNDEuMjE0MiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav.expand .nav-user-icon {
	align-self: flex-end;
	margin-right: 1.77rem;
}

nav.tablet-nav-menu {
	display: none;
	padding: 9px 32px;
}

@media(max-width:375px) {
	nav.tablet-nav-menu {
		padding: 14px 22px;
	}
}

nav.tablet-nav-menu .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media(max-width:768px) {
	nav.tablet-nav-menu.tablet-expand {
		display: block;
		width: 100%;
		border: none;
	}
}
nav.tablet-nav-menu .search-container {
	margin-top: 88px;
	position: relative;
	margin-bottom: 150px;
}

nav.tablet-nav-menu .search-container form {
	display: flex;
	justify-content: space-between;
	align-items: center
}

@media(max-width:375px) {
	nav.tablet-nav-menu .search-container {
		margin-top: 42px;
		margin-bottom: 88px;
	}
}

nav.tablet-nav-menu .search-container input {
	border: none;
	width: 100%;
	height: 70px;
	background: #EBEAE9;
	font-size: 18px;
	line-height: 100%;
	color: #9D9D9C;
	border-bottom: 1px solid #000000;
}

@media(max-width:375px) {
	nav.tablet-nav-menu .search-container input {
		font-size: 14px;
		line-height: 100%;
	}
}

nav.tablet-nav-menu .search-container .search-icon {
	width: 29px;
	height: 29px;
	border: none;
	appearance: none;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuMjEyOSIgY3k9IjExLjIxMjkiIHI9IjEwLjcxMjkiIHN0cm9rZT0iYmxhY2siLz4KPGxpbmUgeDE9IjI3Ljc1NjQiIHkxPSIyNi43MzgzIiB4Mj0iMTkuODM4MiIgeTI9IjE4LjgyMDEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

@media(max-width:375px) {
	nav.tablet-nav-menu .search-container .search-icon {
		width: 22px;
		height: 22px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2Ljc1MTYgOC42MjU4MUMxNi43NTE2IDEzLjExMzYgMTMuMTEzNiAxNi43NTE2IDguNjI1ODEgMTYuNzUxNkM0LjEzODA1IDE2Ljc1MTYgMC41IDEzLjExMzYgMC41IDguNjI1ODFDMC41IDQuMTM4MDUgNC4xMzgwNSAwLjUgOC42MjU4MSAwLjVDMTMuMTEzNiAwLjUgMTYuNzUxNiA0LjEzODA1IDE2Ljc1MTYgOC42MjU4MVoiIHN0cm9rZT0iYmxhY2siLz4KPGxpbmUgeDE9IjIxLjE4OTIiIHkxPSIyMC41NjkzIiB4Mj0iMTUuMjYxIiB5Mj0iMTQuNjQxMiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
	}
}

nav.tablet-nav-menu .search-container:active {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuMjEyOSIgY3k9IjExLjIxMjkiIHI9IjEwLjcxMjkiIGZpbGw9ImJsYWNrIiBzdHJva2U9ImJsYWNrIi8+CjxsaW5lIHgxPSIyNy43NTY0IiB5MT0iMjYuNzM4MyIgeDI9IjE5LjgzODIiIHkyPSIxOC44MjAxIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=");
}

nav.tablet-nav-menu .search-container input:focus {
	outline: none;
}

nav.tablet-nav-menu .close-menu {
	width: 29px;
	height: 29px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMjkiIHZpZXdCb3g9IjAgMCAzMCAyOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI4LjY0MDkgMjcuNjQwNkwxLjQ1MzE2IDAuOTA2MDgyIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+CjxwYXRoIGQ9Ik0xLjkwNjI3IDI3LjY0MDZMMjguNjQwOCAwLjkwNjA4MiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

@media(max-width:375px) {
	nav.tablet-nav-menu .close-menu {
		width: 22px;
		height: 22px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIyLjI2MSAyMi4yNjEzTDEuMzQ4NTYgMS42OTczNSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8cGF0aCBkPSJNMS42OTcxIDIyLjI2MDdMMjIuMjYxIDEuNjk2ODIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==");
	}
}

nav.tablet-nav-menu .title {
	font-size: 24.6154px;
	line-height: 100%;
	text-transform: uppercase;
	color: #3B3B3A;
	font-weight: 700;
}

@media(max-width:540px) {
	nav.tablet-nav-menu .title {
		font-size: 20px;
		line-height: 100%;
	}
}

@media(max-width:460px) {
	nav.tablet-nav-menu .title {
		font-size: 16px;
		line-height: 100%;
	}
}

@media(max-width:375px) {
	nav.tablet-nav-menu .title {
		font-size: 14px;
		line-height: 100%;
	}
}

nav.tablet-nav-menu img.logo {
	width: 144x;
	height: 43px;
}

@media(max-width:710px) {
	nav.tablet-nav-menu img.logo {
		display: none;
	}
}

nav.tablet-nav-menu .menu-list {
	font-weight: 500;
	font-size: 24px;
	line-height: 100%;
	line-height: 110%;
	text-transform: uppercase;
}

@media(max-width:375px) {
	nav.tablet-nav-menu .menu-list {
		font-size: 16px;
		line-height: 100%;
	}
}

nav.tablet-nav-menu .menu-list ul {
	list-style: none;
}

nav.tablet-nav-menu .menu-list ul li {
	margin-bottom: 50px;
	cursor: pointer;
}

nav.tablet-nav-menu .menu-list ul li:last-child {
	margin-bottom: 42px;
}

nav.tablet-nav-menu .nav-user-icon {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzNCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGVsbGlwc2UgY3g9IjE2Ljk2MTgiIGN5PSI5LjAxOTA5IiByeD0iOC4wMTkwOSIgcnk9IjguMDE5MDkiIHN0cm9rZT0iYmxhY2siLz4KPHBhdGggZD0iTTMzIDMxLjkzMTdDMzMgMjcuOTgxOSAzMS4zMTAzIDI0LjE5MzkgMjguMzAyNSAyMS40MDFDMjUuMjk0OCAxOC42MDgxIDIxLjIxNTQgMTcuMDM5MSAxNi45NjE4IDE3LjAzOTFDMTIuNzA4MiAxNy4wMzkxIDguNjI4ODYgMTguNjA4MSA1LjYyMTEyIDIxLjQwMUMyLjYxMzM4IDI0LjE5MzkgMC45MjM2NDYgMjcuOTgxOSAwLjkyMzY0NSAzMS45MzE3IiBzdHJva2U9ImJsYWNrIi8+Cjwvc3ZnPgo=");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	margin-left: auto;
}

@media(max-width:375px) {
	nav.tablet-nav-menu .nav-user-icon {
		width: 25px;
		height: 25px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNyAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTMuNjYzMiIgY3k9IjcuMjcxODkiIHI9IjYuMTY4MzgiIHN0cm9rZT0iYmxhY2siLz4KPHBhdGggZD0iTTI2IDI0Ljg5NkMyNiAyMS44NTc4IDI0LjcwMDIgMTguOTQ0IDIyLjM4NjYgMTYuNzk1N0MyMC4wNzMgMTQuNjQ3NCAxNi45MzUxIDEzLjQ0MDQgMTMuNjYzMiAxMy40NDA0QzEwLjM5MTMgMTMuNDQwNCA3LjI1MzQyIDE0LjY0NzMgNC45Mzk4MyAxNi43OTU3QzIuNjI2MjQgMTguOTQ0IDEuMzI2NDggMjEuODU3OCAxLjMyNjQ4IDI0Ljg5NiIgc3Ryb2tlPSJibGFjayIvPgo8L3N2Zz4K");
	}
}

header {
	display: none;
	align-items: center;
	border-bottom: 2px solid black;
	padding-bottom: 0.52rem;
}

@media(max-width:768px) {
	header {
		display: flex;
		border-bottom: none;
		padding-bottom: 0px;
		padding-top: 1.3rem;
	}
}

@media(max-width:768px) {
	header .header-burger-icon {
		width: 4.3rem;
		height: 3.2rem;
		background-image: url("../img/burger_tablet.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-left: 4.3rem;
		cursor: pointer;
	}
}

@media(max-width:768px) {
	header .header-search-icon {
		width: 3.78rem;
		height: 3.78rem;
		background-image: url("../img/search_icon_tablet.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-left: 3.78rem;
		cursor: pointer;
	}
}

@media(max-width:375px) {
	header .header-burger-icon {
		background-image: url("../img/burger_tablet.svg");
		width: 6.93rem;
		height: 4.53rem;
		margin-left: 5.87rem;
	}
}

@media(max-width:375px) {
	header .header-search-icon {
		background-image: url("../img/search_icon_tablet.svg");
		width: 5.87rem;
		height: 5.87rem;
		margin-left: 5.87rem;
	}
}

header .logo {
	width: 9.74rem;
	margin-left: 2.34rem;
	margin-right: 1.82rem;
}

@media(max-width:768px) {
	header .logo {
		width: 18.75rem;
		margin-left: auto;
	}
}

@media(max-width:375px) {
	header .logo {
		width: 23.47rem;
	}
}

@media(max-width:768px) {
	main {
		padding: 4.17rem;
	}
}

main .site-intro {
	display: flex;
	flex-wrap: wrap;
	padding-left: 2.29rem;
}

@media(max-width:768px) {
	main .site-intro {
		flex-wrap: nowrap;
		flex-direction: column;
		padding: 0;
		margin-left: -4.17rem;
	}
}

main .site-intro .doctors-logo {
	width: 49.4rem;
	/* width: 47rem; */
	order: 2;
	margin-left: auto;
	border-left: 2px solid #000000;
}

@media(max-width:768px) {
	main .site-intro .doctors-logo {
		order: 1;
		width: 100rem;
		border-left: 0;
	}
}

main .site-intro .site-logo {
	width: 9.74rem;
	order: 1;
	margin-top: 3.54rem;
	align-self: flex-start;
}

@media(max-width:768px) {
	main .site-intro .site-logo {
		display: none;
	}
}

main .site-intro .site-title {
	font-size: 6.25rem;
	font-weight: 600;
	line-height: 100%;
	order: 3;
	margin-top: -6.25rem;
    margin-bottom: 100px;
}

@media(max-width:768px) {
	main .site-intro .site-title {
		order: 3;
		padding-left: 4.43rem;
		margin-top: 4.95rem;
		font-size: 11.72rem;
		line-height: 13.67rem;
	}
}

@media(max-width:375px) {
	main .site-intro .site-title {
		padding-left: 5.87rem;
		font-size: 11.72rem;
		line-height: 13.67rem;
		margin-top: 6.4rem;
	}
}

main .site-intro .site-intro-text {
	font-size: 1.67rem;
	line-height: 1.98rem;
	order: 4;
	margin-left: auto;
	width: 49.9rem;	
	margin-bottom: 2.34rem;
}

@media(max-width:768px) { 
	main .site-intro .site-intro-text {
		padding-left: 5.87rem;
		font-size: 3.73rem;
		line-height: 4.27rem;
		order: 2;
		margin-left: 0;
	}
}

@media(max-width:375px) {
	main .site-intro .site-intro-text {
		padding-left: 4.43rem;
		font-size: 3.13rem;
		line-height: 3.64rem;
		margin-top: 6.4rem;
	}
}

main .site-intro .site-intro-text .site-logo {
	margin-top: 2.71rem;
	margin-bottom: 5.21rem;
}

@media(max-width:768px) {
	main .site-intro .site-intro-text .site-logo {
		display: block;
		order: 3;
		width: 23.47rem;
	}
}

@media(max-width:375px) {
	main .site-intro .site-intro-text .site-logo {
		width: 27.73rem;
		margin-bottom: 4.95rem;
	}
}

main .site-intro .site-intro-text .empty-row {
	border-left: 2px solid #000000;
	height: 9.22rem;
	margin-top: 1.93rem;
}

@media(max-width:768px) {
	main .site-intro .site-intro-text .empty-row {
		display: none;
	}
}

main .site-content {
	display: flex;
	flex-direction: column;
}

main .site-content .site-content-item:first-child {
	height: 8.91rem;
}

main .site-content .site-content-item.tablet {
	display: none;
}

main .site-content .site-content-item {
	border-bottom: 2px solid #000000;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}


@media(max-width:768px) {
	main .site-content .site-content-item {
		display: none;
	}
}

@media(max-width:768px) {
	main .site-content .site-content-item.tablet {
		display: flex;
		align-items: center;
		height: 28.5rem;
		padding: 1.17rem;
	}
}

main .site-content-item.tablet .text-container {
	width: 149%;	
}

main .site-content-item.tablet p {
	font-size: 2.6rem;
	line-height: 3.54rem;	
}

main .site-content-item.tablet a {
	font-size: 7.55rem;
	line-height: 100%;
	font-weight: 600;
	text-transform: uppercase;
}

main .site-content-item.tablet .image {
	width: 100%;
	height: 100%;
	max-width: 23.96rem;
	max-height: 23.96rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;	
}

main .site-content-item.tablet .image.webinars {
	background-image: url("../img/doctors1_main.jpg");
}

main .site-content-item.tablet .image.cases {
	background-image: url("../img/doctors2_main.jpg");
}

main .site-content-item.tablet .image.reviews {
	background-image: url("../img/doctors3_main.jpg");
}

main .site-content-item.tablet .image.news {
	background-image: url("../img/doctors4_main.jpg");
}

main .site-content-item.tablet.no-content {	
	height: 17.71rem;
	border-top: 2px solid #000000;
}

main .site-content-item.tablet.no-content p {
	font-size: 4.67rem;
	line-height: 5.47rem;
	font-weight: 600;
	border-bottom: 4px solid #ED7A33;
}

main .site-content .site-content-empty-item {
	border-bottom: 2px solid #000000;
}

main .site-content .site-content-empty-item {
	border-bottom: 2px solid #000000;
	height: 120px;
}

@media(max-width:375px) {
	main .site-content .site-content-empty-item {
		display: none;
	}
}

main .site-content .site-content-item .section {	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 1.41rem;
	padding-left: 2.19rem;
	overflow: hidden;
	height: 12.29rem;
	width: 44.38rem;
}

main .site-content .site-content-item .section .title {	
	font-size: 5.31rem;
	line-height: 4.22rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: -1rem;
}

main .site-content .site-content-item .section-description {	
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-left: 2px solid #000000;
    width: 49.9rem;
}
main .site-content .site-content-item .section-description .text {	
	padding: 0 2.29rem;
	font-size: 1.51rem;
	line-height: 1.56rem;
} 

main .site-content-item .section-description .image {	
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: grayscale(100%);
	transition: all 0.5s ease;
}

main .site-content-item.hover .section-description .image {	
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: grayscale(0%);
}

main .site-content .site-content-item .section-description .image.webinars{	
	background-image: url("../img/doctors1_main.jpg");
}

main .site-content .site-content-item .section-description .image.cases{	
	background-image: url("../img/doctors2_main.jpg");
}

main .site-content .site-content-item .section-description .image.reviews{	
	background-image: url("../img/doctors3_main.jpg");
}

main .site-content .site-content-item .section-description .image.news{	
	background-image: url("../img/doctors4_main.jpg");
}

.site-content .section-breadcrumbs .breadcrumbs {
	display: flex;
}

.site-content .section-breadcrumbs a {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 1.042rem;
	line-height: 100%;
	color: #3B3B3A;
	text-transform: uppercase;
}

.site-content .section-breadcrumbs a::before {
	content: "";
	width: 0.47rem;
	height: 0.83rem;
	margin: 0px 0.63rem;
	background-image: url("../img/breadcrumbs_arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

main .site-content-item.hover .section .title {		
	margin-bottom: 2.03rem;
}

main .site-content-item.hover .breadcrumbs a {		
	color: #ED7A33;
}

.site-content .site-content-item.hover .breadcrumbs a::before {
	background-image: url("../img/breadcrumbs_arrow_orange.svg");
}

main .recomendations {
	border-bottom: 2px solid black;
}

main .recomendations .title {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid black;
	height: 136px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.34rem;
	line-height: 100%;
}

@media(max-width:768px) {
	main .recomendations .title {
		font-size: 4.69rem;
	}
}

@media(max-width:375px) {
	main .recomendations .title {
		font-size: 7.47rem;
	}
}

main .recomendations .recomendations-container {
	display: flex;
	padding: 1.98rem 0px 3.54rem 2.19rem;
	/* max-width: 1766px; */
	max-width: 91.98rem;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

main .recomendations .recomendations-card {
	width: 21.41rem;
	margin-right: 6.93rem;
	height: 100%;
	filter: grayscale(100%);
	transition: all 0.5s ease;
	cursor: pointer;
}

main .recomendations .recomendations-card a {
	min-width: 411px;
	margin-right: 133px;
	height: 100%;
	color: #000000;
}

@media(max-width:768px) {
	main .recomendations .recomendations-card {
		min-width: 233px;
		margin-right: 24px;
	}
}

@media(max-width:375px) {
	main .recomendations .recomendations-card {
		margin-right: 14px;
	}
}

main .recomendations .recomendations-card .сard-image {
	width: 100%;
	object-fit: cover;
	height: 100%;
	min-height: 21.41rem;
}

main .recomendations .recomendations-card:hover {
	filter: grayscale(0%);
}

@media(max-width:768px) {
	main .recomendations .recomendations-card .сard-image {
		min-height: 233px;
	}
}

main .recomendations .recomendations-card .card-title {
	font-weight: 500;
	font-size: 1.04rem;
	line-height: 100%;
	text-transform: uppercase;
	border-bottom: 2px solid #000000;
	margin-bottom: 1.51rem;
	padding-bottom: 0.83rem;
}

@media(max-width:768px) {
	main .recomendations .recomendations-card .card-title {
		font-size: 20px;
		line-height: 100%;
		margin-bottom: 14px;
	}
}

@media(max-width:375px) {
	main .recomendations .recomendations-card .card-title {
		font-size: 14px;
		line-height: 100%;
		margin-bottom: 8px;
	}
}

main .recomendations .recomendations-card .card-header {
	font-weight: 700;
	font-size: 1.67rem;
	line-height: 100%;
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
}

@media(max-width:768px) {
	main .recomendations .recomendations-card .card-header {
		font-size: 24px;
		line-height: 100%;
	}
}

@media(max-width:375px) {
	main .recomendations .recomendations-card .card-header {
		font-size: 18px;
		line-height: 100%;
	}
}

main .recomendations .recomendations-card .card-text {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.61rem;
	overflow: hidden;
	overflow-wrap: break-word;
}

@media(max-width:768px) {
	main .recomendations .recomendations-card .card-text {
		font-size: 3.13rem;
		line-height: 3.65rem;
	}
}

@media(max-width:375px) {
	main .recomendations .recomendations-card .card-text {
		font-size: 3.73rem;
		line-height: 4.27rem;
	}
}

main .recomendations .recomendations-card .card-authors {
	font-weight: 500;
	font-size: 1.04rem;
	line-height: 100%;
	margin-top: 1.25rem;
}

@media(max-width:768px) {
	main .recomendations .recomendations-card .card-authors {
		font-size: 2.21rem;
		line-height: 100%;
	}
}

@media(max-width:375px) {
	main .recomendations .recomendations-card .card-authors {
		font-size: 3.2rem;
		line-height: 100%;
	}
}


main .recomendations .buttons-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 74px;
}

main .recomendations .buttons-container .next,
main .recomendations .buttons-container .prev {	
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	cursor: pointer;
}

main .recomendations .buttons-container .prev {
	background-image: url("../img/prev.svg");
	width: 7.81rem;
	height: 1.35rem;
	margin-left: 2.08rem;
}

main .recomendations .buttons-container .next {
	background-image: url("../img/next.svg");
	width: 9.93rem;
	height: 1.35rem;
	margin-right: 4.17rem;
}

@media(max-width:768px) {
	main .recomendations .buttons-container .next {
		width: 15.93rem;
		height: 3.35rem;
	}

	main .recomendations .buttons-container .prev {
		width: 14.81rem;
    	height: 3.35rem;
	}
}

@media(max-width:375px) {
	main .recomendations .buttons-container .next {
		width: 18.93rem;
		height: 4.35rem;
	}

	main .recomendations .buttons-container .prev {
		width: 18.93rem;
		height: 4.35rem;
	}
}

footer {
	padding: 2.6rem 2.29rem;
}

@media(max-width:768px) {
	footer {
		padding: 4.65rem 4.43rem 3.65rem 4.43rem;
	}
}

@media(max-width:375px) {
	footer {
		padding: 4.53rem 5.87rem;
	}
}

div.footer-container .first-container,
div.footer-container .second-container {
	display: flex;
	align-items: center;
}

@media(max-width:768px) {
	div.footer-container .first-container {
		margin-bottom: 7.16rem;
	}
}

div.footer-container .desktop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

div.footer-container .tablet {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

div.footer-container .mobile {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

div.footer-container .tablet .first-container,
div.footer-container .mobile .first-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.footer-container .tablet .second-container,
div.footer-container .mobile .second-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

@media(max-width:375px) {
	div.footer-container .mobile .second-container {
		margin-top: 2.67rem;
		text-align: center;
	}

	div.footer-container .mobile .second-container a,
	div.footer-container .mobile .second-container p {
		margin-bottom: 2.67rem;
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
	}
}

div.footer-container .mobile .second-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

div.footer-container .tablet .second-container .site-links,
div.footer-container .tablet .second-container .site-links a,
div.footer-container .mobile .second-container .site-links,
div.footer-container .mobile .second-container .site-links a {
	display: block;
}

footer div.footer-container .up-button {
	background-image: url("../img/up-button.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 1.2rem;
	width: 5.52rem;
	border: none;
	cursor: pointer;
}

@media(max-width:768px) {
	footer div.footer-container .up-button {
		background-image: url("../img/up-button.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 11.72rem;
		height: 2.35rem;
	}
}

@media(max-width:375px) {
	footer div.footer-container .up-button {
		background-image: url("../img/up-button.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 18.93rem;
		height: 5.07rem;
	}
}

div.footer-container .site-links {
	display: flex;
	align-items: center;
	margin-left: 10.26rem;
}

@media(max-width:768px) {
	div.footer-container .site-links {
		margin-left: 0;
	}
}

div.footer-container .site-links a,
div.footer-container .site-links p {
	font-weight: 400;
	font-size: 0.94rem;
	line-height: 100%;
	color: #525251;
}

@media(max-width:768px) {

	div.footer-container .site-links a,
	div.footer-container .site-links p {
		font-weight: 400;
		font-size: 1.82rem;
		line-height: 100%;
		color: #525251;
	}
}

@media(max-width:375px) {

	div.footer-container .site-links a,
	div.footer-container .site-links p {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
		color: #525251;
	}
}

div.footer-container .site-links a {
	text-decoration-line: underline;
	text-underline-offset: 0.16rem;
}

div.footer-container .site-links .separator {
	color: #525251;
	margin-left: 0.26rem;
	margin-right: 0.26rem;
}

div.footer-container .site-description {
	font-weight: 400;
	font-size: 0.94rem;
	line-height: 100%;
}

@media(max-width:768px) {
	div.footer-container .site-description {
		font-weight: 400;
		font-size: 1.82rem;
		line-height: 100%;
		color: #525251;
		text-align: end;
	}
}

@media(max-width:375px) {
	div.footer-container .site-description {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
		margin-top: 8rem;
	}
}

@media(max-width:375px) {
	div.footer-container .mobile .second-container {
		font-size: 1.82rem;
		line-height: 100%;
	}

	div.footer-container .site-description {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
	}
}

div.footer-container img.logo {
	width: 6.56rem;
	height: 1.93rem;
	margin-left: 1.41rem;
}

@media(max-width:768px) {
	div.footer-container img.logo {
		width: 18.62rem;
		height: 5.47rem;
		margin-left: 0;
	}
}

@media(max-width:375px) {
	div.footer-container img.logo {
		width: 23.47rem;
		height: 6.96rem;
	}
}

@media(max-width:768px) {
	footer .footer-container .tablet {
		display: flex;
	}
}

footer .footer-container .tablet,
footer .footer-container .mobile {
	display: none;
}

@media(max-width:768px) {
	footer .footer-container .desktop {
		display: none;
	}

	footer .footer-container .tablet {
		display: flex;
	}
}

@media(max-width:375px) {
	footer .footer-container .tablet {
		display: none;
	}

	footer .footer-container .mobile {
		display: flex;
	}
}