/* clinic */
@charset "UTF-8";

@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro-Bold.eot');
	src: local('DINPro Bold'), local('DINPro-Bold'),
		url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Bold.woff') format('woff'),
		url('../fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro-Medium.eot');
	src: local('DINPro Bold'), local('DINPro-Medium'),
		url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro-Medium.woff') format('woff'),
		url('../fonts/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('../fonts/DINPro.eot');
	src: local('DINPro'), local('DINPro'),
		url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DINPro.woff') format('woff'),
		url('../fonts/DINPro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
:after,
:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'DINPro', sans-serif;
	font-size: 1vw;
	/* line-height: 100%; */
	background: #EBEAE9;
	overflow-x: hidden;
}

a.ui-link {
	text-decoration: none;
	color: #000000;
	}

body {
	display: flex;
	/* justify-content: center; */
	overflow: hidden;
}

.content-container {
	/* width: 100%; */
	overflow: hidden;
	width: 94.27rem;
}

@media(max-width:1023px) {
	.content-container {
		width: 100rem;
	}
}

.content-container.tablet-expand {
	display: none;
}

.clinic-page {
	display: flex;
	background: #EBEAE9;
	/* width: 100%; */
	/* max-width: 1920px; */
}

@media(max-width:1023px) {
	div.webinars-content {
		padding: 0;
		padding-top: 0.52rem;
	}
}

nav {
	margin-top: 3.54rem;
	width: 5.73rem;
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav .expanded-menu {
	display: none;
	padding: 0px 1.77rem;

}

nav .expanded-menu .title-container {
	display: flex;
	justify-content: space-between;
}

nav .expanded-menu .title {
	font-weight: 400;
	font-size: 1.51rem;
	line-height: 100%;
}

nav .expanded-menu .search-container {
	margin-top: 2.5rem;
	position: relative;
}

nav .expanded-menu .search-container form {
	display: flex;
	justify-content: space-between;
	align-items: center
}

nav .expanded-menu .search-container input {
	border: none;
	width: 22.43rem;
	height: 3.65rem;
	background: #EBEAE9;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 100%;
	color: #9D9D9C;
	border-bottom: 2px solid #000000;
}

nav #nav-search .search-icon,
nav .expanded-menu .search-container .search-icon {
	width: 1.93rem;
	height: 1.93rem;
	border: none;
	appearance: none;
	background-color: #EBEAE9;
	background-image: url("../img/search_icon_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav .expanded-menu .search-container .search-icon {
	width: 1.93rem;
	height: 1.93rem;
	border: none;
	appearance: none;
	background-image: url("../img/search_icon_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

nav.expand #nav-search .search-icon {
	display: none;
}

nav .expanded-menu .search-container input:focus {
	outline: none;
}

nav .expanded-menu .close-menu {
	width: 1.93rem;
	height: 1.93rem;
	background-image: url("../img/closed_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav .expanded-menu .menu-list {
	margin-top: 3.33rem;
	font-weight: 500;
	font-size: 1.67rem;
	line-height: 100%;
	text-transform: uppercase;
}

nav .expanded-menu .menu-list ul {
	list-style: none;
}

nav .expanded-menu .menu-list ul li {
	margin-bottom: 2.6rem;
	cursor: pointer;
}

nav .expanded-menu .menu-list ul li:last-child {
	margin-bottom: 13.96rem;
}

nav.expand .expanded-menu {
	display: block;
}

nav.expand {
	width: 25.47rem;
}

@media(max-width:1023px) {
	nav {
		display: none;
	}
}

nav .nav-burger-icon {
	width: 2.35rem;
	height: 1.46rem;
	background-image: url("../img/burger_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 4.43rem;
	cursor: pointer;
}

nav.expand .nav-burger-icon {
	display: none;
}

nav .nav-text-container {
	height: 35.86rem;
	display: flex;
	align-items: center;
	text-align: center;
}

nav.expand .nav-text-container {
	display: none;
}

nav .nav-text-container .text {
	transform: rotate(-90deg);
	width: 41.86rem;
	font-weight: 700;
	font-size: 1.67rem;
	line-height: 100%;
}

nav .nav-user-icon {
	width: 2.19rem;
	height: 2.19rem;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCA0NSA0MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjIuNDQ2NCIgY3k9IjExLjQyNTkiIHI9IjEwLjQyNTkiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNNDMuMjk4NCA0MS4yMTQyQzQzLjI5ODQgMzYuMDc5IDQxLjEwMTUgMzEuMTU0MSAzNy4xOTExIDI3LjUyMjlDMzMuMjgwNiAyMy44OTE4IDI3Ljk3NjggMjEuODUxOCAyMi40NDY2IDIxLjg1MThDMTYuOTE2MyAyMS44NTE4IDExLjYxMjYgMjMuODkxOCA3LjcwMjA5IDI3LjUyMjlDMy43OTE2MSAzMS4xNTQxIDEuNTk0NzMgMzYuMDc5IDEuNTk0NzMgNDEuMjE0MiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav.expand .nav-user-icon {
	align-self: flex-end;
	margin-right: 1.77rem;
}

nav.tablet-nav-menu {
	display: none;
	padding: 9px 32px;
}

@media(max-width:639px) {
	nav.tablet-nav-menu {
		padding: 14px 22px;
	}
}

nav.tablet-nav-menu .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media(max-width:1023px) {
	nav.tablet-nav-menu.tablet-expand {
		display: block;
		width: 100rem;
		border: none;
	}
}
nav.tablet-nav-menu .search-container {
	margin-top: 88px;
	position: relative;
	margin-bottom: 150px;
}

nav.tablet-nav-menu .search-container form {
	display: flex;
	justify-content: space-between;
	align-items: center
}

@media(max-width:639px) {
	nav.tablet-nav-menu .search-container {
		margin-top: 42px;
		margin-bottom: 88px;
	}
}

nav.tablet-nav-menu .search-container input {
	border: none;
	width: 100%;
	height: 70px;
	background: #EBEAE9;
	font-size: 18px;
	line-height: 100%;
	color: #9D9D9C;
	border-bottom: 1px solid #000000;
}

@media(max-width:639px) {
	nav.tablet-nav-menu .search-container input {
		font-size: 14px;
		line-height: 100%;
	}
}

nav.tablet-nav-menu .search-container .search-icon {
	width: 29px;
	height: 29px;
	border: none;
	appearance: none;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuMjEyOSIgY3k9IjExLjIxMjkiIHI9IjEwLjcxMjkiIHN0cm9rZT0iYmxhY2siLz4KPGxpbmUgeDE9IjI3Ljc1NjQiIHkxPSIyNi43MzgzIiB4Mj0iMTkuODM4MiIgeTI9IjE4LjgyMDEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

@media(max-width:639px) {
	nav.tablet-nav-menu .search-container .search-icon {
		width: 22px;
		height: 22px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2Ljc1MTYgOC42MjU4MUMxNi43NTE2IDEzLjExMzYgMTMuMTEzNiAxNi43NTE2IDguNjI1ODEgMTYuNzUxNkM0LjEzODA1IDE2Ljc1MTYgMC41IDEzLjExMzYgMC41IDguNjI1ODFDMC41IDQuMTM4MDUgNC4xMzgwNSAwLjUgOC42MjU4MSAwLjVDMTMuMTEzNiAwLjUgMTYuNzUxNiA0LjEzODA1IDE2Ljc1MTYgOC42MjU4MVoiIHN0cm9rZT0iYmxhY2siLz4KPGxpbmUgeDE9IjIxLjE4OTIiIHkxPSIyMC41NjkzIiB4Mj0iMTUuMjYxIiB5Mj0iMTQuNjQxMiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
	}
}

nav.tablet-nav-menu .search-container:active {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuMjEyOSIgY3k9IjExLjIxMjkiIHI9IjEwLjcxMjkiIGZpbGw9ImJsYWNrIiBzdHJva2U9ImJsYWNrIi8+CjxsaW5lIHgxPSIyNy43NTY0IiB5MT0iMjYuNzM4MyIgeDI9IjE5LjgzODIiIHkyPSIxOC44MjAxIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=");
}

nav.tablet-nav-menu .search-container input:focus {
	outline: none;
}

nav.tablet-nav-menu .close-menu {
	width: 29px;
	height: 29px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMjkiIHZpZXdCb3g9IjAgMCAzMCAyOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI4LjY0MDkgMjcuNjQwNkwxLjQ1MzE2IDAuOTA2MDgyIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+CjxwYXRoIGQ9Ik0xLjkwNjI3IDI3LjY0MDZMMjguNjQwOCAwLjkwNjA4MiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

@media(max-width:639px) {
	nav.tablet-nav-menu .close-menu {
		width: 22px;
		height: 22px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIyLjI2MSAyMi4yNjEzTDEuMzQ4NTYgMS42OTczNSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8cGF0aCBkPSJNMS42OTcxIDIyLjI2MDdMMjIuMjYxIDEuNjk2ODIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==");
	}
}

nav.tablet-nav-menu .title {
	font-size: 24.6154px;
	line-height: 100%;
	text-transform: uppercase;
	color: #3B3B3A;
	font-weight: 700;
}

@media(max-width:540px) {
	nav.tablet-nav-menu .title {
		font-size: 20px;
		line-height: 100%;
	}
}

@media(max-width:460px) {
	nav.tablet-nav-menu .title {
		font-size: 16px;
		line-height: 100%;
	}
}

@media(max-width:639px) {
	nav.tablet-nav-menu .title {
		font-size: 14px;
		line-height: 100%;
	}
}

nav.tablet-nav-menu img.logo {
	width: 144x;
	height: 43px;
}

@media(max-width:710px) {
	nav.tablet-nav-menu img.logo {
		display: none;
	}
}

nav.tablet-nav-menu .menu-list {
	font-weight: 500;
	font-size: 24px;
	line-height: 100%;
	line-height: 110%;
	text-transform: uppercase;
}

@media(max-width:639px) {
	nav.tablet-nav-menu .menu-list {
		font-size: 16px;
		line-height: 100%;
	}
}

nav.tablet-nav-menu .menu-list ul {
	list-style: none;
}

nav.tablet-nav-menu .menu-list ul li {
	margin-bottom: 50px;
	cursor: pointer;
}

nav.tablet-nav-menu .menu-list ul li:last-child {
	margin-bottom: 42px;
}

nav.tablet-nav-menu .nav-user-icon {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzNCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGVsbGlwc2UgY3g9IjE2Ljk2MTgiIGN5PSI5LjAxOTA5IiByeD0iOC4wMTkwOSIgcnk9IjguMDE5MDkiIHN0cm9rZT0iYmxhY2siLz4KPHBhdGggZD0iTTMzIDMxLjkzMTdDMzMgMjcuOTgxOSAzMS4zMTAzIDI0LjE5MzkgMjguMzAyNSAyMS40MDFDMjUuMjk0OCAxOC42MDgxIDIxLjIxNTQgMTcuMDM5MSAxNi45NjE4IDE3LjAzOTFDMTIuNzA4MiAxNy4wMzkxIDguNjI4ODYgMTguNjA4MSA1LjYyMTEyIDIxLjQwMUMyLjYxMzM4IDI0LjE5MzkgMC45MjM2NDYgMjcuOTgxOSAwLjkyMzY0NSAzMS45MzE3IiBzdHJva2U9ImJsYWNrIi8+Cjwvc3ZnPgo=");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	margin-left: auto;
}

@media(max-width:639px) {
	nav.tablet-nav-menu .nav-user-icon {
		width: 25px;
		height: 25px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNyAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTMuNjYzMiIgY3k9IjcuMjcxODkiIHI9IjYuMTY4MzgiIHN0cm9rZT0iYmxhY2siLz4KPHBhdGggZD0iTTI2IDI0Ljg5NkMyNiAyMS44NTc4IDI0LjcwMDIgMTguOTQ0IDIyLjM4NjYgMTYuNzk1N0MyMC4wNzMgMTQuNjQ3NCAxNi45MzUxIDEzLjQ0MDQgMTMuNjYzMiAxMy40NDA0QzEwLjM5MTMgMTMuNDQwNCA3LjI1MzQyIDE0LjY0NzMgNC45Mzk4MyAxNi43OTU3QzIuNjI2MjQgMTguOTQ0IDEuMzI2NDggMjEuODU3OCAxLjMyNjQ4IDI0Ljg5NiIgc3Ryb2tlPSJibGFjayIvPgo8L3N2Zz4K");
	}
}

header {
	display: none;
	align-items: center;
	border-bottom: 2px solid black;
	padding-bottom: 0.52rem;
}

@media(max-width:1023px) {
	header {
		display: flex;
		border-bottom: none;
		padding-bottom: 0px;
		padding-top: 1.3rem;
	}
}

@media(max-width:1023px) {
	header .header-burger-icon {
		width: 4.3rem;
		height: 3.2rem;
		background-image: url("../img/burger_tablet.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-left: 4.3rem;
		cursor: pointer;
	}
}

@media(max-width:1023px) {
	header .header-search-icon {
		width: 3.78rem;
		height: 3.78rem;
		background-image: url("../img/search_icon_tablet.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-left: 3.78rem;
		cursor: pointer;
	}
}

@media(max-width:639px) {
	header .header-burger-icon {
		background-image: url("../img/burger_tablet.svg");
		width: 6.93rem;
		height: 4.53rem;
		margin-left: 5.87rem;
	}
}

@media(max-width:639px) {
	header .header-search-icon {
		background-image: url("../img/search_icon_tablet.svg");
		width: 5.87rem;
		height: 5.87rem;
		margin-left: 5.87rem;
	}
}

header .logo {
	width: 9.74rem;
	margin-left: 2.34rem;
	margin-right: 1.82rem;
}

@media(max-width:1023px) {
	header .logo {
		width: 18.75rem;
		margin-left: auto;
	}
}

@media(max-width:639px) {
	header .logo {
		width: 23.47rem;
	}
}

@media(max-width:1023px) {
	main {
		padding: 4.17rem;
	}
}

main .site-intro {
	display: flex;
	flex-wrap: wrap;
	padding-left: 1.04rem;
}

main .site-intro div.breadcrumbs {
	display: flex;
	align-self: flex-start;
	margin-top: 5.4rem;
	margin-left: 3.5rem;
}

main .site-intro div.breadcrumbs a {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 1.042rem;
	line-height: 100%;
	color: #525251;
	text-transform: uppercase;
}

main .site-intro div.breadcrumbs a::before {
	content: "";
	width: 0.47rem;
	height: 0.83rem;
	margin: 0px 0.63rem;
	background: #EBEAE9;
	background-image: url("../img/breadcrumbs_arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}

@media(max-width:1023px) {
	main .site-intro div.breadcrumbs {
		display: none;
	}
}

@media(max-width:1023px) {
	main .site-intro {
		flex-wrap: nowrap;
		flex-direction: column;
		padding: 0;
		margin-left: -4.17rem;
	}
}

main .site-intro .doctors-logo {
	width: 49.4rem;
	/* width: 47rem; */
	order: 2;
	margin-left: auto;
	/* border-left: 2px solid #000000; */
}

@media(max-width:1023px) {
	main .site-intro .doctors-logo {
		order: 1;
		width: 100rem;
		border-left: 0;
	}
}

main .site-intro .site-logo {
	width: 9.74rem;
	order: 1;
	margin-top: 3.54rem;
	margin-left: 1.35rem;
	align-self: flex-start;
}

@media(max-width:1023px) {
	main .site-intro .site-logo {
		display: none;
	}
}

main .site-intro .site-title {
	font-size: 4.74rem;
	font-weight: 600;
	line-height: 100%;
	order: 3;
	padding-top: 3.33rem;
    /* padding-bottom: 100px; */
	width: fit-content;
	text-transform: uppercase;
	border-right: 2px solid #000000;
	margin-right: 1.26rem;
}

/* main .site-intro .site-title {
	order: 3;
} */

main .site-intro .site-title .title {
	/* background-image: url("../img/clinical_cases_title.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 3.54rem;
	width: 54.23rem; */
	/* 
	order: 3;
	border: none;
	cursor: pointer; */
	/* margin-left: 1.77rem;
	padding-top: 3.33rem;
    padding-bottom: 100px;
	border-right: 2px solid #000000;
	padding-right: 0.5rem; */
}

@media(max-width:1023px) {
	main .site-intro .site-title {
		order: 3;
		padding-left: 4.43rem;
		/* margin-top: 4.95rem; */
		font-size: 11.98rem;
		line-height: 100%;
		border: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 15.63rem;
	}
}

@media(max-width:639px) {
	main .site-intro .site-title {
		padding-left: 5.87rem;
		font-size: 11.72rem;
		/* line-height: 13.67rem; */
		line-height: 100%;
		margin-top: 6.4rem;
	}
}

@media(max-width:1023px) {
	main .site-intro .site-title {
		margin-top: 15.49rem;
		margin-bottom: 6.64rem;
	}
}


@media(max-width:1023px) {
	main .site-intro .site-title .title{
		border-bottom: none;
		font-size: 4.67rem;
		line-height: 5.77rem;
	}
}

@media(max-width:639px) {
	main .site-intro .site-title .title{
		border-bottom: 2px solid #ED7A33;
	}
}

main .site-intro .site-title {
	position: relative;    
    width: fit-content;
    z-index: 1;
}

main .site-intro .site-title::after {
	content: "";
	height: 0.6rem;
	background: #FF7900;
	display: inline-block;
	width: 98%;
    bottom: 0.45rem;
    z-index: -1;
    position: absolute;
    left: 0.4rem;
}

@media(max-width:1023px) {
	main .site-intro .site-title::after {
		display: none;
	}
}

main .site-intro .site-intro-text {
	font-size: 1.67rem;
	line-height: 1.98rem;
	order: 4;
	margin-left: auto;
	width: 39.55rem;	
	margin-top: 3.39rem;
}

main .site-intro .site-intro-text .empty {
	margin-top: 2.92rem;
	height: 9.53rem;
    border-left: 2px solid #000000;
}

@media(max-width:1023px) { 
	main .site-intro .site-intro-text .empty {
		display: none;
	}
}

@media(max-width:1023px) { 
	main .site-intro .site-intro-text {
		padding-left: 5.87rem;
		font-size: 3.125rem;
		line-height: 4.27rem;
		order: 2;
		margin-left: 0;
		width: 100%;		
	}
}

@media(max-width:639px) {
	main .site-intro .site-intro-text {
		padding-left: 4.43rem;
		padding-left: 3.125rem;
		line-height: 3.64rem;
		margin-top: 6.4rem;
	}
}

main .site-intro .site-intro-text .site-logo {
	margin-top: 2.71rem;
	margin-bottom: 5.21rem;
}

@media(max-width:1023px) {
	main .site-intro .site-intro-text .site-logo {
		display: block;
		order: 3;
		width: 23.47rem;
	}
}

@media(max-width:639px) {
	main .site-intro .site-intro-text .site-logo {
		width: 27.73rem;
		margin-bottom: 4.95rem;
	}
}

main .site-intro .site-intro-text .empty-row {
	border-left: 2px solid #000000;
	height: 9.22rem;
	margin-top: 1.93rem;
}

@media(max-width:1023px) {
	main .site-intro .site-intro-text .empty-row {
		display: none;
	}
}

main .clinical-cases-content {
	padding-right: 1.41rem;
}

@media(max-width:1023px) {
	main .clinical-cases-content {
		padding: 0;
	}
}

main .clinical-cases-content .tab {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.62rem;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

@media(max-width:639px) {
	main .clinical-cases-content .tab {
		border-top: 1px solid #000000;
		padding-top: 6.4rem;
		align-items: flex-start;
	}
}

@media(max-width:1023px) {
	main .clinical-cases-content .tab {
		border-bottom: 0;
	}
}


main .clinical-cases-content .tab .tags-container {
	display: flex;
}

@media(max-width:639px) {
	main .clinical-cases-content .tab .tags-container {
		flex-direction: column;
	}
}

main .clinical-cases-content .tab .tags-container .tag {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 1rem 1rem 0.5rem;
	background: #F2F2F2;
	margin-right: 6px;
	font-size: 1.25rem;
	
}

@media(max-width:1023px) {
	main .clinical-cases-content .tab .tags-container .tag {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2.47rem 1.3rem 2.47rem 1.3rem;	
		background: #F2F2F2;
		margin-right: 6px;		
		font-size: 2.34rem;		
	}
}

@media(max-width:639px) {
	main .clinical-cases-content .tab .tags-container .tag {
		margin-bottom: 3.67rem;	
	}
}

main .clinical-cases-content .tab .tags-container .close {
	background-image: url("../img/close_news_tag.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 0.78rem;
	width: 0.78rem;
	border: none;
	cursor: pointer;
	margin-left: 1.77rem;
}

@media(max-width:1023px) {
	main .clinical-cases-content .tab .tags-container .close {
		background-image: url("../img/close_news_tag.svg");		
		height: 1.95rem;
		width: 1.95rem;		
		margin-left: 2.87rem;
	}
}

main .clinical-cases-content .tab .sort-container {
	display: flex;
	align-items: center;
	font-size: 1.25rem;
}

@media(max-width:1023px) {
	main .clinical-cases-content .tab .sort-container {
		display: flex;
		align-items: center;
		font-size: 2.34rem;
	}
}

main .clinical-cases-content .tab .sort-container .sort-icon {
	background-image: url("../img/sort_news_newest.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 1.25rem;
	height: 1.25rem;
	border: none;
	cursor: pointer;
	margin-left: 2rem;
}

@media(max-width:1023px) {
	main .clinical-cases-content .tab .sort-container .sort-icon {
		width: 2.47rem;
		height: 2.47rem;
		margin-left: 2rem;
	}
}

main .clinical-cases-content .clinical-cases-container {
	display: flex;
}

main .clinical-cases-content .search-nav {
	width: 20.57rem;
	border-right: 2px solid #000000;
}

main .clinical-cases-content .search-nav .desktop-search {
	padding-right: 16px;
	/* height: 3.85rem; */
}

main .clinical-cases-content .tablet-search {
	display: none;
}

@media(max-width:1023px) {
	main .clinical-cases-content .tablet-search {
		display: block;
	}
}

@media(max-width:1023px) {
	main .clinical-cases-content .search-nav .desktop-search {
		display: none;
	}
}


	main .clinical-cases-content .search-nav form {
		align-items: center;
	    display: flex;
    	position: relative;
		width: 19.58rem;
	}

main .clinical-cases-content .search-nav form input {
	border: none;
    width: 100%;
    height: 3.85rem;
    background: #EBEAE9;
    font-size: 1.3rem;
    line-height: 100%;
	padding-left: 1.41rem;
    color: #000000;
    border-bottom: 2px solid #000000;
	outline: none;
}

main .clinical-cases-content .search-nav form .search-icon {
	width: 1.72rem;
	height: 1.41rem;
	border: none;
	appearance: none;
	background: #EBEAE9;
	background-image: url("../img/search_tag_icon_news.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

main .clinical-cases-content .tablet-search form {
	align-items: center;
	display: flex;
	position: relative;
	/* width: 19.58rem; */
}

main .clinical-cases-content .tablet-search form input {
border: none;
width: 100%;
height: 4.85rem;
background: #EBEAE9;
font-size: 2.34rem;
line-height: 100%;
padding-left: 1.41rem;
color: #000000;
/* border-bottom: 2px solid #000000; */
outline: none;
}

main .clinical-cases-content .tablet-search form .search-icon {
width: 3.39rem;
height: 2.73rem;
border: none;
appearance: none;
background: #EBEAE9;
background-image: url("../img/search_tag_icon_news.svg");
background-repeat: no-repeat;
background-position: center;
background-size: contain;
cursor: pointer;
}

@media(max-width:1023px) {
	main .clinical-cases-content .clinical-cases-container .search-nav {
		display: none;
	}
}

main .clinical-cases-content .gategories .title {
	font-size: 1.3rem;
	font-weight: 600;
	padding-bottom: 2.29rem;
}

main .clinical-cases-content .gategories {
	padding: 2.24rem 1.93rem 0rem 1.41rem;
	display: flex;
	flex-direction: column;
}

main .clinical-cases-content .gategories .items {
	display: flex;
	flex-direction: column;
}

main .clinical-cases-content .gategories .item {
	display: flex;
	margin-bottom: 1.3rem;
	align-items: center;
}

main .clinical-cases-content .gategories .item input {
	display: flex;
	appearance: none;
}

main .clinical-cases-content .gategories .item .checkbox::before {
    content: "";
    background-image: url(../img/agreement_desktop_initial.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1.77rem;
    width: 1.77rem;
    cursor: pointer;
    margin-right: 20px;
}

main .clinical-cases-content .gategories .item .checkbox:checked::before {
    background-image: url(../img/agreement_desktop.svg);
}

main .clinical-cases-content .clinical-cases-list {
	display: flex;
	flex-direction: column;
}

main .clinical-cases-content .clinical-cases-list {
	display: flex;
	flex-direction: column;
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item {
	display: flex;
	padding: 1.67rem 0rem 1.67rem 1.67rem;
	border-bottom: 2px solid #000000;
	width: 71.8rem;
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item .image-container {
	display: flex;
}

@media(max-width:1023px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item {
		width: 91.28rem;
		padding: 1.67rem;
	}
}

@media(max-width:639px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item {
		/* width: 91.28rem;
		padding: 1.67rem; */
		flex-direction: column;
		border-bottom: 1px solid #000000;
	}
}

/* main .clinical-cases-content .clinical-cases-list .clinical-cases-item:last-child {
	border-bottom: 0;
} */

main .clinical-cases-content .clinical-cases-list .clinical-cases-item .image {
	display: flex;
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item img {
	width: 27.97rem;
	filter: grayscale(100%);
	transition: all 0.5s ease;
	cursor: pointer;
}

@media(max-width:1023px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item img {
		width: 29.69rem;
		/* object-fit: contain; */
		height: 29.3rem;
	}
}

@media(max-width:639px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item img {
		width: 81.33rem;
		object-fit: cover;
		height: 38.93rem;
	}
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item:hover {
	background: #F2F2F2;
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item:hover .image .empty {
	background-color: #ED7A33;
	transition: all 0.5s ease;
	border: 0;
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item:hover .image img {
	filter: grayscale(0%);
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item:hover .arrow {
	width: 3.7rem;
	background-color: #F2F2F2;
	background-image: url("../img/orange_arrow.svg");
	background-size: contain;
}

@media(max-width:1023px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item:hover .arrow {
		width: 6.51rem;
		height: 2.6rem;
		
	}
}

@media(max-width:639px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item:hover .arrow {
		width: 11.47rem;
		height: 4rem;
	}
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item .text-container {
	display: flex;
	flex-direction: column;
	border-left: 2px solid #000000;
	margin-left: 1.2rem;
}

@media(max-width:1023px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item .text-container {
		border-left: 0;
		margin-left: 0
	}
}

@media(max-width:639px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item .text-container {
		width: 81.5rem;
    	margin-left: 5rem;
	}
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item .title-container {
	display: flex;
	align-items: center;
	border-bottom: 2px solid #000000;
	
}

@media(max-width:1023px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item .title-container {
		margin-left: 1.67rem;
		/* border-bottom: 1px solid #000000; */
	}
}

@media(max-width:639px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item .title-container {
		margin-left: 0;
		border-bottom: 1px solid #000000;
	}
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item p.title {
	display: flex;
    align-items: center;
	/* width: 36.70rem; */
	font-size: 1.67rem;
	font-weight: 600;
	line-height: 120%;
	padding: 0.5rem 0 0.5rem 1.67rem;	
	text-transform: uppercase;
	height: 5.3rem;
	cursor: pointer;
}

@media(max-width:1023px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item p.title {
		font-size: 2.6rem;
		height: 9.38rem;
		padding: 0.5rem 0;
	}
}

@media(max-width:639px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item p.title {
		font-size: 3.73rem;
		height: 15.2rem;
	}
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item p.text {
	/* width: 37.67rem; */
	font-size: 1.25rem;
	padding: 0 1.67rem;
	margin-top: auto;
    margin-bottom: auto;
}

@media(max-width:1023px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item p.text {
		width: 53.52rem;
		font-size: 2.08rem;
		line-height: 120%;
		/* height: 20.05rem; */
		/* margin-left: 2rem; */
	}
}

@media(max-width:639px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item p.text {
		/* width: 53.52rem;
		font-size: 2.08rem;
		line-height: 120%; */
		/* height: 20.05rem; */
		/* margin-left: 2rem; */
		font-size: 3.2rem;
		width: 100%;
		padding: 0;
		margin-top: 10.67rem;
		margin-bottom: 8rem;
	}
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item p.specialisation {
	font-size: 1rem;
	font-weight: 500;
	transform: rotate(-90deg);
	width: 1rem;
	height: 1rem;
	align-self: end;
	margin-right: 1rem;
	text-transform: uppercase;
}

@media(max-width:1023px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item p.specialisation {
		font-size: 2.6rem;
		font-weight: 500;
		transform: rotate(-90deg);
		width: 2.6rem;
		height: 2.6rem;
		align-self: end;
		margin-right: 1rem;
		text-transform: uppercase;
	}
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item p.empty {
	width: 1.51rem;	
	border-left: 2px solid #000000;
	/* background: rgb(132, 189, 27); */
}

@media(max-width:639px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item p.empty {
		border-left: 1px solid #000000;
	}
}

main .clinical-cases-content .clinical-cases-list .clinical-cases-item .arrow {
	width: 1.3rem;
	height: 1.3rem;
	background: #EBEAE9;
	background-image: url("../img/arrow_news_item.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	margin-left: auto;
	/* margin-right: 0.89rem; */
}

@media(max-width:1023px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item .arrow {
		width: 2.6rem;
		height: 2.6rem;
	}
}

@media(max-width:639px) {
	main .clinical-cases-content .clinical-cases-list .clinical-cases-item .arrow {
		width: 4rem;
		height: 4rem;
	}
}

footer {
	padding: 2.6rem 2.29rem;
}

@media(max-width:1023px) {
	footer {
		padding: 4.65rem 4.43rem 3.65rem 4.43rem;
	}
}

@media(max-width:639px) {
	footer {
		padding: 4.53rem 5.87rem;
	}
}

div.footer-container .first-container,
div.footer-container .second-container {
	display: flex;
	align-items: center;
}

@media(max-width:1023px) {
	div.footer-container .first-container {
		margin-bottom: 7.16rem;
	}
}

div.footer-container .desktop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

div.footer-container .tablet {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

div.footer-container .mobile {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

div.footer-container .tablet .first-container,
div.footer-container .mobile .first-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.footer-container .tablet .second-container,
div.footer-container .mobile .second-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

@media(max-width:639px) {
	div.footer-container .mobile .second-container {
		margin-top: 2.67rem;
		text-align: center;
	}

	div.footer-container .mobile .second-container a,
	div.footer-container .mobile .second-container p {
		margin-bottom: 2.67rem;
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
	}
}

div.footer-container .mobile .second-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

div.footer-container .tablet .second-container .site-links,
div.footer-container .tablet .second-container .site-links a,
div.footer-container .mobile .second-container .site-links,
div.footer-container .mobile .second-container .site-links a {
	display: block;
}

footer div.footer-container .up-button {
	background-image: url("../img/up-button.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 1.2rem;
	width: 5.52rem;
	border: none;
	cursor: pointer;
}

@media(max-width:1023px) {
	footer div.footer-container .up-button {
		background-image: url("../img/up-button.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 11.72rem;
		height: 2.35rem;
	}
}

@media(max-width:639px) {
	footer div.footer-container .up-button {
		background-image: url("../img/up-button.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 18.93rem;
		height: 5.07rem;
	}
}

div.footer-container .site-links {
	display: flex;
	align-items: center;
	margin-left: 10.26rem;
}

@media(max-width:1023px) {
	div.footer-container .site-links {
		margin-left: 0;
	}
}

div.footer-container .site-links a,
div.footer-container .site-links p {
	font-weight: 400;
	font-size: 0.94rem;
	line-height: 100%;
	color: #525251;
}

@media(max-width:1023px) {

	div.footer-container .site-links a,
	div.footer-container .site-links p {
		font-weight: 400;
		font-size: 1.82rem;
		line-height: 100%;
		color: #525251;
	}
}

@media(max-width:639px) {

	div.footer-container .site-links a,
	div.footer-container .site-links p {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
		color: #525251;
	}
}

div.footer-container .site-links a {
	text-decoration-line: underline;
	text-underline-offset: 0.16rem;
}

div.footer-container .site-links .separator {
	color: #525251;
	margin-left: 0.26rem;
	margin-right: 0.26rem;
}

div.footer-container .site-description {
	font-weight: 400;
	font-size: 0.94rem;
	line-height: 100%;
}

@media(max-width:1023px) {
	div.footer-container .site-description {
		font-weight: 400;
		font-size: 1.82rem;
		line-height: 100%;
		color: #525251;
		text-align: end;
	}
}

@media(max-width:639px) {
	div.footer-container .site-description {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
		margin-top: 8rem;
		text-align: center;
	}
}

@media(max-width:639px) {
	div.footer-container .mobile .second-container {
		font-size: 1.82rem;
		line-height: 100%;
	}

	div.footer-container .site-description {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 100%;
	}
}

div.footer-container img.logo {
	width: 6.56rem;
	height: 1.93rem;
	margin-left: 1.41rem;
}

@media(max-width:1023px) {
	div.footer-container img.logo {
		width: 18.62rem;
		height: 5.47rem;
		margin-left: 0;
	}
}

@media(max-width:639px) {
	div.footer-container img.logo {
		width: 23.47rem;
		height: 6.96rem;
	}
}

@media(max-width:1023px) {
	footer .footer-container .tablet {
		display: flex;
	}
}

footer .footer-container .tablet,
footer .footer-container .mobile {
	display: none;
}

@media(max-width:1023px) {
	footer .footer-container .desktop {
		display: none;
	}

	footer .footer-container .tablet {
		display: flex;
	}
}

@media(max-width:639px) {
	footer .footer-container .tablet {
		display: none;
	}

	footer .footer-container .mobile {
		display: flex;
	}
}




/* news-inner */

  main .news-inner-title.site-title{width: 40.4rem; font-size: 2.35rem; padding-top: 0; margin-right: 0; border-right: 0; height: 0; display: flex; flex-direction: column;align-items: flex-start;justify-content: flex-end;line-height: 1.3;/*! box-shadow: inset 0 -.2em #FF7900; */display: flex;} 
	main .news-inner-title.site-title:after {content:initial} 
	main .news-inner-title.site-title span{position: relative;} 
	main .news-inner-title.site-title span:after{content:"";position: absolute;width: calc(100% - 0.44em);height: 0.16em;background-color: #5C56E5;left: 0.1em;bottom: 0.2em;z-index: -1;} 
	main .site-intro .news-inner-photo { width: 44.5rem; order: 2;margin-left: auto;}
 .news-inner-content{padding-left: 1.4rem;}
 .news-inner-release-content{width: 80%;padding: 0 32.1rem 0 2.4rem;}
 .news-inner-page-date{margin-top: 1rem;font-style: normal;font-size: 1.250rem;line-height: 1;letter-spacing: -0.01em;color: #9D9D9C;margin-bottom: 3.6rem;}
 .news-inner-paragraph{padding: 0 28% 0 19.5%;}
 .news-inner-p{font-size: 1.667rem;line-height: 2.135rem;letter-spacing: -0.01em;color: #000000;}
 .news-inner-vertical-divider{border-left: 2px solid #000000;height: 4rem;margin: 3.3rem 0 3.3rem 18.2rem;}
 .news-inner-release-wrap{display: flex;justify-content: center;align-items: center;}
 .news-inner-release-date{font-weight: 700;font-size: 2.396rem;line-height: 3.073rem;letter-spacing: -0.01em;text-transform: uppercase;color: #5C56E6;display: flex;flex-direction: column;align-items: flex-end;width: 18.2%;}
 .news-inner-release-date span{white-space: nowrap;}
 .news-inner-upper{font-weight: 700;font-size: 1.667rem;line-height: 2.135rem;letter-spacing: -0.01em;text-transform: uppercase;color: #000000;}
 .news-inner-map-head{display: flex;border-top: solid 2px #000;padding: 1.9rem 0 1.9rem 1.2rem;border-bottom: solid 2px #000;}
 .news-inner-map-title{font-weight: 700;font-size: 2.396rem;line-height: 3.073rem;letter-spacing: -0.01em;text-transform: uppercase;color: #000000;width: 18.2%;flex: 1 1 auto;}
 .news-inner-map-desc{font-size: 1.667rem;line-height: 2.135rem;width: 80%;padding-right: 24%;}
 .news-inner-map-content{background-color: lavender;border-bottom: solid 2px #000;} 
 .news-inner-map-content img{width: 100%}


@media(max-width:1023px){
	main .news-inner-title.site-title{width: 87rem;} 
	main .news-inner-title.site-title span{font-size: 4.948rem;} 
	main .site-intro .news-inner-photo { width: 95.7%;margin-bottom: 7.813rem;} 
	.news-inner-title .title{border-bottom: none!important}
	.news-inner-release-content{width: 74%;padding: 0 0 0 4.4rem;} 
	.news-inner-page-date{font-size: 2.083rem;} 
	.news-inner-paragraph{padding: 0 0% 0 27%;} 
	.news-inner-p{font-size: 3.125rem;line-height: 4.036rem;} 
	.news-inner-vertical-divider{margin: 3.3rem 0 3.3rem 24.2rem;height: 6rem;} 
	.news-inner-release-date{font-size: 4.297rem;line-height: 5.990rem;} 
	.news-inner-upper{font-size: 3.125rem;line-height: 4.036rem;} 
	.news-inner-map-title{font-size: 3.125rem;line-height: 4.036rem;width: 30%;} 
	.news-inner-map-desc{font-size: 3.125rem;line-height: 4.036rem;padding-right: 0;} 
}






