@charset "UTF-8";

@font-face {
	font-family: 'DINPro';
	src: url('/fonts/DINPro-Light.eot');
	src: local('DINPro Light'), local('DINPro-Light'),
		url('/fonts/DINPro-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINPro-Light.woff') format('woff'),
		url('/fonts/DINPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('/fonts/DINPro-SemiBold.eot');
	src: local('DINPro SemiBold'), local('DINPro-SemiBold'),
		url('/fonts/DINPro-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINPro-SemiBold.woff') format('woff'),
		url('/fonts/DINPro-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('/fonts/DINPro-Bold.eot');
	src: local('DINPro Bold'), local('DINPro-Bold'),
		url('/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINPro-Bold.woff') format('woff'),
		url('/fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('/fonts/DINPro.eot');
	src: local('DINPro'), local('DINPro'),
		url('/fonts/DINPro.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINPro.woff') format('woff'),
		url('/fonts/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('/fonts/DINPro-ExtraBold.eot');
	src: local('DINPro ExtraBold'), local('DINPro-ExtraBold'),
		url('/fonts/DINPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINPro-ExtraBold.woff') format('woff'),
		url('/fonts/DINPro-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

*,:after,:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	overflow-x: hidden;
	font-family: 'DINPro', sans-serif;
	font-size: 20px;
	line-height: 26px;
	padding: 60px;
}


div.ui-input-container {
	position: relative;
    display: flex;
    flex-direction: column;
    width: 920px;    
}

div.ui-input-container .ui-input-label {
    width: fit-content;
	height: 30px;
    margin-bottom: -15px;
    margin-left: 10px;
	padding: 0 6px 0 6px;
    z-index: 1;
    background-color: #ffffff;
	color: #525251;
}

div.ui-input-container .ui-input {    
	height: 61px;
	padding: 0 26px 0 26px;
	border: 2px solid #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
}

div.ui-input-container.error .ui-input {
	border: 2px solid #ED7A33;
	color: #ED7A33;
}

div.ui-input-container.error .ui-input-label {
	color: #ED7A33;
}

div.ui-input-container .ui-input:focus {
	outline-color: #ED7A33;
	/* border: 2px solid #ED7A33; */
	caret-color: #ED7A33;
}

div.ui-input-container p.error-text {
	display: none;   
	margin-top: 6px;
	margin-left: 26px;
	color: #ED7A33;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
}

div.ui-input-container.error p.error-text {
	display: block;
}
