*,:after,:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	overflow-x: hidden;
	font-family: 'DINPro', sans-serif;
	font-size: 20px;
	line-height: 26px;
	padding: 60px;
}

/* **********ui-input********** */
div.ui-dropdown-container {
	display: flex;
	flex-direction: column;
	width: 920px;
}

div.ui-dropdown-container .ui-dropdown-label {
	height: 30px;
	margin-bottom: -15px;
	margin-left: 21px;
	margin-right: 21px;
	padding: 0 6px 0 6px;
	z-index: 1;
	background-color: #ffffff;
	color: #525251;
	display: flex;
	justify-content: space-between;
}

div.ui-dropdown-container .ui-dropdown-label::after {
	content: "";
	width: 21px;
	height: 12px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAyMiAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMS41MTMxOEwxMSAxMS41MTMyTDIxIDEuNTEzMTgiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K");
	background-repeat: no-repeat;
	background-position: center;
	align-self: center;
}

div.ui-dropdown-container .ui-dropdown {
	height: 61px;
	padding: 0 26px 0 26px;
	border: 2px solid #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	font-size: 20px;
}

div.ui-dropdown-container .ui-dropdown option {
	font-size: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */

/* **********ui-input********** */
div.ui-input-container {
	display: flex;
	flex-direction: column;
	width: 920px;
}

div.ui-input-container .ui-input-label {
	width: fit-content;
	height: 30px;
	margin-bottom: -15px;
	margin-left: 21px;
	padding: 0 6px 0 6px;
	z-index: 1;
	background-color: #ffffff;
	color: #525251;
}

div.ui-input-container .ui-input {
	height: 61px;
	padding: 0 26px 0 26px;
	border: 2px solid #000000;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
}

div.ui-input-container.error .ui-input {
	border: 2px solid #ED7A33;
	color: #ED7A33;
}

div.ui-input-container.error .ui-input-label {
	color: #ED7A33;
}

div.ui-input-container.required .ui-input-label::after {
	content: "*";
}

div.ui-input-container .ui-input:focus {
	outline-color: #ED7A33;
	/* border: 2px solid #ED7A33; */
	caret-color: #ED7A33;
}

div.ui-input-container p.error-text {
	display: none;
	margin-top: 6px;
	margin-left: 26px;
	color: #ED7A33;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
}

div.ui-input-container.error p.error-text {
	display: block;
}

/* //////////////////////////////////////////////////////////////////////////////////////////// */


/* **********ui-textarea********** */
div.ui-textarea-container {
	display: flex;
	flex-direction: column;
	width: 920px;
	position: relative;
}

div.ui-textarea-container .ui-textarea-label {
	width: fit-content;
	height: 30px;
	margin-bottom: -15px;
	margin-left: 21px;
	padding: 0 6px 0 6px;
	z-index: 1;
	background-color: #ffffff;
	color: #525251;
}

div.ui-textarea-container .ui-textarea {
	padding: 15px 24px 15px 24px;
	border: 2px solid #000000;
	min-height: 242px;
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
}

div.ui-textarea-container .ui-textarea::before {
	content: "";
	position: absolute;
	width: 28px;
	height: 28px;
	left: 893px;
	bottom: -1px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOCAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI2IDFWMjZIMSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIi8+CjxwYXRoIGQ9Ik0xMy41IDFWMTMuNUgxIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiLz4KPHBhdGggZD0iTTIwIDFWMjBIMSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
}

div.ui-textarea-container .ui-textarea:focus {
	outline-color: #ED7A33;
}

div.ui-textarea-container .ui-textarea:focus::before {
	outline-color: #ED7A33;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOCAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI2IDFWMjZIMSIgc3Ryb2tlPSIjRUQ3QTMzIiBzdHJva2Utd2lkdGg9IjIiLz4KPHBhdGggZD0iTTEzLjUgMVYxMy41SDEiIHN0cm9rZT0iI0VEN0EzMyIgc3Ryb2tlLXdpZHRoPSIyIi8+CjxwYXRoIGQ9Ik0yMCAxVjIwSDEiIHN0cm9rZT0iI0VEN0EzMyIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
}
/* //////////////////////////////////////////////////////////////////////////////////////////// */

/* **********ui-buttons********** */
.ui-button-container {}

.ui-button-container .ui-button {
	width: 954px;
	height: 100px;
	padding: 27px 35px;
	background: #EBEAE9;
	border: 2px solid #000000;
	font: inherit;
	font-weight: 500;
	font-size: 26px;
}

.ui-button-container .ui-button:hover {
	background: #DAD6D2;
}

.ui-button-container .ui-button:active {
	background: #ED7A33;
}

.ui-upload-button-container {}

.ui-upload-button-container .ui-upload-button {
	width: 955px;
	height: 100px;
	display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 35px 0px 35px 27px;
	background: #EBEAE9;
	border: 2px solid #000000;
	font: inherit;
	font-weight: 500;
	font-size: 26px;
	text-align: left;
}

.ui-upload-button-container .ui-upload-button.uploaded::after{
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMzQiIHZpZXdCb3g9IjAgMCAzNCAzNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExIDlDMTEgOC40NDc3MiAxMS40NDc3IDggMTIgOEgxNy4zMjA3QzE3LjYwNjMgOCAxNy44Nzg0IDguMTIyMTUgMTguMDY4MSA4LjMzNTY0TDIwLjI2OTggMTAuODEyNUwyMi43NDg2IDEzLjYxMTRDMjIuOTEwNiAxMy43OTQzIDIzIDE0LjAzMDEgMjMgMTQuMjc0NFYyNUMyMyAyNS41NTIzIDIyLjU1MjMgMjYgMjIgMjZIMTJDMTEuNDQ3NyAyNiAxMSAyNS41NTIzIDExIDI1VjlaIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiLz4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiA4QzExLjQ0NzcgOCAxMSA4LjUwMzY4IDExIDkuMTI1VjI0Ljg3NUMxMSAyNS40OTYzIDExLjQ0NzcgMjYgMTIgMjZIMjJDMjIuNTUyMyAyNiAyMyAyNS40OTYzIDIzIDI0Ljg3NVYxNC42MjVDMjMgMTQuMDcyNyAyMi41NTIzIDEzLjYyNSAyMiAxMy42MjVIMTlDMTguNDQ3NyAxMy42MjUgMTggMTMuMTIxMyAxOCAxMi41VjlDMTggOC40NDc3MiAxNy41NTIzIDggMTcgOEgxMloiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K");
}

.ui-upload-button-container .ui-upload-button::after {
	content: "";
	width: 100px;
    height: 100px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyNSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIgMTAuOTA4MkwxMi40MDgzIDIxLjMxNjVMMjIuODE2NyAxMC45MDgyIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPHBhdGggZD0iTTEyLjQwODcgMS41MjQ0MUwxMi40MDg3IDIwLjMxNjQiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8cGF0aCBkPSJNMjMuMjM1NyAyNi4wMjQ0TDEgMjYuMDI0NCIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=");
	background-repeat: no-repeat;
	background-position: center;
	border-left: 2px solid;
}

.ui-upload-button-container .ui-upload-button:hover {
	background: #DAD6D2;
}

.ui-upload-button-container .ui-upload-button:active {
	background: #ED7A33;
}

.ui-upload-button-container .description {
	margin-top: 6px;
	margin-left: 26px;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
}
/* //////////////////////////////////////////////////////////////////////////////////////////// */


/* **********ui-breadcrumbs********** */
div.breadcrumbs {
    display: flex;
}

div.breadcrumbs a {
    /* display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0; */
}  

/* //////////////////////////////////////////////////////////////////////////////////////////// */