*,
:after,
:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'DINPro', sans-serif;
	font-size: 1vw;
	line-height: 26px;
	background: #EBEAE9;
}

body {
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.content-container {
	width: 100%;
	overflow: hidden;
}

.content-container.tablet-expand {
	display: none;
}

div.webinars-content {
	padding-top: 3.54rem;
	padding-right: 2.08rem;
	display: flex;
	background: #EBEAE9;
	width: 100%;
	max-width: 1920px;
}

@media(max-width:768px) {
	div.webinars-content {
		padding: 0;
		padding-top: 0.52rem;
	}
}

nav {
	width: 5.73rem;
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav .expanded-menu {
	display: none;
	padding: 0px 1.77rem;

}

nav .expanded-menu .title-container {
	display: flex;
	justify-content: space-between;
}

nav .expanded-menu .title {
	font-weight: 400;
	font-size: 1.51rem;
	line-height: 99%;
}

nav .expanded-menu .search-container {
	margin-top: 2.5rem;
	position: relative;
}

nav .expanded-menu .search-container form {
	display: flex;
	justify-content: space-between;
	align-items: center
}

nav .expanded-menu .search-container input {
	border: none;
	width: 22.43rem;
	height: 3.65rem;
	background: #EBEAE9;
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 99%;
	color: #9D9D9C;
	border-bottom: 2px solid #000000;
}

nav .expanded-menu .search-container .search-icon {
	width: 1.93rem;
	height: 1.93rem;
	border: none;
	appearance: none;
	background-image: url("../img/search_icon_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

nav .expanded-menu .search-container input:focus {
	outline: none;
}

nav .expanded-menu .close-menu {
	width: 1.93rem;
	height: 1.93rem;
	background-image: url("../img/closed_nav_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav .expanded-menu .menu-list {
	margin-top: 3.33rem;
	font-weight: 500;
	font-size: 1.67rem;
	line-height: 99%;
	text-transform: uppercase;
}

nav .expanded-menu .menu-list ul {
	list-style: none;
}

nav .expanded-menu .menu-list ul li {
	margin-bottom: 2.6rem;
	cursor: pointer;
}

nav .expanded-menu .menu-list ul li:last-child {
	margin-bottom: 13.96rem;
}

nav.expand .expanded-menu {
	display: block;
}

nav.expand {
	width: 25.47rem;
}

@media(max-width:768px) {
	nav {
		display: none;
	}
}

nav .nav-burger-icon {
	width: 2.29rem;
	height: 1.35rem;
	background-image: url("../img/burger_desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin-bottom: 4.43rem;
	cursor: pointer;
}

nav.expand .nav-burger-icon {
	display: none;
}

nav .nav-text-container {
	height: 41.86rem;
	display: flex;
	align-items: center;
	text-align: center;
}

nav.expand .nav-text-container {
	display: none;
}

nav .nav-text-container .text {
	transform: rotate(-90deg);
	width: 41.86rem;
	font-weight: 700;
	font-size: 1.67rem;
	line-height: 99%;
}

nav .nav-user-icon {
	width: 2.19rem;
	height: 2.19rem;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDUiIGhlaWdodD0iNDIiIHZpZXdCb3g9IjAgMCA0NSA0MiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMjIuNDQ2NCIgY3k9IjExLjQyNTkiIHI9IjEwLjQyNTkiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNNDMuMjk4NCA0MS4yMTQyQzQzLjI5ODQgMzYuMDc5IDQxLjEwMTUgMzEuMTU0MSAzNy4xOTExIDI3LjUyMjlDMzMuMjgwNiAyMy44OTE4IDI3Ljk3NjggMjEuODUxOCAyMi40NDY2IDIxLjg1MThDMTYuOTE2MyAyMS44NTE4IDExLjYxMjYgMjMuODkxOCA3LjcwMjA5IDI3LjUyMjlDMy43OTE2MSAzMS4xNTQxIDEuNTk0NzMgMzYuMDc5IDEuNTk0NzMgNDEuMjE0MiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
}

nav.expand .nav-user-icon {
	align-self: flex-end;
	margin-right: 1.77rem;
}

nav.tablet-nav-menu {
	display: none;
	padding: 9px 32px;
}

@media(max-width:375px) {
	nav.tablet-nav-menu {
		padding: 14px 22px;
	}
}

nav.tablet-nav-menu .header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media(max-width:768px) {
	nav.tablet-nav-menu.tablet-expand {
		display: block;
		width: 100%;
		border: none;
	}
}

nav.tablet-nav-menu .search-container {
	margin-top: 88px;
	position: relative;
	margin-bottom: 150px;
}

nav.tablet-nav-menu .search-container form {
	display: flex;
	justify-content: space-between;
	align-items: center
}

@media(max-width:375px) {
	nav.tablet-nav-menu .search-container {
		margin-top: 42px;
		margin-bottom: 88px;
	}
}

nav.tablet-nav-menu .search-container input {
	border: none;
	width: 100%;
	height: 70px;
	background: #EBEAE9;
	font-size: 18px;
	line-height: 99%;
	color: #9D9D9C;
	border-bottom: 1px solid #000000;
}

@media(max-width:375px) {
	nav.tablet-nav-menu .search-container input {
		font-size: 14px;
	}
}

nav.tablet-nav-menu .search-container .search-icon {
	width: 29px;
	height: 29px;
	border: none;
	appearance: none;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuMjEyOSIgY3k9IjExLjIxMjkiIHI9IjEwLjcxMjkiIHN0cm9rZT0iYmxhY2siLz4KPGxpbmUgeDE9IjI3Ljc1NjQiIHkxPSIyNi43MzgzIiB4Mj0iMTkuODM4MiIgeTI9IjE4LjgyMDEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	position: absolute;
	right: 0px;
}

@media(max-width:375px) {
	nav.tablet-nav-menu .search-container .search-icon {
		width: 22px;
		height: 22px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE2Ljc1MTYgOC42MjU4MUMxNi43NTE2IDEzLjExMzYgMTMuMTEzNiAxNi43NTE2IDguNjI1ODEgMTYuNzUxNkM0LjEzODA1IDE2Ljc1MTYgMC41IDEzLjExMzYgMC41IDguNjI1ODFDMC41IDQuMTM4MDUgNC4xMzgwNSAwLjUgOC42MjU4MSAwLjVDMTMuMTEzNiAwLjUgMTYuNzUxNiA0LjEzODA1IDE2Ljc1MTYgOC42MjU4MVoiIHN0cm9rZT0iYmxhY2siLz4KPGxpbmUgeDE9IjIxLjE4OTIiIHkxPSIyMC41NjkzIiB4Mj0iMTUuMjYxIiB5Mj0iMTQuNjQxMiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
	}
}

nav.tablet-nav-menu .search-container:active {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMjgiIHZpZXdCb3g9IjAgMCAyOSAyOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTEuMjEyOSIgY3k9IjExLjIxMjkiIHI9IjEwLjcxMjkiIGZpbGw9ImJsYWNrIiBzdHJva2U9ImJsYWNrIi8+CjxsaW5lIHgxPSIyNy43NTY0IiB5MT0iMjYuNzM4MyIgeDI9IjE5LjgzODIiIHkyPSIxOC44MjAxIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+Cjwvc3ZnPgo=");
}

nav.tablet-nav-menu .search-container input:focus {
	outline: none;
}

nav.tablet-nav-menu .close-menu {
	width: 29px;
	height: 29px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzAiIGhlaWdodD0iMjkiIHZpZXdCb3g9IjAgMCAzMCAyOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI4LjY0MDkgMjcuNjQwNkwxLjQ1MzE2IDAuOTA2MDgyIiBzdHJva2U9ImJsYWNrIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+CjxwYXRoIGQ9Ik0xLjkwNjI3IDI3LjY0MDZMMjguNjQwOCAwLjkwNjA4MiIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8L3N2Zz4K");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

@media(max-width:375px) {
	nav.tablet-nav-menu .close-menu {
		width: 22px;
		height: 22px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyMyAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIyLjI2MSAyMi4yNjEzTDEuMzQ4NTYgMS42OTczNSIgc3Ryb2tlPSJibGFjayIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIvPgo8cGF0aCBkPSJNMS42OTcxIDIyLjI2MDdMMjIuMjYxIDEuNjk2ODIiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==");
	}
}

nav.tablet-nav-menu .title {
	font-size: 24.6154px;
	line-height: 99%;
	text-transform: uppercase;
	color: #3B3B3A;
	font-weight: 700;
}

@media(max-width:540px) {
	nav.tablet-nav-menu .title {
		font-size: 20px;
	}
}

@media(max-width:460px) {
	nav.tablet-nav-menu .title {
		font-size: 16px;
	}
}

@media(max-width:375px) {
	nav.tablet-nav-menu .title {
		font-size: 14px;
	}
}

nav.tablet-nav-menu img.logo {
	width: 144x;
	height: 43px;
}

@media(max-width:710px) {
	nav.tablet-nav-menu img.logo {
		display: none;
	}
}

nav.tablet-nav-menu .menu-list {
	font-weight: 500;
	font-size: 24px;
	line-height: 110%;
	text-transform: uppercase;
}

@media(max-width:375px) {
	nav.tablet-nav-menu .menu-list {
		font-size: 16px;
	}
}

nav.tablet-nav-menu .menu-list ul {
	list-style: none;
}

nav.tablet-nav-menu .menu-list ul li {
	margin-bottom: 50px;
	cursor: pointer;
}

nav.tablet-nav-menu .menu-list ul li:last-child {
	margin-bottom: 42px;
}

nav.tablet-nav-menu .nav-user-icon {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzNCAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGVsbGlwc2UgY3g9IjE2Ljk2MTgiIGN5PSI5LjAxOTA5IiByeD0iOC4wMTkwOSIgcnk9IjguMDE5MDkiIHN0cm9rZT0iYmxhY2siLz4KPHBhdGggZD0iTTMzIDMxLjkzMTdDMzMgMjcuOTgxOSAzMS4zMTAzIDI0LjE5MzkgMjguMzAyNSAyMS40MDFDMjUuMjk0OCAxOC42MDgxIDIxLjIxNTQgMTcuMDM5MSAxNi45NjE4IDE3LjAzOTFDMTIuNzA4MiAxNy4wMzkxIDguNjI4ODYgMTguNjA4MSA1LjYyMTEyIDIxLjQwMUMyLjYxMzM4IDI0LjE5MzkgMC45MjM2NDYgMjcuOTgxOSAwLjkyMzY0NSAzMS45MzE3IiBzdHJva2U9ImJsYWNrIi8+Cjwvc3ZnPgo=");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	margin-left: auto;
}

@media(max-width:375px) {
	nav.tablet-nav-menu .nav-user-icon {
		width: 25px;
		height: 25px;
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjciIGhlaWdodD0iMjUiIHZpZXdCb3g9IjAgMCAyNyAyNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTMuNjYzMiIgY3k9IjcuMjcxODkiIHI9IjYuMTY4MzgiIHN0cm9rZT0iYmxhY2siLz4KPHBhdGggZD0iTTI2IDI0Ljg5NkMyNiAyMS44NTc4IDI0LjcwMDIgMTguOTQ0IDIyLjM4NjYgMTYuNzk1N0MyMC4wNzMgMTQuNjQ3NCAxNi45MzUxIDEzLjQ0MDQgMTMuNjYzMiAxMy40NDA0QzEwLjM5MTMgMTMuNDQwNCA3LjI1MzQyIDE0LjY0NzMgNC45Mzk4MyAxNi43OTU3QzIuNjI2MjQgMTguOTQ0IDEuMzI2NDggMjEuODU3OCAxLjMyNjQ4IDI0Ljg5NiIgc3Ryb2tlPSJibGFjayIvPgo8L3N2Zz4K");
	}
}

header {
	display: flex;
	align-items: center;
	/* height: 67px; */
	border-bottom: 2px solid black;
	padding-bottom: 0.52rem;
}

@media(max-width:768px) {
	header {
		/* height: 60px; */
		border-bottom: none;
		padding-bottom: 0px;
	}
}

@media(max-width:768px) {
	header .header-burger-icon {
		width: 4.3rem;
		height: 3.2rem;
		background-image: url("../img/burger_tablet.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-left: 4.3rem;
		cursor: pointer;
	}
}

@media(max-width:768px) {
	header .header-search-icon {
		width: 3.78rem;
		height: 3.78rem;
		background-image: url("../img/search_icon_tablet.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-left: 3.78rem;
		cursor: pointer;
	}
}

@media(max-width:375px) {
	header .header-burger-icon {
		background-image: url("../img/burger_tablet.svg");
		width: 6.93rem;
		height: 4.53rem;
		margin-left: 5.87rem;
	}
}

@media(max-width:375px) {
	header .header-search-icon {
		background-image: url("../img/search_icon_tablet.svg");
		width: 5.87rem;
		height: 5.87rem;
		margin-left: 5.87rem;
	}
}

header .logo {
	width: 9.74rem;
	margin-left: 2.34rem;
	margin-right: 1.82rem;
}

@media(max-width:768px) {
	header .logo {
		width: 18.75rem;
		margin-left: auto;
	}
}

@media(max-width:375px) {
	header .logo {
		width: 23.47rem;
	}
}

header .webinar-breadcrumbs {
	margin-left: 2.08rem;
}

@media(max-width:768px) {
	header .webinar-breadcrumbs {
		display: none;
	}
}

header div.breadcrumbs {
	display: flex;
}

header div.breadcrumbs a {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 1.042rem;
	color: #3B3B3A;
	text-transform: uppercase;
}

header div.breadcrumbs a::before {
	content: "";
	width: 0.47rem;
	height: 0.83rem;
	margin: 0px 0.63rem;
	background-image: url("../img/breadcrumbs_arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}

main .video-container {
	border-bottom: 2px solid black;
	padding-left: 44px;
	padding-right: 115px;
}

@media(max-width:1400px) {
	main .video-container {
		padding-left: 33px;
		padding-right: 87px;
	}
}

@media(max-width:1200px) {
	main .video-container {
		padding-left: 22px;
		padding-right: 60px;
	}
}

@media(max-width:960px) {
	main .video-container {
		padding-left: 11px;
		padding-right: 30px;
	}
}

@media(max-width:768px) {
	main .video-container {
		border-bottom: none;
		padding-right: 0px;
		padding-left: 0px;
	}
}

main .video-container video {
	width: 100%;
	min-width: 375px;
}

@media(max-width:768px) {
	main .video-container video {
		width: 100%;
	}
}

main .webinars-tab-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 133px;
	border-bottom: 2px solid black;
	padding-left: 45px;
	padding-right: 90px;
	display: none;
}

@media(max-width:768px) {
	main .webinars-tab-bar {
		padding-left: 23px;
		padding-right: 23px;
	}
}

@media(max-width:375px) {
	main .webinars-tab-bar {
		padding-left: 10px;
		padding-right: 10px;
	}
}

main .webinars-tab-bar .tablet,
main .webinars-tab-bar .mobile {
	display: none;
}

@media(max-width:768px) {
	main .webinars-tab-bar .desktop {
		display: none;
	}

	main .webinars-tab-bar .tablet {
		display: flex;
	}
}

@media(max-width:375px) {
	main .webinars-tab-bar .tablet {
		display: none;
	}

	main .webinars-tab-bar .mobile {
		display: flex;
	}
}

main .webinars-tab-bar .webinars-tab-bar-likes {
	display: flex;
}

main .webinars-tab-bar .webinars-tab-bar-controls {
	display: flex;
}

main .webinars-tab-bar .ui-like-container.like,
main .webinars-tab-bar .ui-share-container,
main .webinars-tab-bar .ui-save-container {
	margin-right: 4px;
}

main .webinars-empty-row {
	height: 124px;
	border-bottom: 2px solid black;
}

@media(max-width:768px) {
	main .webinars-empty-row {
		display: none;
	}
}

@media(max-width:375px) {
	main .webinars-empty-row {
		display: none;
	}
}

main .webinars-tags {
	display: flex;
	align-items: center;
	padding: 4.64em 1.29em;
	border-bottom: 2px solid black;
}

main .webinars-tags .title {
	margin-right: 11.32em;
	font-weight: 700;
	font-size: 2.43rem;
	line-height: 99%;
}

@media(max-width:768px) {
	main .webinars-tags .title {
		font-size: 4.69em;
		margin-right: 11.32em;
	}
}

@media(max-width:375px) {
	main .webinars-tags .title {
		font-size: 5.87em;
	}
}

main .webinars-tags .tags-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: -30px;
}

main .webinars-tags .tags-container a {
	margin-right: 25px;
	margin-top: 30px;
	text-decoration-line: underline;
	color: #000000;
}

@media(max-width:768px) {
	main .webinars-tags .tags-container a {
		font-size: 10px;
		line-height: 13px;
	}
}

main .webinars-poll {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid black;
	padding: 66px 6px 276px 24px;
}

main .webinars-poll.hide {
	display: none;
}

@media(max-width:1480px) {
	main .webinars-poll {
		display: block;
	}
}

@media(max-width:768px) {
	main .webinars-poll {
		padding-bottom: 120px;
		padding-right: 24px;
	}
}

@media(max-width:375px) {
	main .webinars-poll {
		padding-bottom: 0px;
	}
}

@media(max-width:768px) {
	main .webinars-poll .poll-description-container {
		font-size: 36px;
		line-height: 46px;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 39px;
		border-bottom: 2px solid #3B3B3A;
	}
}

main .webinars-poll .poll-title {
	font-weight: 700;
	font-size: 45px;
	line-height: 58px;
	text-transform: uppercase;
	width: fit-content;
	margin-bottom: 14px;
	display: inline;
	box-shadow: inset 0 -.2em #FF7900;
}

@media(max-width:1550px) {
	main .webinars-poll .poll-title {
		font-size: 42px;
	}
}

@media(max-width:768px) {
	main .webinars-poll .poll-title {
		font-size: 36px;
		line-height: 46px;
		box-shadow: none;
	}
}

main .webinars-poll .poll-description {
	font-weight: 400;
	font-size: 32px;
	line-height: 41px;
	margin-top: 44px;
	margin-left: 102px;
}

@media(max-width:768px) {
	main .webinars-poll .poll-description {
		font-size: 24px;
		line-height: 31px;
		margin: 0px;
	}
}

main .webinars-poll .poll-table .table-title {
	font-weight: 700;
	font-size: 32px;
	line-height: 41px;
}

@media(max-width:1480px) {
	main .webinars-poll .poll-table .table-title {
		margin-top: 24px;
	}
}

@media(max-width:1080px) {
	main .webinars-poll .poll-table .table-title {

		font-size: 24px;
		line-height: 31px
	}
}

main .webinars-poll .poll-table form {
	font-size: 20px;
	line-height: 23px;
	letter-spacing: -0.01em;
	text-transform: uppercase;
	margin-top: 24px;
}

main .webinars-poll .poll-table form .send-button {
	border: none;
	border-bottom: 2px solid #3B3B3A;
	height: 100px;
	font-weight: 500;
	font-size: 26px;
	line-height: 99%;
	text-transform: uppercase;
	color: #525251;
	background: inherit;
	width: 100%;
	cursor: pointer;
}

main .webinars-poll .poll-table form .send-button:active {
	background: #DAD6D2;
}

@media(max-width:1080px) {
	main .webinars-poll .poll-table form .send-button {
		height: 70px;
	}
}

main .webinars-poll .poll-table form legend {
	min-width: 235px;
}

@media(max-width:1080px) {
	main .webinars-poll .poll-table form legend {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 16px;
	}
}

main .webinars-poll .poll-table form .row {
	border-top: 2px solid #3B3B3A;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

@media(max-width:1080px) {
	main .webinars-poll .poll-table form .row {
		height: 70px;
	}
}

@media(max-width:660px) {
	main .webinars-poll .poll-table form .row {
		display: block;
		border: none;
		height: 100px;
	}
}

main .webinars-poll .poll-table form .row:hover {
	background-color: #f2f2f2;
}

main .webinars-poll .poll-table form fieldset {
	display: flex;
	justify-content: space-around;
	border: none;
}

main .webinars-poll .poll-table form fieldset input {
	appearance: none;
	text-align: center;
}

main .webinars-poll .poll-table form fieldset input::before {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	line-height: 23px;
	width: 130px;
	height: 100px;
	text-transform: uppercase;
	cursor: pointer;
}

@media(max-width:1080px) {
	main .webinars-poll .poll-table form fieldset input::before {
		width: 74px;
		height: 70px;
		font-size: 18px;
		line-height: 23px;
	}
}

@media(max-width:660px) {
	main .webinars-poll .poll-table form fieldset input::before {
		width: 66px;
		height: 50px;
		border: 1px solid #3B3B3A;
		font-size: 16px;
		line-height: 21px;

	}
}

main .webinars-poll .poll-table form fieldset input:checked:nth-child(1n)::before {
	background-color: #ED7A33;
}


main .webinars-poll .poll-table form fieldset input:hover::before {
	background-color: #DAD6D2;
}

main .webinars-poll .poll-table form fieldset input:nth-child(1n)::before {
	content: "1";
}

main .webinars-poll .poll-table form fieldset input:nth-child(1n):hover::before {
	content: "Очень плохо";
}

main .webinars-poll .poll-table form fieldset input:nth-child(2n)::before {
	content: "2";
}

main .webinars-poll .poll-table form fieldset input:nth-child(2n):hover::before {
	content: "Плохо";
}

main .webinars-poll .poll-table form fieldset input:nth-child(3n)::before {
	content: "3";
}

main .webinars-poll .poll-table form fieldset input:nth-child(3n):hover::before {
	content: "Нормально";
}

main .webinars-poll .poll-table form fieldset input:nth-child(4n)::before {
	content: "4";
}

main .webinars-poll .poll-table form fieldset input:nth-child(4n):hover::before {
	content: "Хорошо";
}

main .webinars-poll .poll-table form fieldset input:nth-child(5n)::before {
	content: "5";
}

main .webinars-poll .poll-table form fieldset input:nth-child(5n):hover::before {
	content: "Очень хорошо";
}

@media(max-width:768px) {
	main .webinars-poll .poll-table form fieldset input:nth-child(1n):hover::before {
		content: "1";
	}

	main .webinars-poll .poll-table form fieldset input:nth-child(2n):hover::before {
		content: "2";
	}

	main .webinars-poll .poll-table form fieldset input:nth-child(3n):hover::before {
		content: "3";
	}

	main .webinars-poll .poll-table form fieldset input:nth-child(4n):hover::before {
		content: "4";
	}

	main .webinars-poll .poll-table form fieldset input:nth-child(5n):hover::before {
		content: "5";
	}

	main .webinars-poll .poll-table form fieldset input:checked::before {
		background-color: #ED7A33;
	}

	main .webinars-poll .poll-table form fieldset input:checked:nth-child(1n)::before {
		content: "1";
	}

	main .webinars-poll .poll-table form fieldset input:checked:nth-child(2n)::before {
		content: "2";
	}

	main .webinars-poll .poll-table form fieldset input:checked:nth-child(3n)::before {
		content: "3";
	}

	main .webinars-poll .poll-table form fieldset input:checked:nth-child(4n)::before {
		content: "4";
	}

	main .webinars-poll .poll-table form fieldset input:checked:nth-child(5n)::before {
		content: "5";
	}
}

main .webinars-poll-end {
	display: none;
}

main .webinars-poll-end.show {
	padding: 7.5vw 1.88vw 15.7vw 1.88vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid black;
}

main .webinars-poll-end .text-container {
	margin-right: 24px;
}

main .webinars-poll-end .text1 {
	font-weight: 700;
	font-size: 6.8vw;
	line-height: 8.2vw;
	text-transform: uppercase;
	box-shadow: inset 0 -0.2em #ff7900;
	display: inline-block;
}

main .webinars-poll-end .text2 {
	margin-top: 3.75vw;
	margin-left: 5.77vw;
	font-weight: 400;
	font-size: 1.7vw;
	line-height: 2.2vw;
}

main .webinars-poll-end .image {
	max-width: 978px;
	max-height: 686px;
	width: 57%;
}


main .webinars-recomendations {
	border-bottom: 2px solid black;
}

main .webinars-recomendations .title {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid black;
	height: 135px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 45px;
	line-height: 99%;
}

@media(max-width:768px) {
	main .webinars-recomendations .title {
		font-size: 36px;
	}
}

@media(max-width:375px) {
	main .webinars-recomendations .title {
		font-size: 28px;
	}
}

main .webinars-recomendations .recomendations-container {
	display: flex;
	padding: 40px 0px 68px 16px;
	max-width: 1766px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

main .webinars-recomendations .recomendations-card {
	min-width: 411px;
	margin-right: 133px;
	height: 100%;
	filter: grayscale(100%);
	transition: all 0.5s ease;
	cursor: pointer;
}

main .webinars-recomendations .recomendations-card a {
	min-width: 411px;
	margin-right: 133px;
	height: 100%;
	color: #000000;
}

@media(max-width:768px) {
	main .webinars-recomendations .recomendations-card {
		min-width: 233px;
		margin-right: 24px;
	}
}

@media(max-width:375px) {
	main .webinars-recomendations .recomendations-card {
		margin-right: 14px;
	}
}

main .webinars-recomendations .recomendations-card .сard-image {
	width: 100%;
	object-fit: cover;
	height: 100%;
	min-height: 411px;
	max-width: 411px;

}

main .webinars-recomendations .recomendations-card:hover {
	filter: grayscale(0%);
}

@media(max-width:768px) {
	main .webinars-recomendations .recomendations-card .сard-image {
		min-height: 233px;
	}
}

main .webinars-recomendations .recomendations-card .card-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	border-bottom: 2px solid #000000;
	margin-bottom: 29px;
}

@media(max-width:768px) {
	main .webinars-recomendations .recomendations-card .card-title {
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 14px;
	}
}

@media(max-width:375px) {
	main .webinars-recomendations .recomendations-card .card-title {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 8px;
	}
}

main .webinars-recomendations .recomendations-card .card-header {
	font-weight: 700;
	font-size: 32px;
	line-height: 99%;
	margin-bottom: 24px;
	margin-top: 24px;
}

@media(max-width:768px) {
	main .webinars-recomendations .recomendations-card .card-header {
		font-size: 24px;
	}
}

@media(max-width:375px) {
	main .webinars-recomendations .recomendations-card .card-header {
		font-size: 18px;
	}
}

main .webinars-recomendations .recomendations-card .card-text {
	font-weight: 400;
	font-size: 24px;
	line-height: 31px;
	overflow: hidden;
	overflow-wrap: break-word;
}

@media(max-width:375px) {
	main .webinars-recomendations .recomendations-card .card-text {
		font-size: 14px;
		line-height: 18px;
	}
}

main .webinars-recomendations .recomendations-card .card-authors {
	font-weight: 500;
	font-size: 20px;
	line-height: 99%;
	margin-top: 24px;
}

@media(max-width:768px) {
	main .webinars-recomendations .recomendations-card .card-authors {
		font-size: 14px;
	}
}

@media(max-width:375px) {
	main .webinars-recomendations .recomendations-card .card-authors {
		font-size: 12px;
	}
}


main .webinars-recomendations .buttons-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 74px;
}

main .webinars-recomendations .buttons-container .next,
main .webinars-recomendations .buttons-container .prev {
	display: flex;
	font-weight: 500;
	font-size: 26px;
	line-height: 99%;
	text-transform: uppercase;
	border: none;
	padding: 0;
	background: inherit;
	cursor: pointer;
}

main .webinars-recomendations .buttons-container .next {
	margin-right: 80px;
}

main .webinars-recomendations .buttons-container .prev {
	margin-left: 40px;
}

@media(max-width:768px) {
	main .webinars-recomendations .buttons-container .next {
		margin-right: 40px;
	}
}

@media(max-width:375px) {
	main .webinars-recomendations .buttons-container .next {
		margin-right: 40px;
		font-size: 20px;
	}

	main .webinars-recomendations .buttons-container .prev {
		font-size: 20px;
	}
}

footer {
	padding: 2.6rem 2.29rem;
}

@media(max-width:768px) {
	footer {
		padding: 4.65rem 4.43rem 3.65rem 4.43rem;
	}
}

@media(max-width:375px) {
	footer {
		padding: 4.53rem 5.87rem;
	}
}

div.footer-container .first-container,
div.footer-container .second-container {
	display: flex;
	align-items: center;
}

@media(max-width:768px) {
	div.footer-container .first-container {
		margin-bottom: 7.16rem;
	}
}

div.footer-container .desktop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

div.footer-container .tablet {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

div.footer-container .mobile {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

div.footer-container .tablet .first-container,
div.footer-container .mobile .first-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

div.footer-container .tablet .second-container,
div.footer-container .mobile .second-container {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

@media(max-width:375px) {
	div.footer-container .mobile .second-container {
		margin-top: 2.67rem;
		text-align: center;
	}

	div.footer-container .mobile .second-container a,
	div.footer-container .mobile .second-container p {
		margin-bottom: 2.67rem;
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 99%;
	}
}

div.footer-container .mobile .second-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

div.footer-container .tablet .second-container .site-links,
div.footer-container .tablet .second-container .site-links a,
div.footer-container .mobile .second-container .site-links,
div.footer-container .mobile .second-container .site-links a {
	display: block;
}

footer div.footer-container .up-button {
	background-image: url("../img/up-button.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 1.2rem;
	width: 5.52rem;
	border: none;
	cursor: pointer;
}

@media(max-width:768px) {
	footer div.footer-container .up-button {
		background-image: url("../img/up-button.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 11.72rem;
		height: 2.35rem;
	}
}

@media(max-width:375px) {
	footer div.footer-container .up-button {
		background-image: url("../img/up-button.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 18.93rem;
		height: 5.07rem;
	}
}

div.footer-container .site-links {
	display: flex;
	align-items: center;
	margin-left: 10.26rem;
}

@media(max-width:768px) {
	div.footer-container .site-links {
		margin-left: 0;
	}
}

div.footer-container .site-links a,
div.footer-container .site-links p {
	font-weight: 400;
	font-size: 0.94rem;
	line-height: 99%;
	color: #525251;
}

@media(max-width:768px) {

	div.footer-container .site-links a,
	div.footer-container .site-links p {
		font-weight: 400;
		font-size: 1.82rem;
		line-height: 99%;
		color: #525251;
	}
}

@media(max-width:375px) {

	div.footer-container .site-links a,
	div.footer-container .site-links p {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 99%;
		color: #525251;
	}
}

div.footer-container .site-links a {
	text-decoration-line: underline;
	text-underline-offset: 0.16rem;
}

div.footer-container .site-links .separator {
	color: #525251;
	margin-left: 0.26rem;
	margin-right: 0.26rem;
}

div.footer-container .site-description {
	font-weight: 400;
	font-size: 0.94rem;
	line-height: 99%;
}

@media(max-width:768px) {
	div.footer-container .site-description {
		font-weight: 400;
		font-size: 1.82rem;
		line-height: 99%;
		color: #525251;
		text-align: end;
	}
}

@media(max-width:375px) {
	div.footer-container .site-description {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 99%;
		margin-top: 8rem;
	}
}

@media(max-width:375px) {
	div.footer-container .mobile .second-container {
		font-size: 1.82rem;
	}

	div.footer-container .site-description {
		font-weight: 400;
		font-size: 2.67rem;
		line-height: 99%;
	}
}

div.footer-container img.logo {
	width: 6.56rem;
	height: 1.93rem;
	margin-left: 1.41rem;
}

@media(max-width:768px) {
	div.footer-container img.logo {
		width: 18.62rem;
		height: 5.47rem;
		margin-left: 0;
	}
}

@media(max-width:375px) {
	div.footer-container img.logo {
		width: 23.47rem;
		height: 6.96rem;
	}
}

@media(max-width:768px) {
	footer .footer-container .tablet {
		display: flex;
	}
}

footer .footer-container .tablet,
footer .footer-container .mobile {
	display: none;
}

@media(max-width:768px) {
	footer .footer-container .desktop {
		display: none;
	}

	footer .footer-container .tablet {
		display: flex;
	}
}

@media(max-width:375px) {
	footer .footer-container .tablet {
		display: none;
	}

	footer .footer-container .mobile {
		display: flex;
	}
}

.video-container .webinar {
	background-image: url("../img/webinar.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 692px;
	width: 1385px;

}

.video-container .webinar:hover {
	background-image: url("../img/webinar2.png");
}

.video-container .webinar:active {
	background-image: url("../img/webinar3.png");
}

.video-stub {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 44px 0px;
	display: none;
}

@media(max-width:620px) {
	.video-stub {
		flex-direction: column;
	}
}

.video-stub .separator {
	border-left: 2px solid #000;
	height: 692px;
	margin: 0px 15px;
}

@media(max-width:1528px) {
	.video-stub .separator {
		display: none;
	}
}

.video-stub .speakers {
	display: flex;
	margin-right: 50px;
}

.video-stub img.speaker {
	display: block;
	filter: grayscale(100%);
	transition: all 0.5s ease;
	width: 50%;
}

@media(max-width:768px) {
	.video-stub img.speaker {
		width: 46%;

	}
}

@media(max-width:620px) {
	.video-stub img.speaker {
		width: 50%;
	}
}

.video-stub img.speaker:hover {
	filter: none;
}

.webinar.tablet,
.webinar.mobile {
	display: none;
}

@media(max-width:768px) {
	.webinar.desktop {
		display: none;
	}

	.webinar.tablet {
		display: block;
	}
}

@media(max-width:620px) {
	.webinar.tablet {
		margin-top: 20px;
	}

	.webinar.tablet {
		display: block;
	}
}

.video-stub .planned-dayweek {
	font-weight: 700;
	font-size: 42px;
	line-height: 99%;
}

.video-stub .tablet .planned-dayweek {
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	text-transform: uppercase;
}

.video-stub .planned-dayweek span {
	font-weight: 400;
	font-size: 26px;
	width: 102px;
	height: 36px;
	border: 2px solid #525251;
	padding: 5px 10px;
	margin-left: 10px;
	color: #525251
}

.video-stub .tablet span.soon {
	font-weight: 500;
	font-size: 18px;
	line-height: 99%;
	width: 57px;
	height: 18px;
	border: 2px solid #525251;
	padding: 5px 10px;
	color: #525251
}

.video-stub .planned-date {
	display: flex;
	font-weight: 400;
	font-size: 83px;
	line-height: 99%;
	margin-top: 10px;
}

.video-stub .tablet .planned-date {
	display: flex;
	font-weight: 500;
	font-size: 18px;
	line-height: 23px;
	margin-top: 10px;
}

.video-stub .planned-time {
	font-weight: 700;
	font-size: 40px;
	line-height: 99%;
	margin-top: 56px;
	margin-bottom: 35px;
}

.video-stub .tablet .planned-time {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	margin-top: 14px;
	margin-bottom: 14px;
}

.video-stub .tablet .date-container {
	display: flex;
	align-items: end;
}

.video-stub .tablet .date-container .date-separator {
	border-left: 2px solid #000;
	margin: 0px 14px;
	height: 60px;
}

.video-stub .planned-date span {
	font-weight: 400;
	font-size: 25px;
	line-height: 99%;
}

.video-stub .tablet .planned-date span {
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
}

.video-stub .title {
	font-weight: 400;
	font-size: 40px;
	line-height: 99%;
	margin-bottom: 73px;
}

.video-stub .tablet .title {
	font-weight: 400;
	font-size: 22px;
	line-height: 28px;
	margin-top: 44px;
	margin-bottom: 24px;
}

.video-stub p.speakers-fio {
	margin-bottom: 24px;
}

.video-stub .tablet p.speakers-fio {
	margin-bottom: 4px;
	font-size: 18px;
}

.video-stub .ui-button-container {
	margin-top: 66px;
}

.video-stub .tablet .ui-button-container {
	margin-top: 40px;
	font-size: 18px !important;
}

.video-stub .tablet .ui-button-container a {
	height: 80px;
	font-size: 18px;
}