.feedback-header {
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
	padding: 1.98rem 1.25rem;
	display: flex;
	align-items: center;
}

.feedback-header .title {
	font-weight: 700;
	font-size: 2.4rem;
	text-transform: uppercase;
	margin-right: 4.01rem;
}

.feedback-header .description {
	font-weight: 700;
	font-size: 1.67rem;
	text-transform: uppercase;
}

.feedback-form {
	padding: 3.49rem 16.98rem 15.16rem 16.98rem;
}

.feedback-form .ui-dropdown-container {
	width: 50%;
}

.feedback-form .ui-textarea-container {
	margin-top: 2rem;
}

.feedback-form .ui-textarea:empty:after {
    content: attr(data-placeholder);
} 

.feedback-form .ui-checkbox-container {
	margin-top: 2rem;
}

.feedback-form .ui-checkbox-container .ui-checkbox-label{
	font-size: 1.25rem;
	line-height: 150%;
	padding-left: 3rem;
	text-decoration: none;
	appearance: unset;
}

.feedback-form .ui-checkbox-container .ui-checkbox-label a{
	text-decoration: none;
	color: inherit;
	text-decoration: underline;	
	text-underline-offset: 5px;
}

.feedback-form .ui-checkbox-container input + div {
	width: 2.08rem;
	height: 2.08rem;
}

.feedback-form .ui-button-container {
	margin-top: 3.3rem;
}

.feedback-form .ui-textarea-container:hover {
	color: inherit;
}

.feedback-form .ui-textarea-container .ui-textarea:hover,
.feedback-form .ui-textarea-container .ui-textarea:focus {
	outline: none;
	border: 2px solid;
}

.feedback-form  .ui-textarea-container .ui-textarea::before {
	content: none;	
}








