main .site-intro {
	display: flex;
	flex-wrap: wrap;
	padding-left: 1.04rem;
}

main .site-intro div.breadcrumbs {
	display: flex;
	align-self: flex-start;
	margin-top: 5.4rem;
	margin-left: 3.5rem;
}

main .site-intro div.breadcrumbs a {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 1.042rem;
	line-height: 100%;
	color: #525251;
	text-transform: uppercase;
}

main .site-intro div.breadcrumbs a::before {
	content: "";
	width: 0.47rem;
	height: 0.83rem;
	margin: 0px 0.63rem;
	background: #EBEAE9;
	background-image: url("../../img/breadcrumbs_arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}

@media(max-width:1023px) {
	main .site-intro div.breadcrumbs {
		display: none;
	}
}

@media(max-width:1023px) {
	main .site-intro {
		flex-wrap: nowrap;
		flex-direction: column;
		padding: 0;
		margin-left: -4.17rem;
	}
}

main .site-intro .doctors-logo {
	width: 49.4rem;
	/* width: 47rem; */
	order: 2;
	margin-left: auto;
	/* border-left: 2px solid #000000; */
}

@media(max-width:1023px) {
	main .site-intro .doctors-logo {
		order: 1;
		width: 100rem;
		border-left: 0;
	}
}

main .site-intro .site-logo {
	width: 9.74rem;
	order: 1;
	margin-top: 3.54rem;
	margin-left: 1.35rem;
	align-self: flex-start;
}

@media(max-width:1023px) {
	main .site-intro .site-logo {
		display: none;
	}
}

main .site-intro .site-title {
	font-size: 4.74rem;
	font-weight: 600;
	line-height: 100%;
	order: 3;
	padding-top: 3.33rem;
    /* padding-bottom: 100px; */
	width: fit-content;
	text-transform: uppercase;
	border-right: 2px solid #000000;
	margin-right: 1.26rem;
}

/* main .site-intro .site-title {
	order: 3;
} */

main .site-intro .site-title .title {
	/* background-image: url("../../img/clinical_cases_title.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 3.54rem;
	width: 54.23rem; */
	/* 
	order: 3;
	border: none;
	cursor: pointer; */
	/* margin-left: 1.77rem;
	padding-top: 3.33rem;
    padding-bottom: 100px;
	border-right: 2px solid #000000;
	padding-right: 0.5rem; */
}

@media(max-width:1023px) {
	main .site-intro .site-title {
		order: 3;
		padding-left: 4.43rem;
		/* margin-top: 4.95rem; */
		font-size: 11.98rem;
		line-height: 100%;
		border: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-bottom: 15.63rem;
	}
}

@media(max-width:639px) {
	main .site-intro .site-title {
		padding-left: 5.87rem;
		font-size: 11.72rem;
		/* line-height: 13.67rem; */
		line-height: 100%;
		margin-top: 6.4rem;
	}
}

@media(max-width:1023px) {
	main .site-intro .site-title {
		margin-top: 15.49rem;
		margin-bottom: 6.64rem;
	}
}


@media(max-width:1023px) {
	main .site-intro .site-title .title{
		border-bottom: none;
		font-size: 4.67rem;
		line-height: 5.77rem;
	}
}

@media(max-width:639px) {
	main .site-intro .site-title .title{
		border-bottom: 2px solid #ED7A33;
	}
}

main .site-intro .site-title {
	position: relative;    
    width: fit-content;
    z-index: 1;
}

main .site-intro .site-title::after {
	content: "";
	height: 0.6rem;
	background: #FF7900;
	display: inline-block;
	width: 98%;
    bottom: 0.45rem;
    z-index: -1;
    position: absolute;
    left: 0.4rem;
}

@media(max-width:1023px) {
	main .site-intro .site-title::after {
		display: none;
	}
}

main .site-intro .site-intro-text {
	font-size: 1.67rem;
	line-height: 1.98rem;
	order: 4;
	margin-left: auto;
	width: 39.55rem;	
	margin-top: 3.39rem;
}

main .site-intro .site-intro-text .empty {
	margin-top: 2.92rem;
	height: 9.53rem;
    border-left: 2px solid #000000;
}

@media(max-width:1023px) { 
	main .site-intro .site-intro-text .empty {
		display: none;
	}
}

@media(max-width:1023px) { 
	main .site-intro .site-intro-text {
		padding-left: 5.87rem;
		font-size: 3.125rem;
		line-height: 4.27rem;
		order: 2;
		margin-left: 0;
		width: 100%;		
	}
}

@media(max-width:639px) {
	main .site-intro .site-intro-text {
		padding-left: 4.43rem;
		padding-left: 3.125rem;
		line-height: 3.64rem;
		margin-top: 6.4rem;
	}
}

main .site-intro .site-intro-text .site-logo {
	margin-top: 2.71rem;
	margin-bottom: 5.21rem;
}

@media(max-width:1023px) {
	main .site-intro .site-intro-text .site-logo {
		display: block;
		order: 3;
		width: 23.47rem;
	}
}

@media(max-width:639px) {
	main .site-intro .site-intro-text .site-logo {
		width: 27.73rem;
		margin-bottom: 4.95rem;
	}
}

main .site-intro .site-intro-text .empty-row {
	border-left: 2px solid #000000;
	height: 9.22rem;
	margin-top: 1.93rem;
}

@media(max-width:1023px) {
	main .site-intro .site-intro-text .empty-row {
		display: none;
	}
}
