/*-------------------- MAIN TEMPLATE OVERRIDE --------------------*/

.page.news20 {
	display: flex;
	background: #EBEAE9;
	padding-top: 3.54rem;
	/* width: 100%; */
	/* max-width: 1920px; */
}

.page.news20 nav {
	margin: 0;
}

/*-------------------- MAIN TEMPLATE OVERRIDE --------------------*/





/*-------------------- header --------------------*/

header {
	/* display: none; */
	display: flex;
	align-items: center;
}

@media(max-width:1023px) {
	header {
		display: flex;
		padding-bottom: 1rem;
		/* padding-bottom: 0px; */
		padding-top: 1.3rem;
	}
}

@media(max-width:1023px) {
	header .header-burger-icon {
		width: 4.3rem;
		height: 3.2rem;
		background: #EBEAE9;
		background-image: url("images/burger_tablet.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-left: 4.3rem;
		cursor: pointer;
	}
}

@media(max-width:1023px) {
	header .header-search-icon {
		width: 3.78rem;
		height: 3.88rem;
		background: #EBEAE9;
		background-image: url("images/search_icon_tablet.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		margin-left: 3.78rem;
		cursor: pointer;
	}
}

@media(max-width:639px) {
	header .header-burger-icon {
		background-image: url("images/burger_tablet.svg");
		width: 6.93rem;
		height: 4.53rem;
		margin-left: 5.87rem;
	}
}

@media(max-width:639px) {
	header .header-search-icon {
		background: #EBEAE9;
		background-image: url("images/search_icon_tablet.svg");
		background-size: cover;
		width: 5.87rem;
		height: 5.87rem;
		margin-left: 5.87rem;
	}
}

header .logo {
	width: 9.74rem;
	margin-left: 2.34rem;
	margin-right: 1.82rem;
}

@media(max-width:1023px) {
	header .logo {
		width: 18.75rem;
		margin-left: auto;
	}
}

@media(max-width:639px) {
	header .logo {
		width: 23.47rem;
	}
}

header .header-breadcrumbs {
	margin-left: 2.08rem;
	margin-top: 1.83rem;
}

@media(max-width:1023px) {
	header .header-breadcrumbs {
		display: none;
	}
}

header div.breadcrumbs {
	display: flex;
}

header div.breadcrumbs a {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 1.042rem;
	line-height: 100%;
	color: #525251;
	text-transform: uppercase;
}

header div.breadcrumbs a::before {
	content: "";
	width: 0.47rem;
	height: 0.83rem;
	margin: 0px 0.63rem;
	background: #EBEAE9;
	background-image: url("images/breadcrumbs_arrow.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain
}

/* @media(max-width:1023px) {
	main {
		padding: 0 4.17rem;
	}
} */


/*-------------------- header --------------------*/
