@charset "UTF-8";

@font-face {
	font-family: 'DINPro';
	src: url('../../fonts/DINPro-Bold.eot');
	src: local('DINPro Bold'), local('DINPro-Bold'),
		url('../../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/DINPro-Bold.woff') format('woff'),
		url('../../fonts/DINPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('../../fonts/DINPro-Medium.eot');
	src: local('DINPro Bold'), local('DINPro-Medium'),
		url('../../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/DINPro-Medium.woff') format('woff'),
		url('../../fonts/DINPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'DINPro';
	src: url('../../fonts/DINPro.eot');
	src: local('DINPro'), local('DINPro'),
		url('../../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/DINPro.woff') format('woff'),
		url('../../fonts/DINPro.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

*,
:after,
:before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: 'DINPro', sans-serif;
	font-size: 1vw;
	/* line-height: 100%; */
	background: #EBEAE9;
	overflow-x: hidden;
}

a.ui-link {
	text-decoration: none;
	color: #000000;
	}

body {
	display: flex;
	/* justify-content: center; */
	overflow: hidden;
}

.content-container {
	/* width: 100%; */
	overflow: hidden;
	width: 94.27rem;
}

@media(max-width:1023px) {
	.content-container {
		width: 100rem;
	}
}

.content-container.tablet-expand {
	display: none;
}

.page {
	display: flex;
	background: #EBEAE9;
	/* width: 100%; */
	/* max-width: 1920px; */
}

@media(max-width:1023px) {
	div.webinars-content {
		padding: 0;
		padding-top: 0.52rem;
	}
}
