/*-------------------- recomendations --------------------*/


main .recomendations {
	border-bottom: 1px solid black;
	padding: 0 4.17rem;
}

main .recomendations .title {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 2px solid black;
	height: 136px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.34rem;
	line-height: 100%;
}

@media(max-width:1023px) {
	main .recomendations .title {
		font-size: 4.69rem;
		height: 17.71rem;
		justify-content: flex-start;
		
	}
}

@media(max-width:639px) {
	main .recomendations .title {
		font-size: 7.47rem;
		align-items: flex-end;
		padding-bottom: 6.4rem;
		height: 30.9rem;
	}
}

main .recomendations .recomendations-container {
	/* display: flex; */
	padding: 40px 0px 68px 16px;
	/* max-width: 91.98rem; */
	/* overflow-x: hidden;
	scroll-behavior: smooth; */
}

@media(max-width:1023px) {
	main .recomendations .recomendations-container {
		padding: 40px 0px 68px 0px;
	}
}

main .recomendations .recomendations-card {
	width: 21.41rem;
	margin-right: 6.93rem;
	height: 100%;
	filter: grayscale(100%);
	transition: all 0.5s ease;
	cursor: pointer;
}

main .recomendations .recomendations-card a {
	min-width: 411px;
	margin-right: 133px;
	height: 100%;
	color: #000000;
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card {
		min-width: 411px;
		margin-right: 24px;
	}
}

@media(max-width:360px) {
	main .recomendations .recomendations-card {
		min-width: 233px;
		margin-right: 24px;
	}
}

@media(max-width:639px) {
	main .recomendations .recomendations-card {
		margin-right: 14px;
	}
}

main .recomendations .recomendations-card .сard-image {
	width: 100%;
	object-fit: cover;
	height: 100%;
	min-height: 21.41rem;
}

main .recomendations .recomendations-card:hover {
	filter: grayscale(0%);
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card .сard-image {
		min-height: 411px;
	}
}

@media(max-width:360px) {
	main .recomendations .recomendations-card .сard-image {
		min-height: 233px;
	}
}

main .recomendations .recomendations-card .card-title {
	font-weight: 500;
	font-size: 1.04rem;
	line-height: 100%;
	text-transform: uppercase;
	border-bottom: 2px solid #000000;
	margin-bottom: 1.51rem;
	padding-bottom: 0.83rem;
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card .card-title {
		font-size: 20px;
		line-height: 100%;
		margin-bottom: 14px;
	}
}

@media(max-width:639px) {
	main .recomendations .recomendations-card .card-title {
		font-size: 14px;
		line-height: 100%;
		margin-bottom: 8px;
	}
}

main .recomendations .recomendations-card .card-header {
	font-weight: 700;
	font-size: 1.67rem;
	line-height: 100%;
	margin-bottom: 1.25rem;
	margin-top: 1.25rem;
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card .card-header {
		font-size: 24px;
		line-height: 100%;
		margin-bottom: 1.25rem;
	margin-top: 3.125rem;
	}
}

@media(max-width:639px) {
	main .recomendations .recomendations-card .card-header {
		font-size: 18px;
		line-height: 100%;
		margin-bottom: 6.4rem;
	margin-top: 6.4rem;
	}
}

main .recomendations .recomendations-card .card-text {
	font-weight: 400;
	font-size: 1.25rem;
	line-height: 1.61rem;
	overflow: hidden;
	overflow-wrap: break-word;
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card .card-text {
		font-size: 3.13rem;
		line-height: 3.65rem;
	}
}

@media(max-width:639px) {
	main .recomendations .recomendations-card .card-text {
		font-size: 3.73rem;
		line-height: 4.27rem;
	}
}

main .recomendations .recomendations-card .card-authors {
	font-weight: 500;
	font-size: 1.04rem;
	line-height: 100%;
	margin-top: 1.25rem;
	text-transform: uppercase;
}

@media(max-width:1023px) {
	main .recomendations .recomendations-card .card-authors {
		font-size: 2.21rem;
		line-height: 100%;
	}
}

@media(max-width:639px) {
	main .recomendations .recomendations-card .card-authors {
		font-size: 3.2rem;
		line-height: 100%;
	}
}

main .recomendations .slick-track {
	display: flex;
}

main .recomendations .slick-prev {
	background-color: #EBEAE9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;
	left: 2.08rem;
	top: calc(100% + 0.635rem);
	background-image: url(../../../img/prev.svg);
    width: 7.81rem;
    height: 2rem;
}

main .recomendations .slick-prev::before {
	content: none;
}

main .recomendations .slick-next {
	background-color: #EBEAE9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    cursor: pointer;
	right: 5.4rem;
	top: calc(100% + 0.635rem);
	background-image: url(../../../img/next.svg);
	width: 8.3rem;
    height: 2rem;
}

main .recomendations .slick-next::before {
	content: none;
}

main .recomendations .slick-prev, main .recomendations .slick-next {
	border-radius: 0;
}

@media(max-width:1023px) {
	main .recomendations .slick-next {
		width: 15.93rem;
		height: 3.35rem;
	}

	main .recomendations .slick-prev {
		width: 14.81rem;
    	height: 3.35rem;
	}
}

@media(max-width:639px) {
	main .recomendations .slick-next {
		width: 18.93rem;
		height: 4.35rem;
	}

	main .recomendations .slick-prev {
		width: 18.93rem;
		height: 4.35rem;
	}
}


main .recomendations .buttons-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 74px;
}

main .recomendations .buttons-container .next,
main .recomendations .buttons-container .prev {
	display: none;
	background-color: #EBEAE9;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border: none;
	cursor: pointer;
}

main .recomendations .buttons-container .prev {
	background-image: url("../../img/prev.svg");
	width: 7.81rem;
	height: 1.35rem;
	margin-left: 2.08rem;
}

main .recomendations .buttons-container .next {
	background-image: url("../../img/next.svg");
	width: 9.93rem;
	height: 1.35rem;
	margin-right: 4.17rem;
}

@media(max-width:1023px) {
	main .recomendations .buttons-container .next {
		width: 15.93rem;
		height: 3.35rem;
	}

	main .recomendations .buttons-container .prev {
		width: 14.81rem;
    	height: 3.35rem;
	}
}

@media(max-width:639px) {
	main .recomendations .buttons-container .next {
		width: 18.93rem;
		height: 4.35rem;
	}

	main .recomendations .buttons-container .prev {
		width: 18.93rem;
		height: 4.35rem;
	}
}

/*-------------------- recomendations --------------------*/

