main .clinical-share-content {
	margin-right: 170px;
	border-right: 2px solid;
	padding-top: 9rem;
	margin-top: -9rem;
}

.clinical-share-content .visit2-container,
.clinical-share-content .visit3-container,
.clinical-share-content .active-container {
	width: 100%;
}


@media(max-width:1023px) {
	main .clinical-share-content {
		padding: 0;
		border: 0;
		margin: 0;
	}
}

main .clinical-share-content form {
	display: flex;
	flex-flow: wrap;
	align-items: flex-end;

}

main .clinical-share-content .fields {
	width: 49.69rem;
	margin-left: auto;
	margin-right: auto;
}

@media(max-width:1023px) {
	main .clinical-share-content .fields {
		width: 100%;
	}
}

main .clinical-share-content .fields .form-title {
	font-weight: 700;
	font-size: 2.4rem;
	margin-top: 6.25rem;
	margin-bottom: 3.2rem;
	text-transform: uppercase;
}

@media(max-width:1023px) {
	main .clinical-share-content .fields .form-title {
		display: none;
		font-size: 3.91rem;
	}
}

main .clinical-share-content .fields .header {
	width: 100%;
	font-weight: 700;
	font-size: 1.67rem;
	border-bottom: 2px solid;
	margin-top: 0.5rem;
	margin-bottom: 3rem;
	display: flex;
	align-items: center;
    justify-content: space-between;
	margin-top: 2.6rem;
	text-transform: uppercase;
}

@media(max-width:1023px) {
	main .clinical-share-content .fields .header {
		border-bottom: 1px solid;
	}
}

main .clinical-share-content .fields .header.visit3 {
	margin-top: 0;
}

main .clinical-share-content .fields .header .icon {
	width: 1.56rem;
	height: 1.56rem;
	background: #EBEAE9;
	background-image: url("../../img/plus.svg");
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

@media(max-width:1023px) {
	main .clinical-share-content .fields .header .icon {
		width: 3.56rem;
		height: 3.56rem;
	}
}


main .clinical-share-content .fields .header .icon.minus {
	background-image: url("../../img/minus.svg");
}

main .clinical-share-content .fields .container-1,
main .clinical-share-content .fields .container-2,
main .clinical-share-content .fields .container-3 {
	display: flex;
	width: 100%;
	/* align-items: flex-end; */
	justify-content: space-between;
}

main .clinical-share-content .fields .container-1,
main .clinical-share-content .fields .container-3,
main .clinical-share-content .fields .ui-input-container.complaints,
main .clinical-share-content .fields .ui-textarea-container,
main .clinical-share-content .fields .ui-button-container {
	margin-bottom: 2.6rem
}

@media(max-width:1023px) {

	main .clinical-share-content .fields .container-1,
	main .clinical-share-content .fields .container-2 {
		flex-direction: column;
	}
}

main .clinical-share-content .fields .age-container,
main .clinical-share-content .fields .gender-container {
	display: flex;
	width: 50%;
	/* align-items: flex-end; */
}

@media(max-width:1023px) {
	main .clinical-share-content .fields .age-container,
main .clinical-share-content .fields .gender-container {
		margin-bottom: 2.6rem;
	}
}

main .clinical-share-content .fields .gender-container input {
	appearance: none;
    text-align: center;
}

main .clinical-share-content .fields .gender-container fieldset {
	display: flex;
	border: none;
	font-family: inherit;
	align-items: center;
	margin-top: 0.83rem;

}

main .clinical-share-content .fields .gender-container #male::after,
main .clinical-share-content .fields .gender-container #female::after {
	display: inline-block;
	content: "МУЖСКОЙ";
	font-family: 'DINPro', sans-serif;
    /* padding: 23px 1.85rem 23px 1.85rem; */
    border: 2px solid #000000;
    font-weight: 400;
    font-size: 1rem;
    background-color: #EBEAE9;
	height: 76px;
	width: 10.1rem;
	margin-right: 1.3rem;
	display: inline-flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:1023px) {
	main .clinical-share-content .fields .gender-container #male::after,
	main .clinical-share-content .fields .gender-container #female::after {
		font-size: 2.34rem;
		width: 43.5rem;
		height: 50px;
	}
}

@media(max-width:639px) {
	main .clinical-share-content .fields .gender-container #male::after,
	main .clinical-share-content .fields .gender-container #female::after {
		border: 1px solid;
	}
}

main .clinical-share-content .fields .gender-container #male:hover::after,
main .clinical-share-content .fields .gender-container #female:hover::after {
	background: #DAD6D2;
	font-weight: 500;
}

main .clinical-share-content .fields .gender-container #male:checked::after,
main .clinical-share-content .fields .gender-container #female:checked::after {
	background: #ED7A33;
	font-weight: 500;
}

main .clinical-share-content .fields .gender-container #female::after {
	content: "ЖЕНСКИЙ";
	margin-right: 0;
}


@media(max-width:1023px) {
	main .clinical-share-content .fields .gender-container #male::after {
		margin-right: 4.5rem;
	}
}

@media(max-width:1023px) {

	main .clinical-share-content .fields .age-container,
	main .clinical-share-content .fields .gender-container {
		width: 100%;
		justify-content: space-between;
	}
}

@media(max-width:1023px) {
	main .clinical-share-content .fields .header {
		font-size: 3.91rem;
		/* margin-top: 0.5rem; */
		margin-bottom: 4.5rem;
	}
}



main .clinical-share-content .fields .ui-input-container,
main .clinical-share-content .fields .ui-dropdown-container,
main .clinical-share-content .fields .ui-textarea-container,
main .clinical-share-content .fields .ui-button-container {
	/* margin-bottom: 2.6rem; */
}

/* main .clinical-share-content .fields div.ui-input-container .ui-input {
	font-size: 20px;
} */

main .clinical-share-content .fields .ui-input-container.gender {
	width: 40%;
	margin-right: 1.3rem;
}

@media(max-width:1023px) {
	main .clinical-share-content .fields .ui-input-container.gender {
		width: 45%;
		margin-right: 0;
	}
}

main .clinical-share-content .fields .ui-input-container.age {
	width: 25.4%;
	margin-right: 1.3rem;
}

@media(max-width:1023px) {
	main .clinical-share-content .fields .ui-input-container.age {
		width: 30%;
		margin-right: 0;
	}
}

main .clinical-share-content .fields .ui-input-container.referral,
main .clinical-share-content .fields .ui-input-container.diagnos {
	width: 41%;
}

@media(max-width:1023px) {

	main .clinical-share-content .fields .ui-input-container.referral,
	main .clinical-share-content .fields .ui-input-container.diagnos {
		width: 48%;
	}
}

main .clinical-share-content .fields .ui-dropdown-container.education {
	width: 100%;
	/* margin-left: 3.55rem; */
}

main .clinical-share-content .fields .ui-dropdown-container.marital-status {
	width: 50%;
}

@media(max-width:1023px) {
	main .clinical-share-content .fields .ui-dropdown-container.marital-status {
		width: 100%;
	}
}

@media(max-width:639px) {
	footer {
		border-top: 1px solid !important;

	}
}



