.registration-modal div.ui-input-container .ui-input::placeholder {
	font-size: 1.2rem;
	text-align: left;
}

.registration-modal a.modal-link {   
    display:none;
}

.registration-modal #registration-container {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility:hidden;
    display:none;
    background-color: rgba(96, 96, 95, 0.3);
	z-index: 100;
}

.registration-modal .title {   
    font-weight: 500;
	font-size: 1.35rem;
	text-transform: uppercase;
}

.registration-modal #registration-container:target {
    visibility: visible;
    display: block;
}

.registration-modal .reveal-modal {
    background:#EDECEB; 
    margin: 0 auto;
    width: 40.21rem;
	/* height: 20.31rem; */
    position:relative; 
    z-index:100;
    top: 15%;
    padding: 6.25rem 8.33rem 6.25rem 8.33rem;
    border: 2px solid;
    z-index: 100;
    display: flex;
    flex-direction: column;
    }   

    .registration-modal .reveal-modal p {
    	font-weight: 500;
    	font-size: 1.35rem;
    	line-height: 130%;
    	text-transform: uppercase;
    	margin: auto;
    }

	@media(max-width:1023px) {
    	.registration-modal .reveal-modal {
    		width: 57.84rem;
    		height: fit-content;
    	}

    	.registration-modal .reveal-modal p {
    		font-size: 2rem;
    	}

    }

	@media(max-width:639px) {
    	.registration-modal .reveal-modal {
			width: 64.84rem;
			/* height: 35.31rem; */
			
		}

    	.registration-modal .reveal-modal p {
    		font-size: 2.5rem;
    	}

    }

    .registration-modal .close-reveal-modal {
	align-self: flex-end;
	width: 1.93rem;
	height: 1.93rem;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkiIGhlaWdodD0iMzkiIHZpZXdCb3g9IjAgMCAzOSAzOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM3LjQxODYgMzYuOTMzTDIuMDc0NTUgMi4xNzgxIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPHBhdGggZD0iTTIuNjYzMDkgMzYuOTMzMUwzNy40MTggMi4xNzgyIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	position: absolute;
	top: 23px;
    right: 16px;
}

@media(max-width:1023px) {
	.registration-modal .close-reveal-modal {
		width: 2.93rem;
		height: 2.93rem;
	}

}

@media(max-width:639px) {
	.registration-modal .close-reveal-modal {
		width: 3.93rem;
		height: 3.93rem;
	}

}

/* .registration-modal .ui-input-container .email {
	margin-top: ;
} */

.registration-modal .ui-input-container,
.registration-modal .ui-dropdown-container {
	margin-top: 1rem;
}

.registration-modal .ui-button-container {
	margin-top: 3rem;
}


.modal a.modal-link {   
    display:none;
}
.modal #container {
    width: 100%;
    height: 100%;
    position: absolute;
    visibility:hidden;
    display:none;
    background-color: rgba(96, 96, 95, 0.3);
	z-index: 100;
}

.modal #container:target {
    visibility: visible;
    display: block;
}

.modal .reveal-modal {
    background:#EDECEB; 
    margin: 0 auto;
    width: 49.84rem;
	height: 20.31rem;
    position:relative; 
    z-index:100;
    top: 15%;
    padding:1.98rem;
    border: 2px solid;
    z-index: 100;
    display: flex;
    flex-direction: column;
    }   

    .modal .reveal-modal p {
    	font-weight: 500;
    	font-size: 1.35rem;
    	line-height: 130%;
    	text-transform: uppercase;
    	margin: auto;
    }

	@media(max-width:1023px) {
    	.modal .reveal-modal {
    		width: 57.84rem;
    		height: fit-content;
    	}

    	.modal .reveal-modal p {
    		font-size: 2rem;
    	}

    }

	@media(max-width:639px) {
    	.modal .reveal-modal {
			width: 64.84rem;
			height: 35.31rem;
		}

    	.modal .reveal-modal p {
    		font-size: 2.5rem;
    	}

    }

    .modal .close-reveal-modal {
	align-self: flex-end;
	width: 1.93rem;
	height: 1.93rem;
	background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzkiIGhlaWdodD0iMzkiIHZpZXdCb3g9IjAgMCAzOSAzOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTM3LjQxODYgMzYuOTMzTDIuMDc0NTUgMi4xNzgxIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPHBhdGggZD0iTTIuNjYzMDkgMzYuOTMzMUwzNy40MTggMi4xNzgyIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz4KPC9zdmc+Cg==");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	cursor: pointer;
	position: absolute;
}

@media(max-width:1023px) {
	.modal .close-reveal-modal {
		width: 2.93rem;
		height: 2.93rem;
	}

}

@media(max-width:639px) {
	.modal .close-reveal-modal {
		width: 3.93rem;
		height: 3.93rem;
	}

}