/* clinics-content */
.clinics-content {padding-bottom: 11.72rem;border-bottom: 2px solid black;}
.clinics-top-wrap{display: flex;flex-direction: column;} 
.clinics-h1-title{font-weight: 700;font-size: 4.792rem;line-height: 5.990rem;letter-spacing: -0.01em;text-transform: uppercase;color: #000;margin: 6.771rem 0 0 1.771rem;width: 100%;} 
.clinics-h1-title span{position: relative;z-index: 1;}
.clinics-h1-title span:before{content:"";position: absolute;width: calc(100% - 1.667vw);height: 0.729vw;left: 0.260vw;bottom: 0.938vw;background-color: #D155BD;z-index: -1;}
.clinics-main-photo{padding-left: 47.3%;margin-top: 1.563rem;} 
.clinics-h2-bordered{font-weight: 700;font-size: 2.396rem;line-height: 3.073rem;letter-spacing: -0.01em;text-transform: uppercase;color: #953385;border-bottom: 2px solid #000;padding-left: 1.250rem;padding-bottom: 0.521rem;margin-bottom: 6.146rem;margin-top: 6.146rem;} 
.clinics-row{display: flex;align-items: center;padding: 0 4.323rem 0 1.302rem;margin-bottom: 3.333rem;} 
.clinics-row-title{font-weight: 700;font-size: 1.667rem;line-height: 2.135rem;letter-spacing: -0.01em;text-transform: uppercase;color: #000000;width: 49%;} 
.clinics-row-desc{font-size: 1.667rem;line-height: 2.135rem;letter-spacing: -0.01em;color: #000000;width: 52%;} 
.clinics-numered-list{display: flex;justify-content: flex-end;margin-top: 6.250rem;margin-right: 0;margin-bottom: 6.198rem;} 
.clinics-numered-list-item{border-left: solid 2px #000;min-height: 33.594rem;display: flex;flex-direction: column;padding-left: 0.677rem;padding-top: 1.250rem;width: 24.792rem;align-items: flex-start;} 
.clinics-numered-list-item.without-border{border: none}
.clinics-numered-list-item:last-child{width: 19.740rem;} 
.clinics-numered-list-item-num{font-weight: 700;font-size: 8.958rem;line-height: 1;letter-spacing: -0.01em;color: #953385;margin-bottom: 0.313rem;} 
.clinics-numered-list-item-desc{font-weight: 500;font-size: 1.042rem;line-height: 1.354rem;display: flex;align-items: center;letter-spacing: -0.01em;text-transform: uppercase;color: #000;margin-left: 0.677rem;} 
.clinics-numered-list-item-title{font-weight: 700;font-size: 1.667rem;line-height: 2.135rem;display: flex;align-items: flex-end;letter-spacing: -0.01em;text-transform: uppercase;color: #000;flex: 1 1 auto;height: 100%;flex-direction: column;justify-content: flex-end;max-width: 80%;} 
.clinics-ul{list-style: none;} 
.clinics-ul li:last-child{margin-bottom: 0} 
.clinics-li{position: relative;margin-bottom: 1.146rem;} 
.clinics-li:before{content:"";position: absolute;width: 5.260rem;height: 2px;background-color: #953385;left: -6.563rem;top: 50%;} 
.clinics-h3-title{font-weight: 700;font-size: 1.667rem;line-height: 2.135rem;letter-spacing: -0.01em;text-transform: uppercase;color: #000;margin-top: 6.146rem;margin-left: 1.250rem;} 
.clinics-img-content{width: 100%;padding-left: 47.3%;margin-top: 2.813rem;margin-bottom: 6.042rem;} 
.clinics-text-in-bordered-box{border-top: 2px solid #000;border-bottom: 2px solid #000;font-weight: 700;font-size: 2.396rem;line-height: 2.073rem;display: flex;align-items: center;letter-spacing: -0.01em;text-transform: uppercase;color: #000;margin: 6.354rem 0;padding: 2.323rem 1.31rem;} 
.clinics-text-in-bordered-box .border-right{border-right: solid 0.365vw currentColor;padding-right: 0.729vw;margin-right: 1.213vw;}
.clinics-text-purple{font-weight: 700;font-size: 1.667rem;line-height: 2.135rem;letter-spacing: -0.01em;text-transform: uppercase;color: #953385;} 
.clinics-simple-text{font-weight: 400;font-size: 1.354rem;line-height: 1.719rem;display: flex;align-items: flex-end;letter-spacing: -0.01em;color: #000;text-transform: none;} 
.clinics-pantocalcin-diagram{margin-left: 14.271rem;margin-top: 2.344rem;} 
.clinics-pantocalcin-diagram-desc-wrap{margin: -22.24rem 0 6.875rem 44.271rem;} 
.clinics-pantocalcin-diagram img{width: 73%;}
.clinics-pantocalcin-diagram-desc-wrap h3{margin-left: 0;margin-bottom: 3.333rem;} 
.clinics-pantocalcin-diagram-desc-wrap p{font-size: 1.63rem;margin-bottom: 2.344rem;max-width: 89%;} 
.clinics-pantocalcin-diagram-fullsize{margin-top: 3.438rem;padding: 0 1.302rem;} 
.clinics-pantocalcin-diagram-fullsize img{width: 100%}
.color-purple{color: #953385;}
.tablet{display: none}


@media (max-width:1023px) {
	.clinics-margin-mob{margin-bottom: 5rem;display: inline-block;}
	.tab{display: block} 
	.clinics-row{flex-direction: column;} 
	.clinics-page .content-container{width: 100rem;padding-top: 1.042rem;} 
	.clinics-top-wrap{display: flex;flex-direction: column-reverse;width: calc(100% + 4.28rem);} 
	.clinics-top-wrap .logo{width: 18.750rem;margin: 9.505rem 0 4.818rem 4.297rem;} 
	.clinics-h1-title{margin: 0 0 0 3.385rem;font-size: 8.333rem;line-height: 98%;letter-spacing: -0.01em;} 
	.clinics-main-photo{margin-top: 1.302rem;padding-left: 0;} 
	.clinics-h1-title span:before{width: calc(100% - 2.995rem);height: 1.693rem;left: 0.651rem;bottom: 1.693rem;} 
	.clinics-h2-bordered{font-size: 4.688rem;line-height: 5.990rem;padding-left: 0;padding-bottom: 4.688rem;margin-bottom: 7.552rem;margin-top: 9.766rem;border-top: solid 2px #000;padding-top: 4.948rem;margin-left: 4.297rem;margin-right: 4.297rem;padding-bottom: ;} 
	.clinics-row{padding: 0 4.427rem 0 4.427rem;margin-bottom: 7.552rem;flex-direction: column;} 
	.clinics-row-title{font-size: 3.125rem;line-height: 5.339rem;width: 100%;margin-bottom: 4.557rem;} 
	.clinics-row-desc{font-size: 3.125rem;line-height: 4.036rem;width: 100%;} 
	.clinics-numered-list{margin-top: 0;margin-bottom: 2.734rem;flex-wrap: wrap;width: calc();} 
	.clinics-numered-list.tab-3-col .clinics-numered-list-item{width: 31.771rem;padding-top: 0;min-height: 49.219rem;padding-left: 0.911rem;} 
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-title{font-size: 2.344rem;line-height: 3.125rem;margin-left: 1.042rem;} 
	.clinics-numered-list.tab-3-col .clinics-simple-text{font-size: 2.083rem;line-height: 1.3;margin-bottom: 1.823rem;} 
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-num{line-height: 7.161rem;font-size: 11.198rem;margin-bottom: 5.208rem;margin-left: 0.781rem;} 
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-desc{margin-left: 1.563rem;} 
	.clinics-numered-list-item{min-height: 37.109rem;padding-left: 1.693rem;padding-top: 1.693rem;width: 47.786rem;margin-bottom: 5.078rem;align-items: flex-start;} 
	.clinics-numered-list-item:last-child{width: 47.786rem;} 
	.clinics-numered-list-item-num{font-size: 11.068rem;line-height: 10.938rem;margin-left: 0.000rem;letter-spacing: normal;margin-bottom: 5.339rem;} 
	.clinics-numered-list-item-desc{font-size: 2.083rem;line-height: 3.385rem;margin-left: 0.781rem;letter-spacing: normal;} 
	.clinics-numered-list-item-title{font-size: 3.125rem;line-height: 4.036rem;text-align: left;} 
	.clinics-numered-list-item.without-border{border-left: solid 2px #000}
	.clinics-li{margin-bottom: 2.865rem;} 
	.clinics-li:before{width: 13.151rem;left: -14.453rem;top: 50%;} 
	.clinics-h3-title{font-size: 4.688rem;line-height: 5.339rem;margin-top: 15.365rem;margin-left: 4.427rem;border-top: solid 0.260rem #000;border-bottom: solid 0.260rem #000;padding: 5.078rem 0;margin-right: 4.297rem;} 
	.clinics-img-content{padding-left: 0;margin-top: 0;margin-bottom: 3.776rem;} 
	.clinics-text-in-bordered-box{font-weight: 700;font-size: 3.125rem;line-height: 1.2;margin: 7.552rem 4.297rem 4.167rem 4.297rem;padding: 4.818rem 3.776rem 4.557rem 0.000rem;} 
	.clinics-text-purple{font-size: 3.125rem;line-height: 4.297rem;} 
	.clinics-simple-text{font-size: 3.385rem;line-height: 4.297rem;} 
	.clinics-pantocalcin-diagram{margin-left: 0;margin-top: 5.859rem;} 
	.clinics-pantocalcin-diagram img{width: 100%;} 
	.clinics-pantocalcin-diagram-desc-wrap{margin: 0 4.427rem;} 
	.clinics-pantocalcin-diagram-desc-wrap h3{margin-left: 0;margin-bottom: 8.333rem;} 
	.clinics-pantocalcin-diagram-desc-wrap p{font-size: 2.9rem;margin-bottom: 5.859rem;} 
	.clinics-pantocalcin-diagram-fullsize{margin-top: 8.594rem;padding: 0 3.255rem;} 
	.clinics-text-in-bordered-box .border-right {border-right: solid 2px currentColor; padding-right: 1.953rem; margin-right: 2.344rem;font-size: 4.688rem;line-height: 1.8;} 
	.clinics-ul{margin-left: 51%;} 
	.clinics-ul.simple-style{margin-left:0} 
	.clinics-ul.left-style{margin-leftma;margin-left: 14.453rem;} 
	.clinics-li.simple-style:before{content:initial} 
	.desktop{display: none} 
	.tablet{display: block} 
}



@media (max-width:639px) {
	.clinics-page .content-container{width: 100rem;padding-top: 2.133rem;}
	.clinics-top-wrap{display: flex;flex-direction: column-reverse;width: calc(100% + 4.28rem);}
	.clinics-top-wrap .logo{width: 23.467rem;margin: 6.4rem 0 6.4rem 5.867rem;}
	.clinics-h1-title{margin: 0 0 0 4.8rem;font-size: 9.067rem;line-height: 130%;}
	.clinics-main-photo{margin-top: 2.667rem;padding-left: 0;}
	.clinics-h1-title span:before{width: calc(100% - 6.133rem);height: 1.333rem;left: 1.333rem;bottom: 1.867rem;}
	.clinics-h2-bordered{font-size: 5.867rem;line-height: 7.2rem;border-top: solid 1px #000;border-bottom: solid 1px #000;margin: 10.667rem 7.733rem 7.333rem 4.533rem;padding: 6.133rem 0 7.2rem 0;}
	.clinics-row{padding: 0 9.067rem 0 4.800rem;margin-bottom: 12rem;flex-direction: column;}
	.clinics-row-title{font-size: 4.267rem;line-height: 10.933rem;width: 100%;margin-bottom: 3.467rem;}
	.clinics-row-desc{font-size: 4.267rem;line-height: 5.600rem;width: 100%;}
	.clinics-numered-list{margin-bottom: 5.600rem;}
	.clinics-numered-list.tab-3-col .clinics-numered-list-item{min-height: 62.933rem;padding-left: 1.867rem;padding-top: 1.600rem;width: 47.2rem;margin-bottom: 12rem;align-items: flex-start;}
	.clinics-numered-list.tab-3-col .clinics-numered-list-item:last-child{width: calc(100% - 5.333rem);}
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-num{font-size: 11.733rem;line-height: 12.267rem;letter-spacing: normal;margin-bottom: 2.667rem;margin-left: 0rem;}
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-desc{font-size: 4.267rem;line-height: 6.933rem;margin-left: 0;letter-spacing: normal;}
	.clinics-numered-list.tab-3-col .clinics-numered-list-item-title{font-size: 3.200rem;line-height: 4rem;text-align: left;}
	.clinics-numered-list-item{min-height: 45.867rem;padding-left: 1.867rem;padding-top: 1.600rem;width: 47.2rem;margin-bottom: 12rem;align-items: flex-start;}
	.clinics-numered-list-item:last-child{width: 47.200rem;}
	.clinics-numered-list-item-num{font-size: 11.733rem;line-height: 12.267rem;letter-spacing: normal;margin-bottom: 2.667rem;margin-left: 0rem;}
	.clinics-numered-list-item-desc{font-size: 4.267rem;line-height: 6.933rem;margin-left: 0rem;letter-spacing: normal;}
	.clinics-numered-list-item-title{font-size: 4.267rem;line-height: 5.333rem;text-align: left;}
	.clinics-li{margin-bottom: 4.267rem;}
	.clinics-li:before{width: 13.600rem;left: -17.600rem;top: 50%;}
	.clinics-h3-title{font-size: 5.867rem;line-height: 7.733rem;margin-top: 17rem;margin-left: 4.800rem;border-top: solid 1px #000;border-bottom: solid 1px #000;padding: 5.867rem 0;margin-right: 4.8rem;}
	.clinics-img-content{padding-left: 0;margin-top: 0;margin-bottom: 7.733rem;}
	.clinics-text-in-bordered-box{font-weight: 700;font-size: 4.267rem;line-height: 1.3;margin: 12rem 4.8rem 8.533rem 4.8rem;padding: 6.667rem 7.733rem 6.667rem 0;display: flex;flex-direction: column;align-items: flex-start;border-top: 1px solid #000;border-bottom: 0.267rem solid #000;}
	.clinics-text-purple{font-size: 4.267rem;line-height: 5.6rem;}
	.clinics-simple-text{font-size: 6.933rem;line-height: 8.8rem;}
	.clinics-pantocalcin-diagram{margin-left: 0;margin-top: 12rem;}
	.clinics-pantocalcin-diagram img{width: 100%;}
	.clinics-pantocalcin-diagram-desc-wrap{margin: 0 4.8rem;}
	.clinics-pantocalcin-diagram-desc-wrap h3{margin-left: 0;margin-bottom: 17.067rem;}
	.clinics-pantocalcin-diagram-desc-wrap p{font-size: 3.733rem;margin-bottom: 12rem;}
	.clinics-pantocalcin-diagram-fullsize{margin-top: 17.600rem;padding: 0 6.667rem;}
	.clinics-text-in-bordered-box .border-right {border-bottom: solid 0.533rem currentColor; padding-right: 0; margin-right: 0;font-size: 5.867rem;line-height: 1.3;border-right: none;margin-bottom: 9.333rem;}
	.clinics-ul{margin-left: 36%;}
	.clinics-numered-list.tab-3-col .clinics-simple-text{letter-spacing: -0.01em;text-transform: uppercase;font-size: 2.347rem;line-height: 2.817rem;}
	.clinics-ul.left-style{margin-leftma;margin-left: 29.600rem;}
}